<label class="grid_2">Default topic?</label>
<%= f.check_box :default %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Enabled?</label>
<%= f.check_box :enabled %>
<div class="clear"></div>
<div class="space_5"></div>

<%= f.label :user_subdomain, 'Enable user profile on subdomain ?', :class => 'grid_2' %>
<%= f.check_box :user_subdomain %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Topic name</label>
<%= f.text_field :name %>
<%= f.error_message_on :name %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Topic hosts</label>
<%= f.text_field :hosts %>
<%= f.error_message_on :hosts %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Topic label</label>
<%= f.text_field :label %>
<%= f.error_message_on :label %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Site title Prefix</label>
<%= f.text_field :site_title %>
<%= f.error_message_on :site_title %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Site icon</label>
<%= f.text_field :banner_image_path %>
<%= f.error_message_on :banner_image_path %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Site Map Key</label>
<%= f.text_field :gmap_key %>
<%= f.error_message_on :gmap_key %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">FB connect key</label>
<%= f.text_field :fb_connect_key %>
<%= f.error_message_on :fb_connect_key %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">FB connect secret</label>
<%= f.text_field :fb_connect_secret %>
<%= f.error_message_on :fb_connect_secret %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">CSS</label>
<%= f.text_area :css, :rows => 5, :class => 'grid_7', :style => 'margin-left: 0;'  %>
<%= f.error_message_on :css %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Meta tags</label>
<%= f.text_area :meta_tags_html, :rows => 5, :class => 'grid_7', :style => 'margin-left: 0;'  %>
<%= f.error_message_on :meta_tags_html %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Email footer</label>
<%= f.text_area :email_footer, :rows => 5, :class => 'grid_7', :style => 'margin-left: 0;'  %>
<%= f.error_message_on :email_footer %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Site description</label>
<%= f.text_area :description, :rows => 5, :class => 'grid_7', :style => 'margin-left: 0;' %>
<%= f.error_message_on :description %>
<div class="clear"></div>
<div class="space_5"></div>

<label class="grid_2">Theme</label>
<%= f.select :theme, @themes, {:include_blank => 'Default template'} %>
<div class="clear"></div>


<label class='grid_2'>Site labels</label><br/>
<div class='labels' id='site_labels'>

  <% if @topic.new_record? || @topic.site_labels.nil? %>
    <% 2.times do |label| %>
      <div class='label' id="label_<%= label %>">
        <div class="grid_2">
          label <%= label %>
        </div>
        <div class='label grid_6'>
          <input type='text' name="site_labels[][old]"/>
          <input type='text' name="site_labels[][new]"/>
        </div>
      </div>
      <br clear="all"/>
    <% end %>
  <% else %>
    <% @topic.site_labels.each_with_index do |label, index| %>
      <div class='label' id="label_<%= index %>">
        <div class="grid_2">
          label <%= index + 1 %>
        </div>
        <div class='label grid_6'>
          <input type='text' name="site_labels[][old]" value="<%= label['old']%>" />
          <input type='text' name="site_labels[][new]" value="<%= label['new']%>" />
          <select name='site_labels[][group]'>
            <option value="" <%= label['group'].nil? ? "selected='selected'" : '' %>>Global scope</option>
            <option value="view" <%= label['group'] == 'view' ? "selected='selected'" : '' %>>View</option>
          </select>
          <a href='javascript:void(0)'
             onclick="$('#label_<%= index %>').remove(); $('#label_<%= index %>_br').remove()">(x)</a>
        </div>
      </div>
      <br clear="all" id="label_<%= index %>_br"/>
    <% end %>
  <% end %>
</div>

<div class="clear"></div>
<div class="grid_6 align_right" >
  <a href='javascript: void(0)'
     onclick="$('#site_labels').html($('#site_labels').html() + $('#sample_fields').html());">(+add more..)</a>
</div>

<div id="sample_fields" style="display: none">
  <div class='label'>
    <div class="grid_2">
      label (new)
    </div>
    <div class='label grid_6'>
      <input type='text' name="site_labels[][old]"/>
      <input type='text' name="site_labels[][new]"/>
    </div>
  </div>
  <br clear="all"/>
</div>

<%= f.error_message_on :site_labels %>
<div class="clear"></div>
<div class="space_5"></div>
