<%
   images = topic_event.related_images.by_group(nil).collect(&:image)

   index = index || 0
   grid_class = grid_class || 'grid_7'
   only_html = only_html || false
%>

<div class="site_list_item listItemEvent event" id="list_item_topic_event_<%= topic_event.id %>">
  <% if topic_event.rand_image.present? %>
    <div class="image_small">
      <%= link_to image_tag(topic_event.rand_image.public_filename(:small)), 'javascript:void(0)' %>
    </div>
  <% else %>
    <div class="image_small">
      <img alt='N/I'/>
    </div>
  <% end %>

  <div class="<%= grid_class %>">
    <h4>
      <%= event_link(topic_event, :length => 30) %>
    </h4>

    <div class="eventStatus">
      <%= render_friendly_event_schedule(topic_event) %>
    </div>
    <div class="site_list_item_rating">
      <%= render_restaurant_review_stats(topic_event) %>
      <% if @display_tools.nil? || @display_tools %>
        <span id='topic_event_<%= topic_event.id %>_tools'>
          <% if not @cached %>
            <%= render :partial => 'topic_events/parts/tools', :locals => {:topic_event => topic_event} %>
          <% end %>
        </span>
      <% end %>
    </div>


    
  </div>
  <div class="clear"></div>
</div>