<%
   box_config = defined?(config) ? config : {}
   images = topic_event.related_images.by_group(nil).collect(&:image)
   if images && images.empty?
     images = topic_event.other_images
   end
%>
<table>
  <tr>
    <td>
      <% if !images.empty? %>
        <%= link_to(image_tag(images.rand.public_filename(:c_very_small), :alt => 'N/A'),
                    event_long_url(topic_event), :class => 'image_small') %>
      <% else %>
        <%= link_to(image_tag('/images/fresh/no-dp.png'),
                    event_long_url(topic_event),
                    :class => 'image_small') %>
      <% end %>
    </td>
    <td valign="top">
      <%= link_to truncate(topic_event.name, :length => 20),
                  event_long_url(topic_event), :title => topic_event.name %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <% if box_config[:show_contribution] %>
        <%= render_restaurant_review_stats_by_user(@user, topic_event, box_config[:show_contribution]) %>
      <% else %>
        <%= render_restaurant_review_stats(topic_event) %>
      <% end %>
    </td>
  </tr>
</table>