<div class="grid_8" id="site_center_list">
  <h1 class='breadcrumbs'>
    <%= render_breadcrumbs %>
  </h1>
  <div class='clear'></div>
  <div class="break space_10"></div>
  <div class='info'><%= page_entries_info @stuff_events %></div>
  <div class="space_5"></div>
  <div class="break space_5"></div>
  <% if !@stuff_events.empty? %>
    <% @stuff_events.each do |stuff_event| %>
      <%= render :partial => 'stuff_events/parts/stuff_event',
                 :locals => {:stuff_event => stuff_event} %>
    <% end %>

    <div class='pagination'>
      <span class="date"><%= page_entries_info @stuff_events %></span>
      <%= will_paginate @stuff_events %>
    </div>
  <% else %>
    <%= t('label.no_review', :name => @topic.name.humanize) %>
  <% end %>
  <div class='clear'></div>
</div>

<div class="grid_4" id="site_center_boxes">
  <% if not @cached %>
  	<%= render :partial => 'layouts/fresh_parts/modules' %>
  <% else %>
    <div id='right_side_boxes' class='loadingIndicator'>
    	<%= image_tag 'loader.gif' %><br/>
    	Loading boxes …
    </div>
  <% end %>
</div>

<% if @cached %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'restaurant_tools', :restaurant_ids => @restaurants.collect(&:id)), :defer => 'defer' %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'page_side_modules'), :defer => 'defer' %>
<% end %>

<script type='text/javascript'>
	(function() {
		var timer = null;

		function showOrHide($el, show) {
			var $hiddenStuffs = $('#' + $el.attr('id') + '_hidden_stuffs');
			if (show) {
				$el.removeClass('rowHover').addClass('rowHover');
				$hiddenStuffs.show();

				if (timer) {
					clearTimeout(timer);
				}
				timer = setTimeout(function() {
					$el.removeClass('rowHover');
					$hiddenStuffs.fadeOut();
				}, 6000);
			} else {
				if (timer) {
					clearTimeout(timer);
				}

				timer = setTimeout(function() {
					$el.removeClass('rowHover');
					$hiddenStuffs.fadeOut();
				}, 1000);
			}
		}

		$('#site_center_list .site_list_item').each(function() {
			var $item = $(this);
			$item.bind('mouseover', function(e) {
				showOrHide($(this), true);
			});

			$item.bind('mouseout', function(e) {
				showOrHide($(this), false);
			});
		});
	})();
</script>