<div class="grid_8" id="site_center_list">
  <h4>
    <% @breadcrumbs.each do |link| %>
      <%= link_to link.first, link.last %> &raquo;
    <% end %>
    <% if current_user %>
      <%= tt('subheader.activities') %>
    <% else %>
      <%= t('subheader.ongoing_activities') %>
    <% end %>
  </h4>
  <div class="break space_5"></div>

  <% if !@stuff_events.empty? %>
    <% @stuff_events.each do |stuff_event| %>
      <%= render :partial => 'stuff_events/parts/stuff_event',
                 :locals => {:stuff_event => stuff_event} %>
    <% end %>

    <div class='pagination'>
      <span class="date"><%= page_entries_info @stuff_events %></span>
      <%= will_paginate @stuff_events %>
    </div>
  <% else %>
    <%= t('label.no_review', :name => @topic.name.humanize) %>
  <% end %>
</div>