<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>
    <%= @premium_template.site_title %>
    <% if @site_title %>
      :: <%= @site_title %>
    <% end %>
  </title>

  <%= @premium_template.meta_tags %>

  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application',
                             :cache => 'cache_all.js' %>

  <%= javascript_include_tag 'jquery.ajaxify' %>

  <%= stylesheet_link_tag 'jquery-ui-lightness/jquery.css' %>
  <%= stylesheet_link_tag 'templates/laalshop/site' %>
  <%= stylesheet_link_tag 'fresh/premium_admin' %>
</head>
<body>

<div class='mainSet'>
  <div class='navSet'>
    <div class='logo'>
      <%= pt_image_tag 'logo.png' %>
    </div>

    <div class='nav'>
      <%= render_module :dynamic_menu, :key => :top %>
    </div>
    <div class='clear'></div>
  </div>
  <div class='clear'></div>

  <div class='bodySet'>
    <div class='leftNav'>
      <%= render_module :dynamic_menu, :key => :side %>
    </div>

    <div class='centerContent'>
      <div class='slider'>
        <div class='image'>
          <%= pt_image_tag 'sample.png', :class => 'displayImage' %>

          <div class='imageStuffs'>
            <div class='pagination'>
              <%= link_to '&lt;', {}, :class => 'prev' %>&nbsp;&nbsp;&nbsp;1 / 100&nbsp;&nbsp;&nbsp;<%= link_to '&gt;', {}, :class => 'next' %>
            </div>
            <div class='overlay'>
              <h4>
                <%= link_to 'LEHANGA', '#' %>
              </h4>
              <div class='description'>
                Cotton 80% + Polyester 20%
              </div>
              <div class='price'>
                Price: $250
              </div>
            </div>

            <div class='imagePagination'>
              <ul>
                <li>
                  <a href='#'><%= pt_image_tag 'snav-prev.png', :class => 'navPrev' %></a>
                </li>

                <li><a href='#'><%= pt_image_tag 'thumb1.png', :class => 'thumb' %></a></li>
                <li><a href='#'><%= pt_image_tag 'thumb1.png', :class => 'thumb'  %></a></li>
                <li><a href='#'><%= pt_image_tag 'thumb1.png', :class => 'thumb'  %></a></li>
                <li><a href='#'><%= pt_image_tag 'thumb1.png', :class => 'thumb'  %></a></li>

                <li>
                  <a href='#'><%= pt_image_tag 'snav-next.png', :class => 'navNext' %></a>
                </li>
              </ul>
              <div class='clear'></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class='clear'></div>
  </div>
  <div class='clear'></div>

  <div class='footerSet'>
    FOLLOW US FB, TW
  </div>
</div>

</body>
</html>