<div class='wrapper'>
  <div class='mailTop'>
    <div class='mailLogo'>
      <%= link_to image_tag('/images/fresh/icon.png'), root_url %>
    </div>
    <div class='mailTag'>
      <%= @topic.site_title %>
    </div>
    <br clear='all'/>
  </div>

  <div class='mailContent'>
    <h1 style="margin: 0;">Hi <%= user_link(@review.any.user) %>,</h1>
    <h4 style="margin: 0">"<%= link_to @review.user.login.humanize, user_long_url(@review.user) %>" just reviewed
      "<%= link_to @review.any.name, @url %>".</h4>

    <blockquote><%= h @review.comment %></blockquote>

    <div class='mailActions'>
      To reply on the comment follow the link below -
      <%= link_to 'Click here', @url %>
      <br/>
      Plain url: <%= h @url %>
    </div>
    <div class='space_10'></div>

    <% if @review.any.is_a?(Restaurant) %>
      Related restaurant -
      <div class='break'></div>
      <div class='space_10'></div>
      <% if @review.any.is_a?(Restaurant) %>
        <%= render :partial => 'restaurants/parts/restaurant',
                   :locals => {:restaurant => @review.any} %>
      <% elsif @review.any.is_a?(TopicEvent) %>
        <%= render :partial => 'topic_events/parts/event',
                   :locals => {:topic_event => @review.any} %>
      <% end %>
      <div class='space_10'></div>
    <% end %>

    <pre class='footer'><%= @topic.email_footer %></pre>
  </div>
  <div class='mailFooter'>
    <%= render_feature_restaurants_box %>
    <p>
      <%= @topic.description %>
    </p>
  </div>
</div>