<style type='text/css'>
	<%= @event.custom_css if !@event.custom_css.blank? %>
</style>
<div id="site_center">
  <div class='grid_12 event_banner'>
	<% if @event.selected_banner %>	
	  <%= image_tag(@event.selected_banner.public_filename) %>
	  <div class='space_10'></div>
	<% end %>
  </div>  
  <div class="grid_8 restaurant_details">
    <div class="breadcrumbs">
      <%= link_to 'Events', root_url %> &raquo;
      <span class="review_tools" id="event_<%= @event.id %>_tools">
        <% if logged_in? && @event.author?(current_user) %>
			<%= link_to t('nav.edit'), edit_event_path(@event) %>
		<% end %>
      </span>
    </div>
    <div class="break space_5"></div>
    <div class="restaurant_details">
      <h1><%= @event.name %></h1>

      <div class='space_10'></div>
      <fb:like href="<%= request.url %>"></fb:like>

      <%= render :partial => 'images/parts/image_gallery', :object => @event %>
      <div class='contentDetails'>
        <%= @event.description %>
      </div>

      <% if @event.description.length > 400 %>
        <div class='clear space_10'></div>
        <div class='redBreak'></div>
        <div class='contentDetailsTools'>
          <a href='javascript:void(0)' class='readMoreLess'
             onclick='$(".contentDetails").css("max-height", "inherit").css("overflow-y", "visible"); $(".contentDetailsTools .readMoreLess").toggle()'><%= t('nav.more') %></a>
          <a href='javascript:void(0)' class='readMoreLess readLess'
             style='display:none' onclick='$(".contentDetails").css("max-height", "200px").css("overflow-y", "hidden"); $(".contentDetailsTools .readMoreLess").toggle()'><%= t('nav.less') %></a>
        </div>        
      <% end %>
	  <div class='clear space_10'></div>

      <div class='properties'>
		<div class='event_schedule' id='event_schedule'>
		  <% if @event.start_at %>
			<% time_now = Time.now.to_date %>
		    <% if @event.start_at.to_date > time_now %>
				<div class='grid_2'><b>Starting with in</b></div>
				<div class='grid_4'><%= distance_of_time_in_words(@event.start_at, Time.now) %> <i>(<%= @event.start_at.to_s(:short) %>)</i></div>
				<div class='grid_2'><b>Ending at</b></div>
				<div class='grid_4'><%= @event.end_at.to_s(:short) %></div>
			<% elsif @event.start_at.to_date <= time_now && @event.end_at.to_date >= time_now %>
				<div class='grid_2'><b>Started</b></div>
				<div class='grid_4'><%= distance_of_time_in_words(@event.start_at, Time.now) %> ago. <i>(<%= @event.start_at.to_s(:short) %>)</i></div>
				<div class='grid_2'><b>Ending at</b></div>
				<div class='grid_4'><%= @event.end_at.to_s(:short) %></div>
			<% elsif @event.end_at.to_date < time_now %>
				<div class='grid_2'><b>Closed</b></div>
				<div class='grid_4'><%= distance_of_time_in_words(@event.end_at, Time.now) %> ago. <i>(<%= @event.start_at.to_s(:long) %>)</i></div>
				<div class='grid_2'><b>Schedule</b></div>
				<div class='grid_4'>
					<i>Started at: <%= @event.start_at.to_s(:long) %></i><br/>
					<i>Ended at: <%= @event.end_at.to_s(:long) %></i>
				</div>
			<% end %>
		  <% end %>
		</div>
        <% (@event.description_fields || []).each do |field| %>
          <%
             field_label = field['label']
             field_type = field['field_type']
             field_value = field['value']
			 display = field['display'] || true
          %>
          <% if field_value && display %>
            <div class="grid_2">
              <strong><%= field_label %></strong>
            </div>
            <div class="grid_4">
              <%= auto_link(h(field_value)) %>
            </div>
            <div class="clear"></div>
          <% end %>
        <% end %>
      </div>
      <div class="clear"></div>
      <div class="space_10"></div>

      <div class="clear"></div>
      <div class="bookmark_tools">
        <%= distance_of_time_in_words(@event.created_at, Time.now) %>
        <%= t('label.ago') %> <%= t('label.added_by') %>
        <%= link_to @event.user.login, user_long_url(@event.user) %>.

        <a class="addthis_button"
           href="http://www.addthis.com/bookmark.php?v=250&amp;pub=we4tech">
          <img src="http://s7.addthis.com/static/btn/v2/lg-bookmark-en.gif"
               width="125" height="16" alt="Bookmark and Share"
               style="border:0"/>
        </a>
        <script type="text/javascript"
                src="http://s7.addthis.com/js/250/addthis_widget.js#pub=we4tech">
        </script>
      </div>
      <div class="space_5"></div>
      <div class='clear'></div>
    </div>
    <div class="clear"></div>

    <div id='imageUploader'>
      <% if !@cached %>
      	<% 
# render(:partial => 'contributed_images/parts/add') 
%>
      <% end %>
    </div>

    <% 
# render :partial => 'contributed_images/parts/image_gallery' 
%>
    <div class="clear space_10"></div>

    <div class="break"></div>
    <div class='space_10'></div>
    <div id='restaurantReviewEditor'>
      <%= render :partial => 'reviews/parts/review_editor', :locals => {:topic_event => @event} %>
    </div>
    <div class='break'></div>
    <div class='clear'></div>
    <div class='space_10'></div>
    <%= render :partial => 'reviews/parts/restaurant_review',
               :locals => {:topic_event => @event} %>

    <div class="space_10"></div>
  </div>

  <div class="grid_4" id="site_center_boxes">

    <% if @topic.name == 'restaurant' && defined?(@restaurant) %>
      <div class="site_simple_box restaurant_address" align="center">
        <a href='mailto:biz@welltreat.us?subject=[BIZ knock knock]'
           title="<%= t('title.own_this') %>">
          <%= image_tag('fresh/button_do_u_own_this.png') %>
        </a>
      </div>
      <div class="clear"></div>
      <div class="space_10"></div>
    <% end %>

    <% if !(@event.address || '').blank? %>
      <div class="site_simple_box restaurant_address">
        <h4>
          <%= t('fields.address') %>
        </h4>
        <% if @event.lat.to_i > 0 && @event.lng.to_i > 0 %>
          <% map_url = "http://maps.google.com/maps/api/staticmap?center=" +
              "#{@event.lat},#{@event.lng}&zoom=14&" +
              "sensor=false&markers=color:green|label:R|" +
              "#{@event.lat},#{@event.lng}&key=#{@topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key}&size="
             details_link = "http://maps.google.com/maps?f=q&" +
                 "q=#{CGI.escape(@event.address)}&hl=en&" +
                 "geocode=&sll=#{@event.lat},#{@event.lng}"
          %>

          <div class="space_5"></div>
          <%= link_to image_tag(map_url + "300x300"), full_map_url(:eid => @event.id),
                      :class => 'xopenUpinLightBox',
                      :title => link_to(t('fields.map'), details_link) %>
        <% end %>
        <address>
        	<%= @event.address %>
        	<% if @event.located_in_map? %>
        		<%= link_to '[Large map]', full_map_url(:eid => @event.id) %>
        	<% end %>
        </address>
      </div>
    <% end %>
    <div class="clear"></div>

    <%= render_who_wanna_go_there(@event) %>

    <%= render :partial => 'layouts/fresh_parts/modules' %>
  </div>
</div>

<div class="hreview-aggregate">
   <span class="item">
      <span class="<%= I18n.locale.to_s %>"><%= @event.name %></span>
   </span>
   <span class="rating">
      <span class="average"><%= @event.rating_out_of(Restaurant::RATING_LIMIT) %></span> out of
      <span class="best"><%= Restaurant::RATING_LIMIT %></span>
   </span>
  based on
  <span class="count"><%= @event.reviews.loved.count %></span> ratings.
  <span class="votes"><%= @event.reviews.count %></span> user reviews.
</div>

<div class="vcard">
  <span class="<%= I18n.locale.to_s %> org"><%= @event.name %></span>
  Located at
  <div class="adr">
    <%= @event.address %>
  </div>
   <span class="geo">
      <span class="latitude">
         <span class="value-title" title="<%= @event.lat %>"></span>
      </span>
      <span class="longitude">
         <span class="value-title" title="<%= @event.lng %>"></span>
      </span>
   </span>
   <div class='clear'></div>
</div>



<script type="text/javascript">
  $(document).ready(function() {
    $(".openUpinLightBox").prettyPhoto();
  });

$('.edit_review textarea, .new_review textarea').each(function() {
    $(this).bind('keypress', function() {
	  var text = $(this).val();
	  var lines_count = text.split('\n').length + 1;
	  var $this = $(this);
	
if (lines_count > 4) {
		$this.css('height', 'auto');	
	  }
 });
  });
  $('.review_comment_form').hide();
</script>
<% if @cached %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'authenticity_token') %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'module_render_recently_added_places', :event_id => @event.id) %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'restaurant_view_tools', :event_id => @event.id) %>
<% end %>
