<style type='text/css'>
  <%= @event.custom_css if !@event.custom_css.blank? %>
</style>

<div class="restaurantContainer eventContainer">
  <% if @event.selected_banner %>
    <div class="event_banner">
      <%= image_tag(@event.selected_banner.public_filename) %>
    </div>
    <div class='space_10'></div>
  <% end %>

  <div class='grid_8'>

    <!-- Details part 1 - (The information) -->
    <div class="details rightCornerOff">
      <div class="heading">
        <h1><%= @event.name %></h1>

        <% if not @event.tags.empty? %>
          <div class="tags">
            <%= render_tags_by_group @event.tags %>
            <div class="clear"></div>
          </div>
        <% end %>

        <div id='event_<%= @event.id %>_tools'></div>
      </div>
      <div class="clear"></div>
      <div class="space_10"></div>

      <div class='grid_5 restaurantContent'>
        <% if @event.image_attached? %>
          <%= image_tag(@event.rand_image.public_filename(:very_large), :class => 'frontImage') %>
          <div class="clear"></div>
          <div class="space_5"></div>
        <% end %>

        <div class='properties'>
          <div class='event_schedule' id='event_schedule'>
            <% if @event.start_at %>
              <% time_now = Time.now.to_date %>
              <% if @event.start_at.to_date > time_now %>
                <div class='grid_1'><b>Starting with in</b></div>
                <div class='grid_3'><%= distance_of_time_in_words(@event.start_at, Time.now) %>
                  <i>(<%= @event.start_at.to_s(:short) %>)</i></div>
                <div class='grid_1'><b>Ending at</b></div>
                <div class='grid_3'><%= @event.end_at.to_s(:short) %></div>
              <% elsif @event.start_at.to_date <= time_now && @event.end_at.to_date >= time_now %>
                <div class='grid_1'><b>Started</b></div>
                <div class='grid_3'><%= distance_of_time_in_words(@event.start_at, Time.now) %> ago.
                  <i>(<%= @event.start_at.to_s(:short) %>)</i></div>
                <div class='grid_1'><b>Ending at</b></div>
                <div class='grid_3'><%= @event.end_at.to_s(:short) %></div>
              <% elsif @event.end_at.to_date < time_now %>
                <div class='grid_1'><b>Closed</b></div>
                <div class='grid_3'><%= distance_of_time_in_words(@event.end_at, Time.now) %> ago.
                  <i>(<%= @event.start_at.to_s(:long) %>)</i></div>
                <div class='grid_1'><b>Schedule</b></div>
                <div class='grid_3'>
                  <i>Started at: <%= @event.start_at.to_s(:long) %></i><br/>
                  <i>Ended at: <%= @event.end_at.to_s(:long) %></i>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
        <div class="clear"></div>
        <div class="space_10"></div>
        <%= render_address_in_map(@event) %>
        <div class="clear"></div>
        <div class="space_10"></div>

        <%= sanitize @event.description %>
        <div class="clear"></div>
        <div class="space_10"></div>
      </div>

      <div class="grid_3 restaurantContentMiddle">
        <%= render_restaurant_status(@event) %>
        <div class="clear"></div>
        <div class="space_10"></div>

        <h4 class="subHeaderWithIcon">User activity</h4>

        <div class="site_simple_box">
          <%= render_restaurant_status_in_graph(@event) %>
        </div>
        <div class="clear"></div>
        <div class="space_10"></div>

        <h4 class="subHeaderWithIcon topBothCornerHeader clickable yellowish">
          Explored by<br/>
          <%= user_link(@event.user) %>
        </h4>

        <h4 class="subHeaderWithIcon clickable yellowish">
          <%= link_to 'Write your review', '#restaurantReviewEditor', :onclick => "$('#review_comment').focus();" %>
        </h4>

        <div class="clear"></div>
        <div class="space_10"></div>

      </div>
      <div class="clear"></div>
    </div>
    <div class="clear space_10"></div>
    <!-- The information part ends here -->

    <!-- Details part 2 (The image slider) -->
    <div class="details restaurantSlide" id='imageSlider'>
      <% @event.all_images.each do |image| %>
        <div class="image">
          <%= link_to image_tag(image.small_public_filename,
                                :alt => image.caption,
                                :title => image.caption), image_path(image) %>
        </div>
      <% end %>

      <div class="clear"></div>
    </div>
    <div class="clear space_10"></div>
    <!-- The image slider part ends here -->

    <!-- Details part 3 (The review) -->
    <div class='details restaurantReviews'>
      <div id='restaurantReviewEditor'>
        <%= render :partial => 'reviews/parts/review_editor' %>
      </div>
      <div class='break'></div>
      <div class='clear space_10'></div>
      <%= render :partial => 'reviews/parts/restaurant_review',
                 :locals => {:restaurant => @event} %>
    </div>
    <!-- The review part ends here -->
  </div>

  <div class="grid_4 restaurantRightSide" id="site_center_boxes">
    <% if not @cached %>
      <%= render :partial => 'layouts/fresh_parts/modules' %>
    <% else %>
      <div id='right_side_boxes' class='loadingIndicator'>
        <%= image_tag 'loader.gif' %>
        <br/>
        Loading boxes …
      </div>
    <% end %>
    <div class="clear"></div>
  </div>

</div>

<div class="hreview-aggregate">
   <span class="item">
      <span class="<%= I18n.locale.to_s %>"><%= @event.name %></span>
   </span>
   <span class="rating">
      <span class="average"><%= @event.rating_out_of(Restaurant::RATING_LIMIT) %></span> out of
      <span class="best"><%= Restaurant::RATING_LIMIT %></span>
   </span>
  based on
  <span class="count"><%= @event.reviews.loved.count %></span> ratings.
  <span class="votes"><%= @event.reviews.count %></span> user reviews.
</div>

<div class="vcard">
  <span class="<%= I18n.locale.to_s %> org"><%= @event.name %></span>
  Located at
  <div class="adr">
    <%= @event.address %>
  </div>
   <span class="geo">
      <span class="latitude">
         <span class="value-title" title="<%= @event.lat %>"></span>
      </span>
      <span class="longitude">
         <span class="value-title" title="<%= @event.lng %>"></span>
      </span>
   </span>

  <div class='clear'></div>
</div>



<script type="text/javascript">
  $(document).ready(function() {
    $(".openUpinLightBox").prettyPhoto();
  });

  $('.edit_review textarea, .new_review textarea').each(function() {
    $(this).bind('keypress', function() {
      var text = $(this).val();
      var lines_count = text.split('\n').length + 1;
      var $this = $(this);

      if (lines_count > 4) {
        $this.css('height', 'auto');
      }
    });
  });
  $('.review_comment_form').hide();
</script>
<% if @cached %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'authenticity_token') %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'event_view_tools', :event_id => @event.id) %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'page_side_modules'), :defer => 'defer' %>
<% end %>
