<div class="grid_12">
  <h4><%= link_to 'Administration panel', admin_url %> &raquo; Manage topics</h4>
  <div class="break"></div>

  <%= link_to 'Create topic', new_topic_url %>
  <div class="clear"></div>
  <div class="break"></div>
  <div class="space_10"></div>

  <div class='admin_topics'>
    <% if !@topics.empty? %>
      <% @topics.each do |topic| %>
        <div class='admin_topic'>
          <b style="color: <%= topic.enabled? ? '' : 'red' %>">#<%= topic.id %> - <%= link_to topic.label, "http://#{topic.public_host}" %></b>
          [
          <%= link_to 'edit', edit_topic_url(:id => topic.id) %> |
          <%= link_to 'form attributes', form_attribute_by_topic_url(:topic_id => topic.id) %> |
          <%= link_to 'modules', edit_topic_modules_url(:id => topic.id) %> |
          <%= link_to 'export', export_topic_path(:id => topic.id, :format => :json) %> |
          <%= link_to 'import', import_topic_path(:id => topic.id) %> |
          <%= link_to 'delete', topic_url(:id => topic.id), :method => :delete, :confirm => 'Do you really want to remove this topic?' %>
          ]
        </div>
      <% end %>
    <% else %>
      No topic was created!
    <% end %>

    <div class='pagination'>
      <%= will_paginate @topics %>
    </div>
  </div>
</div>
