<div class="space_10"></div>

<%= f.text_area :comment %>
<div class='reviewOptions'>
  <span class="group_buttons icon_loved">
    <%= f.radio_button :loved, 1, :checked => true %>
    <label for="review_loved_1"><%= tt('label.i_love') %></label>
  </span>
  <span class="group_buttons icon_hated"><%= f.radio_button :loved, 0 %>
    <label for="review_loved_0"><%= tt('label.i_dislike') %></label>
  </span>
  <span class="group_buttons"><%= f.radio_button :loved, 2 %>
    <label for="review_loved_2"><%= tt('label.i_wannago') %></label>
  </span>

  <%= tt('label.this_place') %>
</div>