<% attached_options = attached_options || {} %>

<div class="review_form">
  <% form_for Review.new, :html => {:method => :post} do |f| %>
    <h4><%= t('subheader.my_review') %></h4>
    <%= render :partial => 'reviews/parts/fields', :locals => {:f => f} %>
    <%= f.hidden_field :restaurant_id, :value => restaurant.id %>
    <% if !attached_options.empty? %>
      <%= f.hidden_field :attached_model, :value => attached_options[:attached_model] %>
      <%= f.hidden_field :attached_id, :value => attached_options[:attached_id] %>
    <% end %>


    <%= f.submit t('button.add_review') %>
  <% end %>
</div>