<% attached_options = attached_options || {} %>

<div class="review_form">
  <% form_for Review.new, :html => {:method => :post} do |f| %>
    <h4><%= t('subheader.my_review') %></h4>
    <%= render :partial => 'reviews/parts/fields', :locals => {:f => f} %>

    <% if defined?(restaurant) %>
      <%= f.hidden_field :restaurant_id, :value => restaurant.id %>
    <% elsif defined?(topic_event) %>
      <%= f.hidden_field :topic_event_id, :value => topic_event.id %>
    <% end %>

    <% if !attached_options.empty? %>
      <%= f.hidden_field :attached_model, :value => attached_options[:attached_model] %>
      <%= f.hidden_field :attached_id, :value => attached_options[:attached_id] %>
    <% end %>


    <button id='review_submit'><%= image_tag('/images/fresh/add_your_review_small.png')%></button>
    <%
       #f.submit t('button.add_review')
    %>
  <% end %>
  <div class='clear'></div>
</div>
