<div class="reviews">
  <% reviews = restaurant.reviews %>

  <% if !reviews.empty? %>
    <%
       total_reviews_count = restaurant.reviews.count
       loved_count = restaurant.reviews.loved.count
       loved_percentage = (100 / total_reviews_count) * loved_count
    %>
    <div>
      <b>Review status - </b>
      <span class="stat_item icon_review"><%= total_reviews_count %> review<%= total_reviews_count > 1 ? 's' : '' %></span>
      <span class="stat_item icon_loved"><%= loved_count %> love<%= loved_count > 1 ? 's' : '' %></span>
    </div>
    <div class="break"></div>
    <div class="clear space_10"></div>
    
    <% reviews.each do |review| %>
      <div>
        <% if review.user.image %>
          <%= link_to image_tag(review.user.image.public_filename(:very_small), :width => '40px'), "#", :class => 'image_small' %>
        <% end %>
      </div>
      <div class="review grid_6">
        <% if !review.comment.blank? %>
          <span class="content"><%= simple_format h(review.comment) %> - </span>
        <% end %>

        <span class="reviewer">
          <%= link_to review.user.login, '#' %>
          <% if review.loved? %>
            loved
          <% elsif review.hated? %>
            hated
          <% elsif review.wanna_go? %>
            wanna go to
          <% end %>
          this place!
        </span>
        <span class="date" title="<%= review.updated_at.strftime('%d %b %Y') %>">updated <%= distance_of_time_in_words(review.updated_at, Time.now) %> ago.</span>
      </div>
      <div class="clear space_5"></div>
    <% end %>
  <% else %>
    <h4>No review added yet!</h4>
  <% end %>
</div>
<div class="clear"></div>