<div class="reviews">
  <% reviews = restaurant.reviews %>

  <% if !reviews.empty? %>
    <%
       total_reviews_count = restaurant.reviews.count
       loved_count = restaurant.reviews.loved.count
       loved_percentage = (100 / total_reviews_count) * loved_count
    %>
    <div>
      <b><%= t('label.review_stat') %></b>
      <span class="stat_item icon_review">
        <%= t('label.reviews_count', :count => total_reviews_count) %>
      </span>
      <span class="stat_item icon_loved">
        <%= t('label.loves_count', :count => loved_count) %>
      </span>
    </div>
    <div class="break"></div>
    <div class="clear space_10"></div>
    
    <% reviews.each do |review| %>
      <%= render :partial => 'reviews/parts/review',
                 :locals => {:review => review} %>
      <div class="clear space_5"></div>
    <% end %>
  <% else %>
    <h4><%= t('label.no_review_added') %></h4>
  <% end %>
</div>
<div class="clear"></div>