<%
   tag_name = tag_name || 'div'
   grid_class = grid_class || 'grid_6'
   hide_comment = hide_comment || false
%>
<<%= tag_name %>>
  <% if review.user.image %>
    <%= link_to image_tag(review.user.image.public_filename(:very_small), :width => '40px', :alt => 'N/A'), user_long_url(:id => review.user.id, :login => review.user.login), :class => 'image_small' %>
  <% else %>
    <%= link_to image_tag('fresh/user.png', :width => '40px', :alt => 'N/A'), user_long_url(:id => review.user.id, :login => review.user.login), :class => 'image_small' %>
  <% end %>
</<%= tag_name %>>
<<%= tag_name %> class="review <%= grid_class %>">
  <a name="review-<%= review.id %>"></a>
  <% if !review.comment.blank? %>
    <span class="content"><%= simple_format h(review.comment) %> - </span>
  <% end %>

  <span class="reviewer">
    <%= link_to review.user.login, '#' %>
    <% if review.loved? %>
      loved
    <% elsif review.hated? %>
      hated
    <% elsif review.wanna_go? %>
      wanna go to
    <% end %>
    this place!
  </span>
  <span class="date" title="<%= review.updated_at.strftime('%d %b %Y') %>">
    updated <%= distance_of_time_in_words(review.updated_at, Time.now) %> ago.
    <% if logged_in? %>
      [<a class="date add_comment_link" href='javascript: void(0)'
          rel='<%= review.id %>'
          id="add_comment_link_<%= review.id %>">add your comment!</a>]
    <% end %>
    <% if hide_comment && review.review_comments.count > 0 %>
      <a href='javascript:void(0)'>show comments</a>
    <% end %>
  </span>
  <div class="clear"></div>
  <div class="space_10"></div>

  <%= render :partial => 'review_comments/parts/review_comment_form', :locals => {:review => review} %>

  <% comments = review.review_comments %>
  <% if !comments.empty? %>
    <div class='review_comments' style="display:<%= hide_comment ? 'none' : 'block' %>">
      <% comments.each do |comment| %>
        <div class='review_comment'>
          <span class='review_comment_author'>
            <% if comment.user.image %>
              <%= link_to "#{image_tag(comment.user.image.public_filename(:very_small), :width => '40px', :alt => 'N/A')} #{comment.user.login}", user_long_url(:login => comment.user.login, :id => comment.user.id)%>
            <% end %> -
          </span>
          <em><%= h(comment.content) %></em> 
          <span class="date" title="<%= comment.updated_at.strftime('%d %b %Y') %>">
            - 
            <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago.
            <% if comment.loved? %>
              [<span class='icon_loved'>liked</span>]
            <% else %>
              [<span class='icon_hated'>disliked</span>]
            <% end %>

            <% if comment.can_delete? %>
              [<%= link_to('delete', review_comment_url(:id => comment.id),
                           :method => 'DELETE',
                           :confirm => 'Do you really want to remove this comment?',
                           :title => 'FYI, You can remove this comment with in 10 minutes of its submission time.') %>]
            <% end %>
          </span>
        </div>
        <div class="clear"></div>
        <div class="space_10"></div>
      <% end %>
    </div>
  <% end %>
</<%= tag_name %>>

<script type="text/javascript">
  $('.add_comment_link').each(function() {
    var $self = $(this);
    $self.bind('click', function() {
      $('#review_comment_form_' + $self.attr('rel')).show();
    });
  });

  $('.review_comment_form').each(function() {
    $(this).hide();
  });
</script>