<a name="review-<%= review.id %>"></a>
<span class="reviewer">
  <% if review.loved? %>
    <span class="highlight"><%= tt('label.loved') %></span> <%= t('label.and_reviewed') %>
  <% elsif review.hated? %>
    <span class="highlight"><%= tt('label.hated') %></span> <%= t('label.and_reviewed') %>
  <% elsif review.wanna_go? %>
    <span class="highlight"><%= tt('label.wannago') %></span>
  <% end %>
  <%= link_to review.any.name, event_or_restaurant_url(review.any) if review.any %>
</span>
<span class="date" title="<%= review.updated_at.strftime('%d %b %Y') %>">
  <%= t('label.updated') %> <%= distance_of_time_in_words(review.updated_at, Time.now) %> <%= t('label.ago') %>.
</span>
