<%
   tag_name = tag_name || 'div'
   grid_class = grid_class || 'grid_6'
   hide_comment = hide_comment || false
   hide_attachment = hide_attachment || false
   hide_footer = hide_footer || false
   length = length || false
%>
<div class='reviewContainer' id='review-<%= review.id %>'>
  <<%= tag_name %> class='userImage'>
    <%= link_to image_tag(review.user.display_picture,
                          :width => '40px', :alt => 'DP'),
                user_long_url(:id => review.user.id,
                              :login => review.user.login),
                :class => 'image_small' %>
  </<%= tag_name %>>
  <<%= tag_name %> class="review <%= grid_class %> hreview">
    <% if !review.comment.blank? %>
      <div class="content" id='<%= review_content_id = "review_#{review.id}_content" %>'>
        <% if !length %>
          <%= simple_format(h(review.comment)) %>
        <% else %>
          <%= truncate(h(review.comment), length) %>
        <% end %>
      </div>

      <% if review.comment.length > 300 %>
        <a href='javascript:void(0)' class='readMoreLess'
           onclick='$("#<%= review_content_id %>").css("max-height", "inherit").css("overflow-y", "visible"); $("#review-<%= review.id %> .readMoreLess").toggle()'><%= t('featurebox.readmore') %></a>
        <a href='javascript:void(0)' class='readMoreLess readLess' style='display:none'
           onclick='$("#<%= review_content_id %>").css("max-height", "65px").css("overflow-y", "hidden"); $("#review-<%= review.id %> .readMoreLess").toggle()'><%= t('nav.less') %></a>
      <% end %>
    <% end %>

    <% if !hide_footer %>
      <span class="reviewer">
        <%= link_to review.user.login, user_long_url(
            :id => review.user.id, :login => review.user.login) %>

        <% if !hide_attachment && review.attached? %>
          <span class='attachedWith'>
            reviewed on <%= attached_link(review.attached_model, review.attachment) %> and
          </span>
        <% end %>
        <% if review.loved? %>
          <%= tt('label.loved') %>
        <% elsif review.hated? %>
          <%= tt('label.disliked') %>
        <% elsif review.wanna_go? %>
          <%= tt('label.wannago') %>
        <% end %>

      </span>

      <span class="date" title="<%= review.updated_at.strftime('%d %b %Y') %>">
        <%= t('label.updated') %> <%= distance_of_time_in_words(review.updated_at, Time.now) %> <%= t('label.ago') %>.
        <% if logged_in? %>
          [<a class="date add_comment_link" href='javascript: void(0)'
              rel='<%= review.id %>'
              id="add_comment_link_<%= review.id %>"><%= t('nav.reply') %></a>
          <%- if review.author?(current_user) -%>
          , <%= link_to t('nav.delete'), review_url(review.id), :method => :delete, :confirm => t('confirm.delete_entry') %>
          <%- end -%>
          ]
        <% end %>
        <% if hide_comment && review.review_comments.count > 0 %>
          <a href='javascript:void(0)'><%= t('nav.show_comments') %></a>
        <% end %>
      </span>
    <% end %>

    <% if !hide_comment %>
      <div class="clear"></div>
      <div class="space_10"></div>

      <%= render :partial => 'review_comments/parts/review_comment_form', :locals => {:review => review} %>

      <% comments = review.review_comments %>
      <% if !comments.empty? %>
        <div class='review_comments' style="display:<%= hide_comment ? 'none' : 'block' %>">
          <% comments.each do |comment| %>
            <div class='review_comment'>
              <span class='review_comment_author'>
                <%= link_to "#{image_tag(comment.user.display_picture,
                                         :width => '40px', :alt => t('label.not_available'))} #{comment.user.login}",
                            user_long_url(:login => comment.user.login,
                                          :id => comment.user.id) %> -
              </span>
              <em><%= h(comment.content) %></em>
              <span class="date" title="<%= comment.updated_at.strftime('%d %b %Y') %>">
                -
                <%= distance_of_time_in_words(comment.updated_at, Time.now) %> <%= t('label.ago') %>.
                <% if comment.loved? %>
                  [<span class='icon_loved'><%= tt('label.loved') %></span>]
                <% else %>
                  [<span class='icon_hated'><%= tt('label.disliked') %></span>]
                <% end %>

                <% if comment.author?(current_user) && comment.can_delete? %>
                  [<%= link_to(t('nav.delete'), review_comment_url(:id => comment.id),
                               :method => 'DELETE',
                               :confirm => t('confirm.delete_comment'),
                               :title => t('title.image_delete_message')) %>]
                <% end %>
              </span>
            </div>
            <div class="clear"></div>
            <div class="space_10"></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </<%= tag_name %>>
  <div class='clear'></div>
</div>

<script type="text/javascript">
  $('.add_comment_link').each(function() {
    var $self = $(this);
    $self.bind('click', function() {
      $('#review_comment_form_' + $self.attr('rel')).show();
    });
  });

  $('.review_comment_form').each(function() {
    $(this).hide();
  });
</script>