<a name="review-<%= review_comment.id %>"></a>
<span class="reviewer">
  <% if review_comment.loved? %>
    <span class="highlight"><%= tt('label.loved') %></span> <%= t('label.and') %>
  <% elsif review_comment.hated? %>
    <span class="highlight"><%= tt('label.disliked') %></span> <%= t('label.and') %>
  <% end %>
  <%= t('label.review_of', :link => link_to(
      review_comment.any.name,
      event_or_restaurant_url(review_comment.any))) %>
</span>
<span class="date" title="<%= review_comment.updated_at.strftime('%d %b %Y') %>">
  - <%= t('label.added') %> <%= distance_of_time_in_words(review_comment.updated_at, Time.now) %> <%= t('label.ago') %>
</span>