<div class='review_comment_form' id='review_comment_form_<%= review.id %>'>
  <% form_for @review_comment || ReviewComment.new do |f| %>
    <%= f.hidden_field :review_id, :value => review.id %>
    <span class="group_buttons">
      <%= f.radio_button :loved, 1, :checked => true %>
      <label for="review_comment_loved_1"><%= t('label.i_like') %></label>
    </span>
    /
    <span class="group_buttons"><%= f.radio_button :loved, 0 %>
      <label for="review_comment_loved_0"><%= t('label.i_dislike') %></label>
    </span><%= t('label.this_review') %><br/>

    <%= f.text_area :content %>
    <div class="button_group align_right">
      <%= f.submit t('button.add_comment') %>
      <input type='button' onclick="$('#review_comment_form_<%= review.id %>').hide();" value='hide'/>
    </div>
  <% end %>
  <div class="space_10"></div>
</div>