<div class="grid_12">
  <% if session[:fake_email] %>
    <h4><%= t('label.enter_email') %></h4>

    <div class="break"></div>
    <div class="space_10"></div>
    <div class="space_10"></div>
    <div class='highlight emphasis'>
      <% form_for @user do |f| %>
        <%= f.label :email, t('label.enter_email') %>
        <%= f.text_field :email,
                         :value => t('label.enter_email'),
                         :onfocus => "this.value == '#{t('label.enter_email')}' ? this.value = '' : true" %>
        <%= f.submit t('button.update') %>
        <br/>
        <%= f.error_message_on :email %>
      <% end %>
    </div>

    <div class="space_10"></div>
  <% end %>
  
  <h4><%= t('subheader.upload_avatar') %></h4>

  <div class="break"></div>
  <div class="space_10"></div>
  <div class="highlight">
    <div class="grid_1">
      <% if @user.image %>
        <%= image_tag(@user.image.public_filename(:small)) %>
      <% end %>
    </div>
    <%= error_messages_for :image %>
    <% form_for MultiImage.new, :url => images_url, :html => {:method => :post, :multipart => true} do |f| %>
      <input type="hidden" name="user_id" value="<%= current_user.id %>"/>

      <%= f.file_field :uploaded_datum, :index => '' %>
      <%= f.submit t('button.upload') %>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="space_5"></div>

  <h4><%= t('subheader.active_share') %></h4>

  <div class="break"></div>
  <div class="space_10"></div>
  <% if current_user.facebook_session_exists? %>
    <%= t('label.fb_connected') %>
  <% else %>
    <%= t('label.fb_not_connected') %>
  <% end %>
</div>