<div class="grid_12">
  <h4>Upload your avatar</h4>
  <div class="break"></div>
  <div class="space_10"></div>
  <div class="highlight">
    <div class="grid_1">
      <% if @user.image %>
        <%= image_tag(@user.image.public_filename(:small)) %>
      <% end %>
    </div>
    <%= error_messages_for :image %>
    <% form_for Image.new, :html => {:multipart => true} do |f| %>
      <input type="hidden" name="user_id" value="<%= current_user.id %>"/>

      <%= f.file_field :uploaded_data %>
      <%= f.submit 'upload' %>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="space_5"></div>

  <h4>Active share with friends!</h4>
  <div class="break"></div>
  <div class="space_10"></div>
  <div class="">
    <div class="grid_3">
      <div id="facebook_connect_button" style="display: none">
        <br/><br/>
        <fb:login-button length="long" size="large" onlogin='App.Facebook.Events.onloggedin'></fb:login-button>
      </div>
      <div id="facebook_profile_box" style="display: none">
        <fb:profile-pic uid="loggedinuser" size="normal" facebook-logo="true"></fb:profile-pic><br/>
      </div>

    </div>
    <div class="grid_4 highlight" id="info_before" style="display: none">
      You can integrate our service with your facebook account.
      so whenever you review or add new restaurant we will automatically share them with your facebook
      friends!
    </div>
    <div class="grid_4 highlight" id="info_after" style="display: none">
      hi, <fb:name uid="loggedinuser" useyou="false" linked="true"></fb:profile-pic>
      thanks for integrating our service with your facebook account.
      now we will automatically share your review or restaurant information with your facebook friends.<br/><br/>
      if you want to turn off this feature please follow the link -
      <fb:login-button length="short" size="small" autologoutlink="true" onlogin='App.Facebook.Events.onlogin'></fb:login-button>
    </div>
  </div>


  <%= render :partial => 'users/parts/facebook_app_script' %>
</div>