<div class='space'></div>
<div class="box">
  <h1><%= t('subheader.reset_password') %></h1>
  <div class='message margin'>
    <%= t('label.reset_password_description') %>
    <a href='mailto:support@welltreat.us'>support@welltreat.us</a>
  </div>

  <form action="<%= process_reset_password_url %>" method="POST">
    <table>
      <tbody>
        <tr>
          <td><input type="email" name='email' class=''
                     placeholder="<%= t('label.enter_password') %>" class="fieldWithDefaultValue"/></td>
        </tr>
        <tr>
          <td><input type='submit' value="<%= t('button.reset_password') %>"/></td>
        </tr>
      </tbody>
    </table>
    <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>"/>
  </form>
</div>

<script type="text/javascript">
  //App.UI.detectFieldWithDefaultValue('<%= t('label.enter_email')%>');
</script>