<% content_for :content do %>

  <%= render :partial => 'layouts/fresh_parts/notification' %>

  <form action="<%= process_reset_password_path(:dialog => true) %>" method="POST" data-rel='dialog'>
    <input type='hidden' name="authenticity_token"
           value="<%= form_authenticity_token %>"/>
    <input type="text" name='email'
           placeholder="<%= t('label.enter_email') %>" />
    <input type='submit' value="<%= t('button.reset_password') %>"/>
  </form>
<% end %>

<% content_for :navigation do %>
  <li><%= link_to t('nav.login'), login_path(:dialog => true) %></li>
  <li><%= link_to t('layout.links.register'), signup_path(:dialog => true) %></li>
  <li><%= link_to t('layout.links.home'), root_path %></li>
<% end %>