<div class="grid_12">
  <h4><%= t('subheader.reset_password') %></h4>
  <blockquote>
    <%= t('label.reset_password_description') %>
    <a href='mailto:support@welltreat.us'>support@welltreat.us</a>
  </blockquote>

  <form action="<%= process_reset_password_url %>" method="POST">
    <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="text" name='email' value="<%= t('label.enter_password') %>" class="fieldWithDefaultValue"/>
    <input type='submit' value="<%= t('button.reset_password') %>"/>
  </form>
</div>

<script type="text/javascript">
  App.UI.detectFieldWithDefaultValue('<%= t('label.enter_email')%>');
</script>