<div id="site_center">
  <div class="grid_6 restaurant_details">
    <div class="breadcrumbs">
      <%= link_to @topic.label, root_url %> &raquo;
      <%= t('label.contributors')%> &raquo; <%= @user.login.camelcase %>
    </div>
    <div class="break space_5"></div>

    <div class='user_profile_brief'>
      <div class="grid_1">
        <%= image_tag(@user.display_picture, :title => @user.login, :alt => 'N/A') %>
      </div>
      <div class="grid_4 user_profile_facts">
        <h4>Facts:</h4>
        <%= @user.login.camelcase %> <%= t('label.joined_our_community') %>
        <span class="highlight"><%= distance_of_time_in_words(Time.now, @user.created_at) %></span> <%= t('label.back') %>.<br/>
        <%= t('label.already_added') %> <span class="highlight"><%= @user.restaurants.count %></span> <%= @topic.name.pluralize %>.<br/>
        <%= t('label.already_reviewed') %> <span class="highlight"><%= @user.reviews.count %></span> <%= @topic.name.pluralize %>. <br/>
        <%= t('label.already_commented')%> <span class="highlight"><%= @user.review_comments.count %> <%= t('label.times')%></span> <%= t('label.on_other_reviews')%><br/>
        <%= t('label.already') %> <span class="icon_loved"><%= t('label.loved') %></span> <span class="highlight"><%= @user.reviews.loved.count %></span> <%= t('label.and') %>
        <span class="icon_hated"><%= t('label.disliked') %></span> <span class="highlight"><%= @user.reviews.hated.count %></span> <%= @topic.label.pluralize %>.<br/>
        <%= t('label.already_showed_interest') %> <span class="highlight"><%= t('label.to_visit') %> <%= @user.reviews.wanna_go.count %></span> <%= @topic.label.pluralize %>.<br/>

        <div class='space_10'></div>
        <a href='#'><%= tt('label.ask_for_treat') %></a>
        <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=we4tech"><img src="http://s7.addthis.com/static/btn/v2/lg-bookmark-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=we4tech"></script>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="space_5"></div>
    <div class="break"></div>
    <div class="space_10"></div>

    <div class="user_profile_activities">
      <% if !@restaurants.empty? %>
        <h4><%= tt('header.recent_restaurants') %></h4>
        <div class="break"></div>
        <% @restaurants.each do |restaurant| %>
          <%= render :partial => 'restaurants/parts/restaurant', :locals => {:restaurant => restaurant, :grid_class => 'grid_4'} %>
        <% end %>
        <div class="date">
          <%= page_entries_info @restaurants %>
          <%= will_paginate @restaurants, :param_name => :rp %>
        </div>
      <% end %>

    </div>

    <div class="space_10"></div>
  </div>

  <div class="grid_6" id="site_center_boxes">
    <div class='space_10'></div>
    <fb:like href="<%= request.url %>"></fb:like>
    <div class='space_10'></div>

    <% if !@reviews.empty? %>
      <h4><%= tt('header.reviewed_places') %></h4>
      <div class="break"></div>
      <div class="space_10"></div>
      <% @reviews.each do |review| %>
        <%= render :partial => 'reviews/parts/review_small', :locals => {:review => review, :grid_class => 'grid_5'} %>
        <div class="clear"></div>
      <% end %>
      <div class='date'>
        <%= page_entries_info @reviews %>
        <%= will_paginate @reviews, :param_name => :rrp %>
      </div>
    <% end %>

    <% if !@review_comments.empty? %>
      <h4><%= tt('subheader.recently_commented_on_reviews') %></h4>
      <div class="break"></div>
      <div class="space_10"></div>
      <% @review_comments.each do |review_comment| %>
        <%= render :partial => 'review_comments/parts/review_comment_small',
                   :locals => {
                       :review_comment => review_comment, :grid_class => 'grid_5'
                   } %>
        <div class="clear"></div>
      <% end %>
      <div class='date'>
        <%= page_entries_info @review_comments %>
        <%= will_paginate @review_comments, :param_name => :rrcp %>
      </div>
    <% end %>
  </div>
</div>