<%
   relate_through = relate_through || 'related_image'
   fb_share = defined?(fb_share) ? fb_share : false

   if !defined?(related_field) || !defined?(related_field_value)
    raise 'related_field and related_field_value are required locals' +
          'variable while rendering partial template'
   end
%>

<div class='imageEditor'>
  <h4><%= t('label.related_images')%></h4>

  <div class='break'></div>
  <div class='space_10'></div>

  <div class='relatedImages'>
    <% images.each do |image| %>
      <div class='relatedImage'>
        <%= image_tag image.public_filename(:small) %>
        <div class='clear'></div>
        <%= link_to t('nav.delete'), image_url(image),
                    :method => :delete, :confirm => t('confirm.delete_image') %> .
        <%= link_to t('nav.edit'), edit_image_url(image) %>
      </div>
    <% end %>
  </div>

  <div class='clear'></div>
  <div class='break'></div>
  <div class='space_10'></div>

  <% form_for MultiImage.new, :url => images_url, :html => {:multipart => true, :title => 'Upload image', :method => :post} do |f| %>
    <input type='hidden' name='fb_share_off' value='<%= fb_share ? true : false %>'/>
    <input type='hidden' name='return_to' value="<%= return_to %>"/>
    <input type='hidden' name='relate_through' value="<%= relate_through %>"/>
    <input type='hidden' name='<%= related_field.to_s %>' value="<%= @product.id %>"/>

    <div id="duplicable">
      <table class='formTable'>
        <tr>
          <th><%= t('label.caption') %></th>
        </tr>
        <tr>
          <td>
            <%= f.text_field :captions, :index => '' %>
          </td>
        </tr>
        <tr>
          <th><%= t('label.select_file') %></th>
        </tr>
        <tr>
          <td>
            <%= f.file_field :uploaded_datum, :index => '' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit t('button.upload') %>
          </td>
        </tr>
      </table>
    </div>

    <div id="container"></div>
  <% end %>
</div>
<div class='space_10'></div>