<div class="clear"></div>
<%= render_recent_checkins({:label => 'Recently checked in', :keep_open => true}) %>
<div class='clear space'></div>
<% week_top_chart = render_week_top_chart %>
<% if !week_top_chart.blank? %>
  <div class='box weeklyHot'>
    <%= week_top_chart %>
  </div>
  <div class='clear space_10'></div>
<% end %>
<% upcoming_events = render_upcoming_events(:grid_class => 'grid_3', :only => [:upcoming, :ongoing]) %>
<% if !upcoming_events.blank? %>
  <div class='upcomingEventsBox box'>
    <h4 class='subHeaderWithIcon'>
      Upcoming Events
      <%= link_to 'Archive', events_path, :class => 'archiveButton' %>
    </h4>
    <div class='content'>
      <%= upcoming_events %>
    </div>
    <div class='clear'></div>
  </div>
<% end %>
<%= render_news_feed(:label => 'Recent News') %>
<div class='clear space'></div>
<%= render_most_lovable_places({:label => 'Most Eaters Love'}) %>
<div class='clear space'></div>
<%= render_most_checkined_places({:label => 'Most Eaters Go'}) %>
<div class='clear space'></div>
<%= render_recently_reviewed_places({:label => 'Recent Reviews'}, 5) %>
<div class='clear space'></div>
<%= render_section_heads_with_selected_item(:frontpage) %>
<div class='clear space'></div>

<% content_for :bottom do %>
  <script type="text/javascript">
    var currentLocationSearchingInProgress = false;
    try {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var lat = position.coords.latitude;
          var lng = position.coords.longitude;

          if (!currentLocationSearchingInProgress) {
            currentLocationSearchingInProgress = true;
            try {
              var url = "<%= search_path.gsub(/format=mobile/, 'format=json') %>";

              $.ajax({
                url: url,
                data: {
                  format: 'json', limit: 1,
                  'fields[]': 'address', 'excepts[]': ['marker_html', 'description'],
                  'meter': 1000, lat: lat, lng: lng
                },
                dataTypeString: 'json',
                success: function(result) {
                  if (result && result.length > 0) {
                    $('.siteMessage').each(function() {
                      var html = "Are you nearby '" + result[0].address +"' ?" +
                          "<div class='quote'>Find your nearby <a href='<%= search_path %>&meter=1000&lat=" + lat + "&lng=" + lng + "'><%= @topic.name.humanize.pluralize.downcase %></a>.</div> <button type='button' onclick='$(this).parent().hide();'>Close</button>";
                      var $this = $(this);
                      $this.html(html);
                      $this.show();
                    });

                    // update nearby restaurants search link
                    var link = $('#nearby_places a');
                    link.attr('href', link.attr('href') + "&lat=" + lat + '&lng=' + lng);
                    link.html(link.html() + ' (' + result[0].address + ')');
                    currentLocationSearchingInProgress = false;
                  }
                }
              });
            } catch(e) {
              currentLocationSearchingInProgress = false;
            }

          }
        }, function() {

        });
      }
    } catch (e) {
      alert(e);
    }
  </script>
<% end %>
