<% if @topic.name == 'restaurant' %>
  <div class='grid_12' id='recommendBox'>
    <%= render :partial => 'restaurants/parts/recommend' %>
  </div>
<% end %>

<div class="clear"></div>
<div class="grid_8" id="site_center_list">
  <h1>
    <% @breadcrumbs.each do |link| %>
      <%= link_to link.first, link.last %> &raquo;
      <% end %><%= @title %>
  </h1>

  <div class="break space_5"></div>
  <% @restaurants.each_with_index do |restaurant, index| %>
    <%= render :partial => 'restaurants/parts/restaurant', :locals => {:restaurant => restaurant, :index => index} %>
  <% end %>

  <div class='pagination'>
    <%= will_paginate @restaurants %>
  </div>

  <div class='space_10'></div>
  <%= render_most_lovable_places({'label' => 'Most loved places!', 'heading' => 'h1'}) %>
  <div class='space_10'></div>
</div>

<% content_for :bottom do %>
  <script type="text/javascript">
    var currentLocationSearchingInProgress = false;
    try {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var lat = position.coords.latitude;
          var lng = position.coords.longitude;
          alert("Lat - " + lat + ', Lng - ' + lng);
          if (!currentLocationSearchingInProgress) {
            currentLocationSearchingInProgress = true;
            try {
              var url = "<%= search_path.gsub(/format=mobile/, 'format=json') %>&format=json&limit=1&fields[]=address&excepts[]=marker_html&excepts[]=description&meter=1000&lat=" + lat + '&lng=' + lng;
              alert("Url - " + url);

              $.getJSON(url, function(result) {
                console.debug(result);
                if (result && result.length > 0) {
                  var html = "<h1>Hi r u nearby '" + result[0].address + "' ?</h1> <h4>discover nearby more <a href='<%= search_path %>&meter=1000&lat=" + lat + "&lng=" + lng + "'><%= @topic.name.humanize.pluralize.downcase %></a>.</h4><br/><button onclick='$(this).parent().parent().remove();'>[Hide]</button>";
                  var newElement = document.createElement('div');
                  newElement.innerHTML = html;
                  newElement.style.position = 'fixed';
                  newElement.style.top = document.body.clientTop;
                  newElement.className = 'popup_message';
                  document.body.appendChild(newElement);

                  // update nearby restaurants search link
                  var link = $('#nearby_places a');
                  link.attr('href', link.attr('href') + "&lat=" + lat + '&lng=' + lng);
                  link.html(link.html() + ' (' + result[0].address + ')');
                  currentLocationSearchingInProgress = false;
                }
              });
            } catch(e) {
              currentLocationSearchingInProgress = false;
            }

          }
        }, function() {

        });
      }
    } catch (e) {
      alert(e);
    }
  </script>
<% end %>
