<% if @topic.name == 'restaurant' %>
  <div style='background: #fff'>
    <div class='grid_12' id='recommendBox'>
      <%= render :partial => 'restaurants/parts/recommend' %>
      <div class='clear'></div>
    </div>
    <div class='clear'></div>

    <% if params[:page].to_i < 2 %>
      <div class='grid_12' id='featureBox'>
        <%= render :partial => 'restaurants/parts/top_rated_slider' %>
      </div>
      <div class='clear'></div>
      <div class='grid_12' id='categoryHitRestaurantBox'>
        <% if !@cached %>
          <%= render :partial => 'restaurants/parts/best_for' %>
        <% end %>
      </div>

    <% end %>
    <div class='clear'></div>
  </div>
<% end %>

<div class="clear"></div>
<div class="grid_8" id="site_center_list">
  <h1>
    <% @breadcrumbs.each do |link| %>
      <%= link_to link.first, link.last %> &raquo;
    <% end %><%= @title %>
  </h1>
  <div class="break space_5"></div>
  <% @restaurants.each_with_index do |restaurant, index| %>
    <%= render :partial => 'restaurants/parts/restaurant', 
               :locals => {:restaurant => restaurant, :index => index} %>
  <% end %>

  <div class='pagination'>
    <%= will_paginate @restaurants %>
  </div>
</div>

<div class="grid_4" id="site_center_boxes">
  <%= render :partial => 'layouts/fresh_parts/modules' %>
</div>

<% if @cached %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'restaurant_tools', :restaurant_ids => @restaurants.collect(&:id)) %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'best_for_box') %>
<% end %>