<div class="grid_8" id="site_center_list">
  <%= render_breadcrumbs %>
  <div class='clear'></div>
  <div class="break space_10"></div>
  <%= render_page_modules :body %>
  <div class="break space_10"></div>
  <div class='info'><%= page_entries_info @restaurants %></div>
  <div class="space_5"></div>
  <div class="break space_5"></div>
  <% @restaurants.each_with_index do |restaurant_or_event, index| %>
	<%= render_partially_item(restaurant_or_event) %>
  <% end %>

  <%= will_paginate @restaurants %>
  <div class='clear'></div>
</div>

<div class="grid_4" id="site_center_boxes">
  <% if @right_button.present? %>
	<%= link_to @right_button.first, @right_button.last, :class => "subHeaderWithIcon topBothCornerHeader clickable #{@right_button_icon}" %>
	<div class='space_10'></div>
  <% end %>
  <% if not @cached %>
  	<%= render :partial => 'layouts/fresh_parts/modules' %>
  <% else %>
    <div id='right_side_boxes' class='loadingIndicator'>
    	<%= image_tag 'loader.gif' %><br/>
    	Loading boxes …
    </div>
  <% end %>
</div>
<div class='clear'></div>

<script type='text/javascript'>
(function() {
  var timer = null;

  function showOrHide($el, show) {
    var $hiddenStuffs = $('#' + $el.attr('id') + '_hidden_stuffs');
    if (show) {
      $el.removeClass('rowHover').addClass('rowHover');
      $hiddenStuffs.show();

      if (timer) {
        clearTimeout(timer);
      }
      timer = setTimeout(function() {
        $el.removeClass('rowHover');
        $hiddenStuffs.fadeOut();
      }, 6000);
    } else {
      if (timer) {
        clearTimeout(timer);
      }

      timer = setTimeout(function() {
        $el.removeClass('rowHover');
        $hiddenStuffs.fadeOut();
      }, 1000);
    }
  }

  $('#site_center_list .site_list_item').each(function() {
    var $item = $(this);
    $item.bind('mouseover', function(e) {
      showOrHide($(this), true);
    });

    $item.bind('mouseout', function(e) {
      showOrHide($(this), false);
    });
  });
})();
</script>

<% if @cached %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'restaurant_tools', :restaurant_ids => @restaurants.collect(&:id)), :defer => 'defer' %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'page_side_modules'), :defer => 'defer' %>
<% end %>
