<div class="grid_8" id="site_center_list">
  <h4>
    <% @breadcrumbs.each do |link| %>
      <%= link_to link.first, link.last %> &raquo;  
    <% end %><%= @title %>
  </h4>
  <div class="break space_5"></div>
  <% @restaurants.each_with_index do |restaurant, index| %>
    <%= render :partial => 'restaurants/parts/restaurant', :locals => {:restaurant => restaurant, :index => index} %>
  <% end %>

  <div class='pagination'>
    <%= will_paginate @restaurants %>
  </div>
</div>

<div class="grid_4" id="site_center_boxes">
  <% (@left_modules || []).each do |module_name| %>
    <%= eval(module_name.to_s) %>
    <div class="space_10"></div>
  <% end %>
</div>