<div class="clear"></div>
<div class='space'></div>
<div class="box" id="site_center_boxes">
  <div class='site_simple_box filter_box'>
    <h4 toggleView="filterLists" class='icon_settings'>Filter search results</h4>

    <form action="<%= search_url %>" id='filterLists' style="display:none">
      <input type='hidden' name='_models' value='Restaurant'/>
      <input type='hidden' name='format' value='<%= params[:format] %>'/>
      <input type="search" name="name|short_array|long_array|description[]"
             placeholder='Search keywords, ie. (Thai, Burger, Pizza)'
             value="<%= params['name|short_array|long_array|description'] %>"/>

      <div class='space'></div>
      <div class="highlight site_simple_box" id='filter_by_latlng'>
        <div class="space_5"></div>
        <input type='hidden' name='lat' id='smallMapLat' class="grid_1"
               value="<%= @location ? @location[:lat].to_f : 0 %>"/>
        <input type='hidden' name='lng' id='smallMapLng' class="grid_1"
               value="<%= @location ? @location[:long].to_f : 0 %>"/>

        <% selected_meter = @location ? @location[:meter].to_i : 100 %>
        <label class="grid_2">
          Search at <strong id='addressText'>Dhaka</strong>
          with in
          <select name='meter'>
            <% (1..5).each do |meter| %>
              <option value="<%= meter * 1000 %>" <%= selected_meter == (meter * 1000) ? 'selected="selected"' : '' %>>
                <%= meter %> km
              </option>
            <% end %>
          </select>
          <a href="javascript:void(0)" class="archiveButton" onclick="$('#smallMapLat, #smallMapLng').val('')">Clear</a>
        </label>

        <div id="smallMap"
             detectCurrentPosition='true'
             title="<%= @location && @location[:lat].to_f > 0 && @location[:long].to_f > 0 ? "#{@location[:lat]},#{@location[:long]}" : '23.79,90.42' %>"
             markerMessage="<h4>Where are you NOW?</h4><br/>show us your current location<br/>so that we can <b>suggest</b><br/>you the <b>NEARBY</b> restaurants."
             infoWindowMessagePrefix="You are NOW @"
             mapWidth="100%">Loadig map...
        </div>
        <div class='space'></div>
      </div>

      <% @topic.tag_groups.each do |tag_group| %>
        <% best_for = tag_group.name.to_s.match(/Best\s+for/i) %>

        <div class='tags'>
          <b><%= tag_group.name %></b>

          <div class='clear'></div>
          <% tag_group.tags.each do |tag| %>
            <div class='tag inlineTag'>
              <input id='<%= element_id = "tag_#{tag.id}" %>'
                     type='checkbox' name='short_array|long_array[]'
                     <%= @tags.include?(tag.name.downcase) ? 'checked="checked"' : '' %>
                     value='<%= tag.name %>'
                     class='buttonActionSubmitForm'
                     onclick="document.getElementById('filterLists').submit()"/>
              <label for='<%= element_id %>'><%= best_for ? tag.name.gsub(/Best\s+for\s*/, '') : tag.name %></label>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class='clear space'></div>
      <input type='submit' class='buttonSubmit' value='<%= t('button.search_again') %>'/>
    </form>
    <div class='space_10'></div>
    <div class='clear'></div>
  </div>
  <div class='space_10'></div>

</div>

<div class="box" id="site_center_list">
  <h1>
    <%= @title %>
  </h1>

  <div class="break space_5"></div>
  <div class='message margin'><%= page_entries_info @restaurants %></div>
  <div class="clear space"></div>
  <% if !@restaurants.empty? %>
    <div class='content'>
      <% @restaurants.each_with_index do |restaurant, index| %>
        <%= render :partial => 'restaurants/parts/restaurant',
                   :locals => {:restaurant => restaurant, :index => index} %>
      <% end %>
      <div class='clear'></div>
      <div class='space'></div>
      <%= will_paginate @restaurants %>
      <div class='space'></div>
    </div>
  <% else %>

    <div class='highlight margin'><%= t('subheader.no_recommendation_found') %></div>
  <% end %>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=true"></script>
<script type="text/javascript">
  var gmailCheckInterval = setTimeout(function() {
    if (google != null && google.maps != null) {
      App.MapWidget.createMap($('#smallMap'), function(p) {
        $('#geoLat, #smallMapLat').val(p.lat());
        $('#geoLng, #smallMapLng').val(p.lng());
        $('#addressText').html(p.area());
      });
      //clearInterval(gmailCheckInterval);
    }
  }, 5000);
</script>