<div class="grid_8" id="site_center_list">
  <h1>
    <% @breadcrumbs.each do |link| %>
      <%= link_to link.first, link.last %> &raquo;
    <% end %><%= @title %>
  </h1>
  <div class="break space_5"></div>
  <div class='info'><%= page_entries_info @restaurants %></div>
  <div class="space_5"></div>
  <div class="break space_5"></div>
  <% if !@restaurants.empty? %>
    <% @restaurants.each_with_index do |restaurant, index| %>
      <%= render :partial => 'restaurants/parts/restaurant',
                 :locals => {:restaurant => restaurant, :index => index} %>
    <% end %>

    <div class='pagination'>
      <%= will_paginate @restaurants %>
    </div>
  <% else %>
    <h4><%= t('subheader.no_recommendation_found') %></h4>
  <% end %>
</div>

<% right_off = right_off || false %>

<% if !right_off %>
  <div class="grid_4" id="site_center_boxes">
    <div class='site_simple_box filter_box'>
      <form action="<%= search_url %>" id='recommend_form'>
        <input type='hidden' name='_models' value='Restaurant'/>

        <div class="tags">
          <h4>Filter by location - </h4>
          <div class="space_10"></div>
          <div class="highlight">
            <label for='smallMapLat' class="grid_1">Latitude</label>
            <input type='text' name='lat' id='smallMapLat' class="grid_1"
                   value="<%= @location ? @location[:lat].to_f : 0 %>"/>
            <div class="clear"></div>
            <label for='smallMapLng' class="grid_1">Longitude</label>
            <input type='text' name='lng' id='smallMapLng' class="grid_1"
                   value="<%= @location ? @location[:long].to_f : 0 %>"/>

            <% selected_meter = @location ? @location[:meter].to_i : 100 %>
            <select name='meter'>
              <% (1..5).each do |meter| %>
                  <option value="<%= meter * 1000 %>" <%= selected_meter == (meter * 1000) ? 'selected="selected"' : '' %>>
                    <%= meter %> km
                  </option>
              <% end %>
            </select>
            <div class="clear"></div>
          </div>
          <div class="space_10"></div>
          <input type='submit' class='buttonSubmit' value='<%= t('button.search_again') %>'/>
          <div class="space_10"></div>
          <div id="smallMap"
               title="<%= @location && @location[:lat].to_f > 0 && @location[:long].to_f > 0 ? "#{@location[:lat]},#{@location[:long]}" : '23.79,90.42' %>"
               markerMessage="<h4>Where are you NOW?</h4><br/>show us your current location<br/>so that we can <b>suggest</b><br/>you the <b>NEARBY</b> restaurants."
               infoWindowMessagePrefix="You are NOW @"
               mapWidth="300px"></div>
          <div class='clear'></div>
        </div>
        <div class="clear"></div>
        <div class="space_10"></div>

        <script type="text/javascript">
            App.Tasks.addTask(function() {
                
                //App.MapWidget.mMap.checkResize();
            });
			var gmailCheckInterval = setTimeout(function() {
				if (GMap2 != null) {					
					App.MapWidget.createMap($('#smallMap'), function(pPlacemark) {
		                $('#geoLat, #smallMapLat').val(pPlacemark.Point.coordinates[1]);
		                $('#geoLng, #smallMapLng').val(pPlacemark.Point.coordinates[0]);
		            });
					//clearInterval(gmailCheckInterval);
				}
			}, 5000);
        </script>

        <h4><%= t('label.filter_by') %></h4>
        <div class='space_10'></div>
        <div class='tags'>
          <% @topic.tag_groups.each do |tag_group| %>
            <b><%= tag_group.name %></b>
            <div class='clear'></div>
            <% tag_group.tags.each do |tag| %>
              <div class='tag inlineTag'>
                <input id='<%= element_id = "tag_#{tag.id}" %>'
                       type='checkbox' name='short_array|long_array[]'
                       <%= @tags.include?(tag.name.downcase) ? 'checked="checked"' : '' %>
                       value='<%= tag.name %>'
                       class='buttonActionSubmitForm'
                       onclick="document.getElementById('recommend_form').submit()"/>
                <label for='<%= element_id %>'><%= tag.name %></label>
              </div>
            <% end %>
            <div class='clear'></div>
            <div class='space_10'></div>
          <% end %>
        </div>
        <input type='submit' class='buttonSubmit' value='<%= t('button.search_again') %>'/>
      </form>
      <div class='space_10'></div>
      <div class='clear'></div>
    </div>
    <div class='space_10'></div>

    <%= render :partial => 'layouts/fresh_parts/modules' %>
  </div>

  <%= javascript_include_tag 'jquery.ajaxify' %>
  <script type="text/javascript">
    $('#site_center_boxes').ajaxify();
  </script>
<% end %>

