<div class="grid_8" id="site_center_list">
  <h1>
    <% @breadcrumbs.each do |link| %>
      <%= link_to link.first, link.last %> &raquo;
    <% end %><%= @title %>
  </h1>
  <div class="break space_5"></div>
  <div class='info'><%= page_entries_info @restaurants %></div>
  <div class="space_5"></div>
  <div class="break space_5"></div>
  <% if !@restaurants.empty? %>
    <% @restaurants.each_with_index do |restaurant, index| %>
      <%= render :partial => 'restaurants/parts/restaurant',
                 :locals => {:restaurant => restaurant, :index => index} %>
    <% end %>

    <div class='pagination'>
      <%= will_paginate @restaurants %>
    </div>
  <% else %>
    <h4><%= t('subheader.no_recommendation_found') %></h4>
  <% end %>
</div>

<div class="grid_4" id="site_center_boxes">
  <div class='site_simple_box filter_box'>
    <h4><%= t('label.filter_by') %></h4>
    <div class='space_10'></div>
    <form action="<%= search_url %>" id='recommend_form'>
      <input type='hidden' name='_models' value='Restaurant'/>

      <div class='tags'>
        <% @topic.tag_groups.each do |tag_group| %>
          <b><%= tag_group.name %></b>
          <div class='clear'></div>
          <% tag_group.tags.each do |tag| %>
            <div class='tag inlineTag'>
              <input id='<%= element_id = "tag_#{tag.id}" %>'
                     type='checkbox' name='short_array|long_array[]'
                     <%= @tags.include?(tag.name.downcase) ? 'checked="checked"' : '' %>
                     value='<%= tag.name %>' onclick="document.getElementById('recommend_form').submit()"/>
              <label for='<%= element_id %>'><%= tag.name %></label>
            </div>
          <% end %>
          <div class='clear'></div>
          <div class='space_10'></div>
        <% end %>
      </div>
      <input type='submit' value='<%= t('button.search_again') %>'/>
    </form>
    <div class='space_10'></div>
    <div class='clear'></div>
  </div>
  <div class='space_10'></div>

  <%= render :partial => 'layouts/fresh_parts/modules' %>
</div>