<%
   text_area_included = false
   location_included = false
%>

<% @form_fields.each do |field| %>

  <%
     field_type = field['type']
     text_field = field_type == 'text_field'
     text_area = field_type == 'text_area'
     combobox = field_type == 'combobox'
     checkbox = field_type == 'checkbox'
     options = field_type == 'options'

     field_name = field['field']
     address_field = field_name == 'address'
     required = field['required']
     field_label = field['label']
     default_value = field['default_value']
  %>
  <% if text_field && !address_field %>
    <label><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label><br/>
    <%= f.text_field field_name, :class => "#{field_type} full_field" %>
    <%= f.error_message_on field_name %>
    <br/>
  <% elsif text_area && !address_field %>
    <label><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label><br/>
    <%= f.text_area field_name, :class => "#{field_type} full_field" %>
    <%= f.error_message_on field_name %>
    <% text_area_included = true %>
    <br/>
  <% elsif text_field && address_field %>
    <label><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label><br/>
    <div class="grid_6">
      <div>
        <div id="google_map_canvas"
             title="<%= @restaurant.lat.to_i > 0 ? "#{@restaurant.lat},#{@restaurant.lng}" : "23.7272119,90.4094982" %>"
             markerMessage="<h4>Where is your <%= @topic.name.humanize %>?</h4>"
             infoWindowMessagePrefix="Your <%= @topic.name.humanize %> @"
             <%= @restaurant.lat.to_i > 0 ? '' : "detectCurrentPosition='true'" %>
             style="width: 100%; height: 100%"></div>
      </div>
      <div>
        <%= f.text_field field_name,
                         :class => "#{field_type} full_field",
                         :onkeyup => 'App.MapWidget.displayOnKeyPress(this, \'google_map_canvas\')' %>
        <%= f.error_message_on field_name %>
        <br/>
        <%= f.hidden_field :lat %>
        <%= f.hidden_field :lng %>
      </div>
    </div>
    <div class="clear"></div>
    <% location_included = true %>
    <br/>

  <% elsif combobox %>
    <label><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label><br/>
    <%= f.select field_name, default_value.split('|'), {}, :class => "#{field_type} full_field" %>
    <%= f.error_message_on field_name %>
    <br/>

  <% elsif checkbox %>
    <label><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label><br/>
    <%= f.check_box field_name, :class => field_type %>
    <%= f.error_message_on field_name %>
    <br/>

  <% elsif options %>
    <label><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label><br/>
    <div class='options_box'>
      
      <% existing_value = @restaurant.send(field_name) || []  %>

      <div class="tags" id="field_<%= field_name %>">
        <% parse_default_value(default_value, existing_value).sort.each do |option| %>
          <% option.strip! %>
          <div class='option'>
            <input id='<%= option_field_id = "option_#{url_escape(option)}" %>'
                   type='checkbox' name='restaurant[<%= field_name %>][]'
                   value="<%= option %>" class="<%= field_type %>"
                   <%= existing_value.include?(option) ? 'checked="checked"' : '' %>
                   />
            <label for="<%= option_field_id %>"><%= option %></label>
          </div>
        <% end %>
      </div>
    </div>
    <%= f.error_message_on field_name %>
    <br clear="all"/>

  <% else %>
    <b style='color:red; background: lightYellow'><%= t('errors.no_matched_type') %></b><br/>
  <% end %>
<% end %>


<% if location_included && params[:no_script].nil? %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript">
    $.executeLater(function() {
      App.MapWidget.createMap($('#google_map_canvas'), function(pPlacemark) {
        $('#restaurant_address').val(pPlacemark.address());
        $('#restaurant_lat').val(pPlacemark.lat());
        $('#restaurant_lng').val(pPlacemark.lng());
      });
    });
  </script>
<% end %>

<script type="text/javascript">
  $('input, textarea, .nicEdit-main').bind('keypress', function(pEvent) {
    mFormContentChanged = true;
  });

  $('.tagSearchField').each(function() {
    new App.TagSearcher($(this));
  });

</script>