<label>name</label><br/>
<%= f.text_field :name %>
<%= f.error_message_on :name %>
<br/>

<label>address</label><br/>

<div class="grid_6">
  <div>
    <div id="google_map_canvas" title="<%= "#{@restaurant.lat},#{@restaurant.lng}" %>" style="width: 300px; height: 300px"></div>
  </div>
  <div>
    <%= f.text_field :address, :onkeyup => 'App.MapWidget.displayOnKeyPress(this, \'google_map_canvas\')' %>
    <%= f.error_message_on :address %>
    <br/>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng %>
  </div>
</div>

<div class="clear"></div>
<label>description</label><br/>
<%= f.text_area :description %>
<%= f.error_message_on :description %>
<br/>

<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= MAP_API_KEY %>&hl=en"></script>
<script type="text/javascript">
  App.MapWidget.initMap($('#google_map_canvas'), function(pPlacemark) {
    $('#restaurant_address').val(pPlacemark.address);      
    $('#restaurant_lat').val(pPlacemark.Point.coordinates[1]);
    $('#restaurant_lng').val(pPlacemark.Point.coordinates[0]);      
  });
</script>

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>