<%
   text_area_included = false
%>

<table>
  <% @form_fields.each do |field| %>
    <%
       field_type = field['type']
       text_field = field_type == 'text_field'
       text_area = field_type == 'text_area'
       combobox = field_type == 'combobox'
       checkbox = field_type == 'checkbox'
       options = field_type == 'options'

       field_name = field['field']
       address_field = field_name == 'address'
       required = field['required']
       field_label = field['label']
       default_value = field['default_value']
    %>
    <% if text_field && !address_field %>
      <tr>
        <td>
          <label class="float_label"><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label>
        </td>
        <td>
          <%= f.text_field field_name,
                         :class => "#{field_type} full_field float_#{field_type}",
                         "#{required ? 'required' : '_'}" => 'true',
                         :placeholder => "Enter #{field_label}" %>
          <%= f.error_message_on field_name %>
        </td>
      </tr>
    <% elsif text_area && !address_field %>
      <tr>
        <td valign="top" colspan='2'>
          <label class="float_label"><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label>
          <div class='space'></div>
          <%= f.text_area field_name,
                          :rows => 5,
                          :class => "#{field_type} full_field float_#{field_type}",
                          :placeholder => "Enter #{field_label}" %>
          <%= f.error_message_on field_name %>
        </td>
        <% text_area_included = true %>
      </tr>
    <% elsif text_field && address_field %>


    <% elsif combobox %>
      <tr>
        <td><label class="float_label"><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label></td>
        <td>
          <%= f.select field_name, default_value.split('|'), {}, :class => "#{field_type} full_field float_#{field_type}" %>
          <%= f.error_message_on field_name %>
        </td>
      </tr>

    <% elsif checkbox %>
      <tr>
        <td valign="top"><label class="float_label"><%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %></label></td>
        <td>
          <%= f.check_box field_name, :class => "#{field_type} float_#{field_type}" %>
          <%= f.error_message_on field_name %>
        </td>
      </tr>

    <% elsif options %>
      <tr>
        <td colspan="2" class='fullRow'>
          <label class="mobile_button_block">
            <%= tt("fields.#{field_label}") %><%= required ? ' (*)' : '' %>
          </label>
          <div class='space'></div>

          <div id="<%= field_name %>_options_box">
            <%= render_options_field :name => field_name, :label => false,
                                     :group_prefix => 'As ', :box_class => 'options',
                                     :type => field_type, :required => required,
                                     :value => default_value, :placeholder => 'Search or add tags...' %>
            <%= f.error_message_on field_name %>
          </div>

          <%= f.error_message_on field_name %>

        </td>
      </tr>
      <div class='clear'></div>
      <div class="space_10"></div>
    <% else %>
      <b style='color:red; background: lightYellow'><%= t('errors.no_matched_type') %></b><br/>
    <% end %>
  <% end %>
</table>


<script type="text/javascript">
  $('input, textarea, .nicEdit-main').bind('keypress', function(pEvent) {
    mFormContentChanged = true;
  });

  $('.tagSearchField').each(function() {
    new App.TagSearcher($(this));
  });

  $('.new_tag_field').each(function() {
    var $tf = $(this);
    var placeholder = $tf.attr('placeholder');
    var $container = $('#' + $tf.attr('insertValueTo'));
    var template = $tf.attr('templateHtml');
    var $clickEventOn = $('#' + $tf.attr('clickEventOn')) || $tf;
    var $appendGroup = $('#' + $tf.attr('appendGroup'));

    if ($tf.val().length == 0) {
      $tf.val(placeholder);
    }

    $tf.focus(function() {
      if ($tf.val() == placeholder) {
        $tf.val('');
      }
    });

    $tf.blur(function() {
      if ($tf.val().length == 0) {
        $tf.val(placeholder);
      }
    });

    $tf.keypress(function(e) {
      if (e.keyCode == 13) {
        if ($appendGroup) {
          $appendGroup.focus();
        }
        return false;
      }

      return true;
    });

    $clickEventOn.click(function() {
      var value = $tf.val();

      if (value && value.length > 0) {
        var id = 'option_' + encodeURI(value);
        var processedTemplate = template.replace(/%ID/gm, id);
        processedTemplate = processedTemplate.replace(/%V/gm, value);

        if ($appendGroup) {
          processedTemplate = processedTemplate.replace(/%G/gm, $appendGroup.val());
        }

        $tf.parent().before(processedTemplate);
        $tf.val('');
        $tf.focus();
      }
    });
  });
</script>