<label><%= t('fields.name') %></label><br/>
<%= f.text_field :name %>
<%= f.error_message_on :name %>
<br/>

<label><%= t('fields.description') %></label><br/>
<%= f.text_area :description %>
<%= f.error_message_on :description %>
<br/>

<label><%= t('fields.address') %></label><br/>

<div class="grid_6">
  <div>
    <div id="google_map_canvas"
         title="<%= "#{@restaurant.lat},#{@restaurant.lng}" %>"
         style="width: 300px; height: 300px"></div>
  </div>
  <div>
    <%= f.text_field :address, :onkeyup => 'App.MapWidget.displayOnKeyPress(this, \'google_map_canvas\')' %>
    <%= f.error_message_on :address %>
    <br/>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng %>
  </div>
</div>
<div class="clear"></div>

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
  new nicEditor({buttonList : ['bold','italic','underline','left','center','right','ol','ul','fontFormat','indent','outdent','link','unlink','image','upload','xhtml']}).panelInstance('restaurant_description');
</script>

<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= @topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key %>&hl=en"></script>
<script type="text/javascript">
  App.MapWidget.createMap($('#google_map_canvas'), function(pPlacemark) {
    $('#restaurant_address').val(pPlacemark.address());
    $('#restaurant_lat').val(pPlacemark.lat());
    $('#restaurant_lng').val(pPlacemark.lng());
  });
</script>