<h4 class='headerWithIcon topBothCornerHeader bottomBothCornerHeader rightActionButtion clickable icon_review_big'
    onclick="window.location='#restaurantReviewEditor'; $('#review_comment').focus();">
  <%= link_to 'Write Review', '#restaurantReviewEditor', :onclick => "$('#review_comment').focus();" %>
</h4>
<div class='space_10'></div>

<% if logged_in? && object.already_checkedin?(current_user) %>
  You've already checked in
<% else %>
  <h4 class='headerWithIcon topBothCornerHeader bottomBothCornerHeader rightActionButtion clickable icon_checkin_big'
      onclick='window.location="<%= create_checkin_path(url_escape(topic_name), object.id) %>"'>
    <%= link_to 'Check in here', create_checkin_path(url_escape(topic_name), object.id) %>
  </h4>
<% end %>
<div class='space_10'></div>
<%= render_online_users(object, 5, :label => 'Right now here') %>
<div class="clear"></div>
<div class="space_10"></div>
<%= render_wanna_go(object, 5) %>