<% if !reviews.empty? %>
  <% element_id = url_escape(config[:label]) %>

  <% if config[:label].present? %>
    <h4 class="subHeaderWithIcon clickable topCornerHeader" onclick="$('#<%= element_id %>').toggle(500, 'easeInOutElastic')">
      <%= config[:label] %>
      <% if config[:count] %>
        <div class="archiveButton"><%= config[:count] %></div>
      <% end %>

      <% if config[:link_bar] %>
        <%= link_to (config[:link_label] || 'more reviews'), more_link, :class => 'archiveButton' %>
      <% end %>
    </h4>
  <% end %>

  <div class="site_simple_box"
       id="<%= element_id %>"
       style="display: <%= config[:label] && !config[:keep_open] ? 'none' : 'block' %>; <%= config[:z_index] ? "z-index: #{config[:z_index]}; position: relative;" : '' %>">

    <div class="space_10"></div>

    <% reviews.each_with_index do |review, index| %>
      <%= link_to image_tag(review.user.display_picture,
                            :width => '40px', :alt => 'n/a'),
                  user_long_url(review.user),
                  :class => 'image_small' %>

      <div class="review">
        <% if !review.comment.blank? %>
          <span class="content">"<%= truncate(review.comment, :length => 100) %>" - </span>
        <% end %>

        <span class="reviewer icon_<%= review.loved? ? 'loved' : '' %>">
          <%= link_to review.user.login,
                      user_long_url(review.user) %>
          <% if review.loved? %>
            <%= tt('label.loved') %>
          <% elsif review.hated? %>
            <%= tt('label.disliked') %>
          <% elsif review.wanna_go? %>
            <%= tt('label.wannago') %>
          <% end %>

          <%= event_or_restaurant_link(review.any) %>
        </span>
      </div>
      <div class="clear space_5"></div>
      <div class="break"></div>
      <div class="clear space_5"></div>
    <% end %>
    <div class="small">
      <%= link_to tt('nav.more_places'), more_link %>
    </div>
  </div>
<% end %>