<% if !restaurants.empty? %>
  <div class="site_simple_box">
    <h4><%= tt(config['label']) %></h4>
    <div class="space_5"></div>

    <% restaurants.each_with_index do |restaurant, index| %>
      <% review = restaurant.last_review %>
      <div>
        <%= link_to image_tag(review.user.display_picture,
                              :width => '40px', :alt => 'n/a'),
                    user_long_url(review.user),
                    :class => 'image_small' %>
      </div>

      <div class="review grid_3">
        <% if !review.comment.blank? %>
          <span class="content">"<%= truncate(review.comment, :length => 100) %>" - </span>
        <% end %>

        <span class="reviewer icon_<%= review.loved? ? 'loved' : '' %>">
          <%= link_to review.user.login, user_long_url(review.user) %>
          <% if review.loved? %>
            <%= tt('label.loved') %>
          <% elsif review.hated? %>
            <%= tt('label.disliked') %>
          <% elsif review.wanna_go? %>
            <%= tt('label.wannago') %>
          <% end %>
          <%= link_to restaurant.name, restaurant_long_url(restaurant) %>
        </span>
      </div>
      <div class="clear space_5"></div>
      <div class="break"></div>
      <div class="clear space_5"></div>
    <% end %>
    <div class="break"></div>
    <div class="small">
      <%= link_to tt('nav.more_places'), more_link %>
    </div>
  </div>
<% end %>