<div class='recommendRestaurants'>
  <form action="<%= search_url %>" id='recommend_form'>
    <h1><%= t('frontpage.recommend') %></h1>
    <div class="space_10"></div>
    <input type='hidden' name='_models' value='Restaurant'/>
    <input value="Search <%= (@topic.name || '').humanize %>" id="search_field"
           onblur="this.value.length == 0 ? $(this).addClass('greyText').val('Search <%= (@topic.name || '').humanize %>') : true"
           onfocus="this.value.match(/^Search/) ? $(this).removeClass('greyText').val('') : true"
           onclick="this.value.match(/^Search/) ? $(this).removeClass('greyText').val('') : true"
           name="name|short_array|long_array|description[]" class="textField greyText"/>

    <select name='short_array|long_array[]' onchange="document.getElementById('recommend_form').submit()">
      <option value="">At Anywhere</option>
      <% if @location_tag_group %>
        <% @location_tag_group.tags.each do |tag| %>
          <option value='<%= tag.name %>'>At <%= tag.name %></option>
        <% end %>
      <% end %>
    </select>
    <input type='submit' value='<%= t('button.find') %>'/> .
    <span id="nearby_places"><%= link_to "Nearby #{@topic.name.humanize.pluralize}", search_path %></span>
  </form>
</div>
<div class='clear'></div>
