<div class='recommendRestaurants'>
  <form action="<%= search_url %>" id='recommend_form' onsubmit="return function() {$('#search_field').match(/^Search/).val(''); return true;}">
    <input type='hidden' name='_models' value='Restaurant'/>
    <input value="Search <%= (@topic.name || '').humanize %>" id="search_field"
           onblur="this.value.length == 0 ? $(this).addClass('greyText').val('Search <%= (@topic.name || '').humanize %>') : true"
           onfocus="this.value.match(/^Search/) ? $(this).removeClass('greyText').val('') : true"
           onclick="this.value.match(/^Search/) ? $(this).removeClass('greyText').val('') : true"
           name="name|short_array|long_array|description[]" class="textField greyText"/>

    <%= render_tags_select_field 'locations',
                                 :name => 'short_array|long_array[]',
                                 :include_blank => 'at Anywhere',
                                 :prefix => 'at ',
                                 :onchange => "document.getElementById('recommend_form').submit()" %>
    
    <input type='submit' class="searchButton" value='<%= t('button.find') %>'/>
  </form>
</div>
<div class='clear'></div>
