<%
   images = restaurant.images
   if images.empty?
     images = restaurant.other_images
   end
   index = index || 0
%>
<div class="site_list_item">
  <% if !images.empty? %>
    <div class="grid_1">
      <%= image_tag(images.rand.public_filename(:small)) %>
    </div>
  <% end %>

  <div class="grid_6">
    <h4>
      <%= link_to restaurant.name, restaurant_long_url(:name => restaurant.name.parameterize.to_s, :id => restaurant.id) %>
    </h4>

    <div class="site_list_item_rating">
      <%= render_restaurant_review_stats(restaurant) %>
      <% if restaurant.author?(current_user) %>
        | <%= link_to 'edit', edit_restaurant_url(restaurant) %>
      <% end %>
    </div>
    <div class="summary">
      <% words = restaurant.description.split(/\s/) %>
      <%= words[0..20].join(' ') %><% if words.length > 20 %>...<% end %>
      <%= link_to 'more', restaurant_long_url(:name => restaurant.name.parameterize.to_s, :id => restaurant.id) %>
    </div>
  </div>
  <div class="clear"></div>
</div>