<%
   box_config = defined?(config) ? config : {}
   images = restaurant.related_images.by_group(nil).collect(&:image)
   if images && images.empty?
     images = restaurant.other_images
   end
%>
<table>
  <tr>
    <td>
      <% if !images.empty? %>
        <%= link_to(image_tag(
                        images.rand.public_filename(:c_very_small), :alt => 'N/A'),
                    images.first.public_filename(:large), :class => 'image_small') %>
      <% else %>
        <%= link_to(image_tag('/images/fresh/no-dp.png'), '#', :class => 'image_small') %>
      <% end %>
    </td>
    <td valign="top">
      <%= link_to truncate(restaurant.name, :length => 20),
                  restaurant_long_url(restaurant), :title => restaurant.name %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <% if box_config[:show_contribution] %>
        <%= render_restaurant_review_stats_by_user(@user, restaurant, box_config[:show_contribution]) %>
      <% else %>
        <%= render_restaurant_review_stats(restaurant) %>
      <% end %>
    </td>
  </tr>
</table>