<%
   images = restaurant.related_images.by_group(nil).collect(&:image)
   if images.empty?
     images = restaurant.other_images
   end
   index = index || 0
   grid_class = grid_class || 'grid_6'
   only_html = only_html || false
%>

<div class="site_list_item" id="list_item_restaurant_<%= restaurant.id %>">
  <% if !images.empty? %>
    <div class="grid_1">
      <%= image_tag(images.rand.public_filename(:small), :alt => '') %>
    </div>
  <% end %>

  <div class="<%= grid_class %>">
    <h4>
      <%= link_to restaurant.name, restaurant_long_url(restaurant) %>
    </h4>

    <div class="site_list_item_rating">
      <%= render_restaurant_review_stats(restaurant) %>
      <% if @display_tools.nil? || @display_tools %>
        <span id='restaurant_<%= restaurant.id %>_tools' style="display: <%= @cached ? 'none' : 'inline' %>">
          <% if !only_html %>
            <%= render :partial => 'restaurants/parts/tools', :locals => {:restaurant => restaurant} %>
          <% else %>
            <%= render :partial => 'restaurants/parts/tools.html.erb', :locals => {:restaurant => restaurant} %>
          <% end %>
        </span>
      <% end %>
    </div>

    <div class="summary">
      <% words = (restaurant.description || '').gsub(/<\/?[^>]*>/, "").split(/\s/) %>
      <%= words[0..20].join(' ') %>
      <% if words.length > 20 %>...
      <% end %>
      <%= link_to t('nav.more'), restaurant_long_url(restaurant) %>
      <% if !(restaurant.address || '').blank? %>
        <br/>
        <b><%= tt('fields.address') %>:</b>
        <%= restaurant.address %>
      <% end %>
    </div>

    <% if !restaurant.tags.empty? %>
      <div class="associated_tags">
        <b><%= tt('fields.features') %>:</b>
        <%= restaurant.tags.collect {|tag|
          link_to(tag.name, tag_details_url(
              :label => url_escape(@topic.module_conf('long_array')['label']), :tag => url_escape(tag.name)),
                  :class => "#{@tags && @tags.include?(tag.name.downcase) ? 'selectedTag' : ''}")
        }.join(', ') %>
      </div>
    <% end %>

    <% if @display_last_review %>
      <% last_review = restaurant.last_review %>
      <% if last_review %>
        <div class='review_quote'>
          <% if !only_html %>
            <%= render :partial => 'reviews/parts/review',
                       :locals => {:review => last_review, :tag_name => 'span', :grid_class => ''} %>
          <% else %>
            <%= render :partial => 'reviews/parts/review.html.erb',
                       :locals => {:review => last_review, :tag_name => 'span', :grid_class => ''} %>
          <% end %>
          <div class="clear"></div>
          <div class="space_5"></div>
          <div class="break"></div>
          <div class="space_5"></div>
          <%= link_to tt('nav.read_more_reviews'), restaurant_long_url(
              :name => url_escape(restaurant.name), :id => restaurant.id) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>