<%
   images = restaurant.related_images.by_group(nil).collect(&:image)
   if images.empty?
     images = restaurant.other_images
   end
   index = index || 0
   grid_class = grid_class || 'grid_6'
%>

<div class="site_list_item">
  <% if !images.empty? %>
    <div class="grid_1">
      <%= image_tag(images.rand.public_filename(:small), :alt => '') %>
    </div>
  <% end %>

  <div class="<%= grid_class %>">
    <h4>
      <% if @controller.is_a?(ActionController::Base) %>
        <%= link_to restaurant.name, restaurant_long_url(restaurant, :d => params[:d].nil? || params[:d]) %>
      <% else %>
        <%= link_to restaurant.name, restaurant_long_url(restaurant) %>
      <% end %>
    </h4>

    <div class="site_list_item_rating">
      <%= render_restaurant_review_stats(restaurant) %>
      <% if current_user && !restaurant.reviewed?(current_user) %>
        <%= link_to t('nav.review_now'),
                    "#{restaurant_long_url(
                        :name => url_escape(restaurant.name),
                        :id => restaurant.id)}#new_review",
                    :class => 'link_emp' %>
      <% end %>
      <% if restaurant.author?(current_user) %>
        | <%= link_to t('nav.edit'), edit_restaurant_url(restaurant) %>
        | <%= link_to t('nav.edit_tags'), edit_tags_restaurant_url(restaurant) %>
      <% end %>
      <% if logged_in? && current_user.admin? %>
        <% if restaurant.featured? %>
          | <%= link_to t('label.remove_from_featured'), featured_restaurant_path(restaurant.id) %>
        <% else %>
          | <%= link_to t('label.make_as_featured'), featured_restaurant_path(restaurant.id) %>
        <% end %>
      <% end %>
    </div>

    <div class="summary">
      <% words = (restaurant.description || '').gsub(/<\/?[^>]*>/, "").split(/\s/) %>
      <%= words[0..20].join(' ') %>
      <% if words.length > 20 %>...
      <% end %>
      <%= link_to t('nav.more'), restaurant_long_url(
          :name => url_escape(restaurant.name), :id => restaurant.id) %>
      <% if !(restaurant.address || '').blank? %>
        <br/>
        <b><%= tt('fields.address') %>:</b>
        <%= restaurant.address %>
      <% end %>
    </div>

    <% if !restaurant.tags.empty? %>
      <div class="associated_tags">
        <b><%= tt('fields.features') %>:</b>
        <%= restaurant.tags.collect {|tag|
          link_to(tag.name, tag_details_url(
              :label => 'cuisines-tags', :tag => url_escape(tag.name)),
                  :class => "#{@tag_ids && @tag_ids.include?(tag.id) ? 'selectedTag' : ''}")
        }.join(', ') %>
      </div>
    <% end %>

    <% if @display_last_review %>
      <% last_review = restaurant.last_review %>
      <% if last_review %>
        <div class='review_quote'>
          <%= render :partial => 'reviews/parts/review',
                     :locals => {:review => last_review, :tag_name => 'span', :grid_class => ''} %>
          <div class="clear"></div>
          <div class="space_5"></div>
          <div class="break"></div>
          <div class="space_5"></div>
          <%= link_to tt('nav.read_more_reviews'), restaurant_long_url(
              :name => url_escape(restaurant.name), :id => restaurant.id) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>