<ul id="topRatedRestaurants" class="weeeFeatureBox">
  <% @top_rated_restaurants.shuffle.each_with_index do |restaurant, index| %>
    <%
       link = restaurant_long_url(restaurant)
       all_images = (restaurant.all_images || [])[0..5]
       selected_image = all_images.rand
    %>

    <li style="display:<%= index == 0 ? 'block' : 'none' %>">
      <% if selected_image %>
        <%= link_to image_tag(selected_image.public_filename(:very_large), :class => 'featureImage'), link %>
      <% end %>
      
      <div class="side-overlay">
        <%= image_tag "/images/fresh/featured_restaurant_#{I18n.locale.to_s}.png", :alt => 'Featured Restaurant' %><br/>
        <small><%= t('featurebox.address') %> <%= (restaurant.address || '').blank? ? '' : "@#{restaurant.address}" %></small>
        <h2><%= link_to restaurant.name, link %></h2>
        <% if restaurant.reviews.loved.count > 0 %>
          <div class='restaurant-rate'>
            <%= t('featurebox.rating', :loves_count => restaurant.reviews.loved.count) %>
          </div>
        <% end %>
        
        <p class='description'>
          <%= truncate strip_tags(restaurant.description), :length => 100 %>
          <%= link_to t('featurebox.readmore'), link %>
          <fb:like href='<%= link %>'></fb:like>
          
        </p>

        <div class='featureOtherPics'>
          <% (all_images - [selected_image]).each do |image| %>
            <%= link_to image_tag(image.public_filename(:small)), image.public_filename(:very_large),
                        :rel => "prettyPhoto[embedGallery#{restaurant.id}]",
                        :title => image.caption %>
          <% end %>

          <% if restaurant.lat.to_i > 0 && restaurant.lng.to_i > 0 %>
            <% map_url = "http://maps.google.com/maps/api/staticmap?center=" +
                         "#{restaurant.lat},#{restaurant.lng}&zoom=14&" +
                         "sensor=false&markers=color:green|label:R|" +
                         "#{restaurant.lat},#{restaurant.lng}&key=#{@topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key}&size="
               details_link = "http://maps.google.com/maps?f=q&" +
                              "q=#{CGI.escape(restaurant.address)}&hl=en&" +
                              "geocode=&sll=#{restaurant.lat},#{restaurant.lng}"
            %>
            <%= link_to image_tag(map_url + "60x45"), "#{map_url}800x800",
                        :title => link_to(t("fields.map"), details_link) %>
          <% end %>

        </div>

        <div class='featureNav'>
          <a href='javascript:void(0)' class='btnNext'><%= t('nav.next')%></a>
          <a href='javascript:void(0)' class='btnPrevious'><%= t('nav.previous') %></a>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<div class="clear"></div>
<div class='space_10'></div>

<script type="text/javascript">

  $(document).ready(function(){
    $(".featureOtherPics a").prettyPhoto();
    
    $('ul.weeeFeatureBox').each(function() {
      var $root = $(this);
      var currentIndex = 0;
      var $items = $root.find("li");

      $root.find('.btnNext').click(function() {
        currentIndex += 1;

        if (currentIndex < $items.length) {
          $($items[currentIndex - 1]).css('display', 'none');
          $($items[currentIndex]).show();
        } else {
          currentIndex -= 1;
        }
      });

      $root.find('.btnPrevious').click(function() {
        currentIndex -= 1;

        if (currentIndex >= 0) {
          $($items[currentIndex + 1]).hide("slide", {direction: 'down'}, 1000);
          $($items[currentIndex]).show();

        } else {
          currentIndex += 1;
        }
      });
    });

    $('#featureBox').bind('mouseover', function() {
      $('.btnNext, .btnPrevious').css('display', 'block');
    });

    $('#featureBox').bind('mouseout', function() {
      $('.btnNext, .btnPrevious').css('display', 'none');
    });
  });
</script>