<% if !reviews.empty? %>
  <h4><%= tt("module.#{title}") %></h4>
  <table class="site_simple_box">
    <tbody>
    <tr>
      <% reviews.each_with_index do |review, index| %>
        <td>
          <% if review.user.image %>
            <%= link_to image_tag(review.user.image.public_filename(:very_small),
                                  :alt => 'n/a'),
                        user_long_url(:id => review.user.id,
                                      :login => review.user.login),
                        :class => 'image_small',
                        :title => "#{review.user.login}" %>
          <% else %>
            <%= link_to(image_tag('fresh/user.png', :width => '20px'),
                        user_long_url(:id => review.user.id,
                                      :login => review.user.login),
                        :class => 'image_small') %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <tr>
      <td colspan="<%= reviews.length %>">
        <div class="small">
          <%= link_to tt('nav.interested_people'), more_link %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
