
<div class='selectedFriends'>
  <h1>
    Who should be treating <fb:name useyou='true' linked='true' uid='loggedinuser' capitalize='true'/> TODAY?<br/>
    <fb:share-button class="url" href="<%= Facebooker.facebook_path_prefix %>"/> this application with friends!
  </h1>

  <% form_tag 'treat_me', :method => :post do %>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
    <div class='todaysRestaurant'>
      <h2>We have selected</h2>
      <input type='hidden' name='restaurant_id' value='<%= @restaurant.id %>'/>
      <%= render :partial => 'restaurants/parts/restaurant', :local => {:restaurant => @restaurant} %>
    </div>

    <div class='friends'>
      <h2>
        Ask your friends to treat you at
        <%= link_to @restaurant.name, restaurant_long_url(
          :canvas => false,
          :name => (@restaurant.name || '').parameterize.to_s,
          :id => @restaurant.id) %>
      </h2>
      <% @randomly_selected_friends.each do |uid, user| %>
        <fb:user uid="<%= uid %>">
          <div class='friendProfile'>
            <% friend_checkbox_id = "friend_#{uid}" %>
            <label for='<%= friend_checkbox_id %>'>
              <fb:profile-pic uid="<%= uid %>" size='square' linked='false'/>
              <div class='friendName'>
                <input type='checkbox' name='friend_ids[]' id="<%= friend_checkbox_id %>" value='<%= uid %>'/>
                <label for='<%= friend_checkbox_id %>'>
                  <fb:name uid="<%= uid %>" firstnameonly='true' linked='false'/>
                </label>
              </div>
            </label>
          </div>
        </fb:user>
      <% end %>

      <div class='clear'></div>

      <h2>Add your message</h2>
      <div class='comment'>
        <textarea name='comment'></textarea>
      </div>

      <div class='buttons'>
        <label class="uiButton uiButtonConfirm uiButtonMedium">
          <input type="submit" class="FN_call-method" value="Please please khawan!">
        </label>
      </div>
    </div>

  <% end %>

</div>

