<div class='tags'>
  <% @tags.each do |tag| %>
    <div class='tag' style="background: <%= tag.as_section? ? 'lightblue' : '' %>">
      <%= tag.name %>
      <small style='color: green'><%= tag.feature_enlist ? '(featured)' : '' %></small>
      <small style='color: blue'><%= tag.as_section? ? '(section)' : '' %></small>

      (<%= [link_to('x', tag_url(tag), :confirm => t('confirm.delete_entry'),
                    :method => :delete),
           link_to('s', "#{flag_as_section_tag_path(tag.id)}", :title => 'Set as section'),
           link_to('e', "#{edit_tag_path(tag.id)}#edit_tag")].join(', ') %>)
    </div>
  <% end %>
  <div class='clear'></div>
</div>
<div class='break'></div>
<div class='space_10'></div>

<div>
  <% form_tag sync_tags_url, :method => :post do %>
    <select name='tags'>
      <% @topic.form_attribute.fields.collect{|f| [f['label'], f['default_value']]}.each do |label, value| %>
        <% if value && !value.empty? %>
          <option value="<%= CGI.escape(value) %>"><%= label %></option>
        <% end %>
      <% end %>
    </select>
    <input type='submit' value='<%= t('label.sync_tags') %>'/>
  <% end %>

  <div class='space_10'></div>
  <div class='break'></div>
  <div class='space_10'></div>
  <h4>Add new tag</h4>
  <div class='break'></div>
  <div class='space_10'></div>
  <% form_for form_model = (@tag || Tag.new) do |f| %>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    <%= f.error_message_on :name %>
    <div class="space_10"></div>

    <%= f.check_box :feature_enlist %><%= f.label :feature_enlist %>
    <div class="space_10"></div>
    
    <%= f.check_box :as_section %><%= f.label :as_section %>
    <div class="space_10"></div>

    <%= f.label :section_index %> <%= f.text_field :section_index, :size => 5 %>
    <div class="space_10"></div>

    <% if form_model.new_record? %>
      <%= f.submit t('button.create') %>
    <% else %>
      <%= f.submit t('button.update') %>
    <% end %>
  <% end %>

  <div class="space_10"></div>
  <h4>Import tags</h4>
  <div class='break'></div>
  <% form_for Tag::ImportableTag.new, :url => import_tags_path, :html => {:multipart => true} do |f| %>
    <%= f.label :pre_processing_code, nil,
                :style => "background: lightYellow; padding: 5px; border: 1px solid orange;cursor: pointer",
                :onclick => "$('#tag_importable_tag_pre_processing_code').toggle('slide')" %><br/>
    <%= f.text_area :pre_processing_code, :style => 'display: none' %><br/>

    <%= f.label :post_processing_code, nil,
                :style => "background: lightYellow; padding: 5px; border: 1px solid orange; cursor: pointer",
                :onclick => "$('#tag_importable_tag_post_processing_code').toggle('slide')" %><br/>
    <%= f.text_area :post_processing_code, :style => 'display: none' %><br/>

    <%= f.label :tag_group_id %><br/>
    <%= f.select :tag_group_id, @topic.tag_groups.collect{|tg| [tg.name, tg.id] }, :include_blank => true %><br/>
    <%= f.label :separator_type %><br/>
    <%= f.select :separator_type, Tag::ImportableTag::SEPARATOR_TYPE %><br/>

    <%= f.label :custom_separator %><br/>
    <%= f.text_field :custom_separator, :disabled => 'disabled' %><br/>

    <%= f.label :data %><br/>
    <%= f.file_field :data %><br/>
    <%= f.submit 'Import tags' %>

  <% end %>
  <div class="space_10"></div>
</div>