<div class='tags'>
  <% @tags.each do |tag| %>
    <div class='tag'>
      <%= tag.name %> <small style='color: green'><%= tag.feature_enlist ? '(featured)' : '' %></small>
      (<%= [link_to('x', tag_url(tag), :confirm => t('confirm.delete_entry'),
                    :method => :delete),
           link_to('e', "#{edit_tag_path(tag.id)}#edit_tag")].join(', ') %>)
    </div>
  <% end %>
  <div class='clear'></div>
</div>
<div class='break'></div>
<div class='space_10'></div>

<div>
  <% form_tag sync_tags_url, :method => :post do %>
    <select name='tags'>
      <% @topic.form_attribute.fields.collect{|f| [f['label'], f['default_value']]}.each do |label, value| %>
        <% if value && !value.empty? %>
          <option value="<%= CGI.escape(value) %>"><%= label %></option>
        <% end %>
      <% end %>
    </select>
    <input type='submit' value='<%= t('label.sync_tags') %>'/>
  <% end %>

  <div class='space_10'></div>
  <div class='break'></div>
  <div class='space_10'></div>
  <h4>Add new tag</h4>
  <div class='space_10'></div>
  <% form_for form_model = (@tag || Tag.new) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.error_message_on :name %>
    <%= f.check_box :feature_enlist %>
    <%= f.label :feature_enlist %>

    <% if form_model.new_record? %>
      <%= f.submit t('button.create') %>
    <% else %>
      <%= f.submit t('button.update') %>
    <% end %>
  <% end %>

  <div class="space_10"></div>
  <h4>Import tags</h4>
  <% form_tag import_tags_path, :multipart => true do %>
    <input type="file" name="data"/>
    <input type="submit" value="Import"/>
  <% end %>
  <div class="space_10"></div>
</div>