<% pages = @restaurant.pages %>
<% if !pages.empty? %>
  <div class='menu'>
    <b><%= t('label.pages') %> <%= @restaurant.author?(current_user) ? "(#{link_to(t('nav.add_page'), new_restaurant_page_url(@restaurant.id, :d => true))})" : '' %> - </b>
    <%= link_to t('nav.news'), restaurant_messages_path(@restaurant, :d => true) %> .
    <%= link_to t('nav.food_menu'), restaurant_food_items_path(@restaurant, :d => true) %> .
    
    <% if @page %>
      <%= link_to @restaurant.name, restaurant_long_url(
          :name => url_escape(@restaurant.name),
          :id => @restaurant.id) %> .

      <%= pages.collect{ |apage|
        if @page && apage.id != @page.id
          link_to(apage.title, readable_page_path(@restaurant, apage.url, :d => true))
        end}.compact.join(' . ')
      %>
    <% else %>
      <%= pages.collect{ |apage|
          link_to(apage.title, readable_page_path(@restaurant, apage.url, :d => true))
        }.compact.join(' . ')
      %>
    <% end %>
  </div>
  <div class='space_10'></div>
  <div class='break'></div>
<% else %>
  <div class='menu'>
    <b><%= t('label.pages') %> <%= @restaurant.author?(current_user) ? "(#{link_to(t('nav.add_page'), new_restaurant_page_url(@restaurant.id, :d => true))})" : '' %> - </b>
    <%= link_to t('nav.news'), restaurant_messages_path(@restaurant, :d => true) %> .
    <%= link_to t('nav.food_menu'), restaurant_food_items_path(@restaurant, :d => true) %>
  </div>
  <div class='space_10'></div>
  <div class='break'></div>
<% end %>