<div class='breadcrumbs'>
  <%= link_to @restaurant.name, restaurant_long_url(@restaurant) %> &raquo;
  <%= link_to tt('nav.food_menu'), restaurant_food_items_path(@restaurant) %> &raquo;
</div>

<h1>
  <%= tt('nav.add_new_food_menu') %>
</h1>
<div class='break'></div>
<div class='space_10'></div>
<% form_for @food_item do |f| %>
  <%= f.hidden_field :restaurant_id %>

  <table class='formTable' cellspacing="10">
    <%= render :partial => 'food_items/parts/form', :locals => {:f => f} %>
    <tr>
      <td colspan="2">
        <%= f.submit t('button.create') %>
      </td>
    </tr>
  </table>
<% end %>

<script type="text/javascript">
  $('#food_item_name').focus();
</script>