<div class="grid_12">
  <h1><%= t('header.restaurant_show_page', :link => link_to(
      @restaurant.name, restaurant_url(@restaurant))) %></h1>
  <div class="break"></div>

  <% form_for @restaurant do |f| %>
    <%= f.error_messages.gsub(/(restaurant)/, @topic.name.humanize) %>
    <%= f.hidden_field :id, :value => @restaurant.id %>
    <%= render :partial => 'restaurants/parts/form_attributes_based',
               :locals => {:f => f} %>
    <%= f.submit t('button.update'), :class => 'submit' %>
    <div class="space_5"></div>
    <button class="submit" type='button' onclick="window.location = '<%= restaurant_long_url(@restaurant) %>'"><%= t('nav.show') %></button>
    <div class="space_5"></div>
    <% if @restaurant.author?(current_user) %>
      <%= link_to '', restaurant_url(@restaurant),
                  :id => 'del_restaurant_link',
                  :method => :delete,
                  :confirm => t('confirm.delete_entry') %>
      <button type="button" class="submit" onclick="$('#del_restaurant_link').click()"><%= t('nav.delete') %></button>
    <% end %>
  <% end %>

  <div class="clear space_10"></div>
  <% if @allow_image_upload %>
    <div class="edit_image_gallery">
      <h3><%= t('subheader.upload_pictures') %></h3>
      <div class="break"></div>
      <div class="space_5 break"></div>
      <% form_for MultiImage.new, :url => images_url, :html => {:method => :post, :multipart => true} do |f| %>
        <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>"/>

        <%= f.file_field :uploaded_datum, :index => '' %>
        <%= f.text_field :captions, :index => '' %>
        <%= f.submit t('button.upload'), :class => 'submit' %>
      <% end %>
      <div class="clear"></div>
      <div class="space_10"></div>
      <div class="break"></div>
      <div class="space_10"></div>

      <% if !@restaurant.images.empty? %>
        <div class="image_preview">
          <% @restaurant.images.each do |image| %>
            <div class="image grid_1">
              <%= image_tag image.public_filename(:small),
                            :alt => t('label.not_available'),
                            :width => '60px' %>
              <div class="tools">
                <%= link_to 'delete', image_url(image),
                            :method => :delete,
                            :confirm => t('confirm.delete_image') %>
              </div>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      <% else %>
        <%= t('label.no_image_added') %>
      <% end %>

      <div class="space_10"></div>
      <h3><%= t('subheader.contributed_images') %></h3>
      <div class="break"></div>

      <% if !@restaurant.other_images.empty? %>
        <div class="image_preview">
          <% @restaurant.other_images.each do |image| %>
            <div class="image grid_1">
              <%= image_tag image.public_filename(:small),
                            :alt => t('label.not_available'),
                            :width => '60px' %>
              <div class="tools">
                <%= link_to t('nav.delete'), image_url(
                    image, :restaurant_id => @restaurant.id),
                            :method => :delete,
                            :confirm => t('confirm.delete_image') %>
              </div>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>