<div class="grid_12">
  <h1><%= t('header.restaurant_show_page',
            :link => link_to(@restaurant.name, restaurant_long_url(@restaurant))) %></h1>
  <div class="break"></div>

  <% form_for @restaurant do |f| %>
    <%= f.error_messages.gsub(/(restaurant)/, @topic.name.humanize) %>
    <%= f.hidden_field :id, :value => @restaurant.id %>
    <%= render :partial => 'restaurants/parts/form_attributes_based', :locals => {:f => f} %>
    <%= f.submit t('button.update'), :class => 'submit' %> |
    <%= link_to t('nav.show'), restaurant_long_url(
        :name => url_escape(@restaurant.name), :id => @restaurant.id) %>
    <% if @restaurant.author?(current_user) %>
      | <%= link_to t('nav.delete'), restaurant_url(@restaurant),
                    :method => :delete,
                    :confirm => t('confirm.delete_entry') %>
    <% end %>
  <% end %>

  <div class="clear space_10"></div>
  <% if @allow_image_upload %>
    <div class="edit_image_gallery">
      <h3><%= t('subheader.upload_pictures')%></h3>
      <div class="break"></div>
      <div class="space_5 break"></div>
      <% form_for Image.new, :html => {:multipart => true} do |f| %>
        <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>"/>

        <%= f.file_field :uploaded_data %>
        <%= f.text_field :caption %>
        <%= f.submit t('button.upload') %>
      <% end %>
      <div class="clear"></div>
      <div class="space_10"></div>
      <div class="break"></div>
      <div class="space_10"></div>

      <% if !@restaurant.images.empty? %>
        <div class="image_preview">
          <% @restaurant.images.each do |image| %>
            <div class="image grid_1">
              <%= image_tag image.public_filename(:small),
                            :alt => t('label.not_available'),
                            :width => '60px' %>
              <div class="tools">
                <%= link_to t('nav.delete'), image_url(image),
                            :method => :delete,
                            :confirm => t('confirm.delete_image') %>
              </div>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      <% else %>
        No image added!
      <% end %>

      <div class="space_10"></div>
      <h3><%= t('subheader.contributed_images') %></h3>
      <div class="break"></div>

      <% if !@restaurant.other_images.empty? %>
        <div class="image_preview">
          <% @restaurant.other_images.each do |image| %>
            <div class="image grid_1">
              <%= image_tag image.public_filename(:small),
                            :alt => t('label.not_available'),
                            :width => '60px' %>
              <div class="tools">
                <%= link_to 'delete', image_url(image, :restaurant_id => @restaurant.id),
                            :method => :delete,
                            :confirm => t('confirm.delete_image') %>
              </div>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>