<div id="site_center">
  <div class="grid_8 restaurant_details">
    <div class="breadcrumbs">
      <%= link_to @topic.name.humanize.pluralize, root_url %> &raquo;
      <span class="review_tools">
        <% if @restaurant.author?(current_user) %>
          (<%= link_to 'edit', edit_restaurant_url(:id => @restaurant.id) %>)
        <% end %>
      </span>
    </div>
    <div class="break space_5"></div>

    <div class="restaurant_details">
      <h3><%= link_to @restaurant.name,
                      restaurant_long_url(
                          :name => @restaurant.name.parameterize.to_s,
                          :id => @restaurant.id) %></h3>
      <p>
        <%= render :partial => 'images/parts/image_gallery' %>
        <%= simple_format @restaurant.description %>
      </p>

      <div class='properties'>
        <% @form_fields.each do |field| %>
          <%
             field_label = field['label']
             field_name = field['field']
             field_type = field['type']
             display = field['display']
             field_value = field_name ? @restaurant.send(field_name) : ''
          %>
          <% if field_value && display %>
            <div class="grid_2">
              <strong><%= tt(field_label, :group => :view) %></strong>
            </div>
            <div class="grid_4">
              <% if field_type == 'checkbox' %>
                <%= field_value == true ? 'yes' : 'no' %>
              <% else %>
                <%= h field_value %>
              <% end %>
            </div>
            <div class="clear"></div>
          <% end %>
        <% end %>
      </div>
      <div class="clear"></div>
      <div class="space_10"></div>

      <div class="clear"></div>
      <div class="bookmark_tools">
        <%= distance_of_time_in_words(@restaurant.created_at, Time.now) %>
        ago added by <%= link_to @restaurant.user.login, user_long_url(:id => @restaurant.user.id, :login => @restaurant.user.login) %>.

        <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=we4tech"><img src="http://s7.addthis.com/static/btn/v2/lg-bookmark-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=we4tech"></script>
      </div>
      <div class="break"></div>
      <div class="space_5"></div>
    </div>
    <div class="clear"></div>

    <% if current_user && @allow_contributed_image_upload %>
      <%= render :partial => 'contributed_images/parts/add'%>
    <% end %>

    <%= render :partial => 'contributed_images/parts/image_gallery' %>

    <div class="clear space_10"></div>
    <%= render :partial => 'reviews/parts/restaurant_review', :locals => {:restaurant => @restaurant} %>

    <div class="space_10"></div>
    <% if current_user %>
      <% if !(user_review = current_user.reviews.restaurant(@restaurant.id).first) %>
        <%= render :partial => 'reviews/parts/form', :locals => {:restaurant => @restaurant} %>
      <% else %>
        <div class='highlight'>
          You have reviewed <%= tt('this place') %> before!,
          do you think <%= tt('this place') %> is no longer cOoL ?? why don't you change it right here!
          say your strong opinion :)_) <br/> - 

          <a href='javascript: void(0)' onclick="$('#edit_review_<%= user_review.id %>').show()">edit your existing review!</a>
        </div>
        <%= render :partial => 'reviews/parts/edit_form', :locals => {:review => user_review} %>
      <% end %>
    <% else %>
      Please <%= link_to 'login', login_url %> to review this place! 
    <% end %>
    <div class="space_10"></div>
  </div>

  <div class="grid_4" id="site_center_boxes">
    <div class="site_simple_box restaurant_address">
      <h4>
        Address
      </h4>
      <% if @restaurant.lat.to_i > 0 && @restaurant.lng.to_i > 0 %>
        <div class="space_5"></div>
        <img src="http://maps.google.com/maps/api/staticmap?center=<%= @restaurant.lat %>,<%= @restaurant.lng %>&zoom=14&size=280x300&sensor=false&markers=color:green|label:R|<%= @restaurant.lat %>,<%= @restaurant.lng %>&key=<%= MAP_API_KEY %>" alt="" width="299px"/>
      <% end %>
      <address><%= @restaurant.address %></address>
    </div>
    <div class="clear"></div>

    <%= render_who_wanna_go_there(@restaurant) %>

    <%= render :partial => 'layouts/fresh_parts/modules' %>
  </div>
</div>