<div id="site_center">
  <div class="grid_8 restaurant_details">
    <div class="breadcrumbs">
      <%= link_to @topic.name.humanize.pluralize, root_url %> &raquo;
      <span class="review_tools">
        <% if @restaurant.author?(current_user) %>
          (<%= link_to t('nav.edit'), edit_restaurant_url(:id => @restaurant.id) %>
          ,
          <%= link_to t('nav.edit_tags'), edit_tags_restaurant_url(@restaurant) -%>
          <%- if current_user.admin? -%>,
            <%= link_to 'Premium', restaurant_premium_templates_path(@restaurant) -%>
            <% if @restaurant.featured? %>
              , <%= link_to t('label.remove_from_featured'), featured_restaurant_path(@restaurant.id) %>
            <% else %>
              , <%= link_to t('label.make_as_featured'), featured_restaurant_path(@restaurant.id) %>
            <% end %>
          <%- end -%>
          , <%= link_to 'Add recipients', add_recipient_restaurant_path(@restaurant.id) %>
          )
        <% end %>
      </span>
    </div>
    <div class="break space_5"></div>
    <%= render :partial => 'pages/parts/links' %>
    <div class='space_10'></div>

    <div class="restaurant_details">
      <h1><%= @restaurant.name %></h1>

      <div class='space_10'></div>
      <fb:like href="<%= request.url %>"></fb:like>

      <%= render :partial => 'images/parts/image_gallery' %>
      <div class='contentDetails'>
        <%= @restaurant.description %>
      </div>

      <% if @restaurant.description.length > 400 %>
        <div class='clear space_10'></div>
        <div class='redBreak'></div>
        <div class='contentDetailsTools'>
          <a href='javascript:void(0)' class='readMoreLess'
             onclick='$(".contentDetails").css("max-height", "inherit").css("overflow-y", "visible"); $(".contentDetailsTools .readMoreLess").toggle()'><%= t('nav.more') %></a>
          <a href='javascript:void(0)' class='readMoreLess readLess'
             style='display:none' onclick='$(".contentDetails").css("max-height", "200px").css("overflow-y", "hidden"); $(".contentDetailsTools .readMoreLess").toggle()'><%= t('nav.less') %></a>
        </div>
        <div class='clear space_10'></div>
      <% end %>

      <div class='properties'>
        <% @form_fields.each do |field| %>
          <%
             field_label = field['label']
             field_name = field['field']
             field_type = field['type']
             display = field['display']
             field_value = field_name ? @restaurant.send(field_name) : nil
          %>
          <% if field_value && display %>
            <div class="grid_2">
              <strong><%= tt("fields.#{field_label}", :group => :view) %></strong>
            </div>
            <div class="grid_4">
              <% if field_type == 'checkbox' %>
                <%= field_value == true ? 'yes' : 'no' %>
              <% elsif field_type == 'options' %>
                <%= (field_value || []).collect{|t|
                  link_to(t, tag_details_url(
                      :label => 'cuisines-tags', :tag => url_escape(t)))
                }.join(', ')
                %>
              <% else %>
                <%= h field_value %>
              <% end %>
            </div>
            <div class="clear"></div>
          <% end %>
        <% end %>
      </div>
      <div class="clear"></div>
      <div class="space_10"></div>

      <div class="clear"></div>
      <div class="bookmark_tools">
        <%= distance_of_time_in_words(@restaurant.created_at, Time.now) %>
        <%= t('label.ago') %> <%= t('label.added_by') %>
        <%= link_to @restaurant.user.login, user_long_url(
            :id => @restaurant.user.id, :login => @restaurant.user.login) %>.

        <a class="addthis_button"
           href="http://www.addthis.com/bookmark.php?v=250&amp;pub=we4tech">
          <img src="http://s7.addthis.com/static/btn/v2/lg-bookmark-en.gif"
               width="125" height="16" alt="Bookmark and Share"
               style="border:0"/>
        </a>
        <script type="text/javascript"
                src="http://s7.addthis.com/js/250/addthis_widget.js#pub=we4tech">
        </script>
      </div>
      <div class="break"></div>
      <div class="space_5"></div>
      <%= render_related_restaurants(5) %>

    </div>
    <div class="clear"></div>

    <% if current_user && @allow_contributed_image_upload %>
      <%= render :partial => 'contributed_images/parts/add' %>
    <% end %>

    <%= render :partial => 'contributed_images/parts/image_gallery' %>
    <div class="clear space_10"></div>

    <div class="break"></div>
    <div class='space_10'></div>
    <%= render :partial => 'reviews/parts/review_editor' %>
    <div class='break'></div>
    <div class='clear'></div>
    <div class='space_10'></div>
    <%= render :partial => 'reviews/parts/restaurant_review',
               :locals => {:restaurant => @restaurant} %>

    <div class="space_10"></div>
  </div>

  <div class="" id="site_center_boxes">

    <% if @topic.name == 'restaurant' %>
      <div class="site_simple_box restaurant_address" align="center">
        <a href='mailto:biz@welltreat.us?subject=[BIZ knock knock]'
           title="<%= t('title.own_this') %>">
          <%= image_tag('fresh/button_do_u_own_this.png') %>
        </a>
      </div>
      <div class="clear"></div>
      <div class="space_10"></div>
    <% end %>

    <% if !(@restaurant.address || '').blank? %>
      <div class="site_simple_box restaurant_address">
        <h4>
          <%= t('fields.address') %>
        </h4>
        <% if @restaurant.lat.to_i > 0 && @restaurant.lng.to_i > 0 %>
          <% map_url = "http://maps.google.com/maps/api/staticmap?center=" +
              "#{@restaurant.lat},#{@restaurant.lng}&zoom=14&" +
              "sensor=false&markers=color:green|label:R|" +
              "#{@restaurant.lat},#{@restaurant.lng}&key=#{MAP_API_KEY}&size="
             details_link = "http://maps.google.com/maps?f=q&" +
                 "q=#{CGI.escape(@restaurant.address)}&hl=en&" +
                 "geocode=&sll=#{@restaurant.lat},#{@restaurant.lng}"
          %>

          <div class="space_5"></div>
          <%= link_to image_tag(map_url + "300x300"), "#{map_url}800x800",
                      :class => 'openUpinLightBox',
                      :title => link_to(t('fields.map'), details_link) %>
        <% end %>
        <address><%= @restaurant.address %></address>
      </div>
    <% end %>
    <div class="clear"></div>
    <%= render_who_wanna_go_there(@restaurant) %>
  </div>
</div>

<div class="hreview-aggregate">
   <span class="item">
      <span class="<%= I18n.locale.to_s %>"><%= @restaurant.name %></span>
   </span>
   <span class="rating">
      <span class="average"><%= @restaurant.rating_out_of(Restaurant::RATING_LIMIT) %></span> out of
      <span class="best"><%= Restaurant::RATING_LIMIT %></span>
   </span>
  based on
  <span class="count"><%= @restaurant.reviews.loved.count %></span> ratings.
  <span class="votes"><%= @restaurant.reviews.count %></span> user reviews.
</div>

<div class="vcard">
  <span class="<%= I18n.locale.to_s %> org"><%= @restaurant.name %></span>
  Located at
  <div class="adr">
    <%= @restaurant.address %>
  </div>
   <span class="geo">
      <span class="latitude">
         <span class="value-title" title="<%= @restaurant.lat %>"></span>
      </span>
      <span class="longitude">
         <span class="value-title" title="<%= @restaurant.lng %>"></span>
      </span>
   </span>
</div>


