<div id="site_center">
<div class="grid_8 restaurant_details">
  <% if @restaurant.author?(current_user) %>
    <div class="mobile_button_block">
      <button onclick="$('#rb_<%= @restaurant.id %>').toggle('slide');">Show admin links</button>
    </div>
  <% end %>

  <div class="breadcrumbs" style="display: none" id="rb_<%= @restaurant.id %>">
    <%= link_to @topic.name.humanize.pluralize, root_url %> &raquo;
    <span class="review_tools">
        <% if @restaurant.author?(current_user) %>
          (<%= link_to t('nav.edit'), edit_restaurant_url(:id => @restaurant.id) %>
        ,
        <%= link_to t('nav.edit_tags'), edit_tags_restaurant_url(@restaurant) -%>
        <%- if current_user.admin? -%>,
          <%= link_to 'Premium', restaurant_premium_templates_path(@restaurant) -%>
          <% if @restaurant.featured? %>
              , <%= link_to t('label.remove_from_featured'), featured_restaurant_path(@restaurant.id) %>
            <% else %>
              , <%= link_to t('label.make_as_featured'), featured_restaurant_path(@restaurant.id) %>
            <% end %>
          <%- end -%>
        , <%= link_to 'Add recipients', add_recipient_restaurant_path(@restaurant.id) %>
        )
        <% end %>
      </span>

    <div class="space_5"></div>
  </div>
  <div class="break"></div>
  <div class="space_5"></div>
  <%= render :partial => 'pages/parts/links' %>
  <div class='space_10'></div>

  <div class="restaurant_details">
    <h1>
      <%= @restaurant.name %>
      <fb:like href="<%= request.url %>" layout="button_count" show_faces="false" font=""></fb:like>
    </h1>
    <%= render_restaurant_review_stats(@restaurant) %>
    <div class='space_10'></div>
    <div class='mobile_buttons'>
      <ul>
        <% if !(@restaurant.string1 || '').blank? %>
          <!-- Nokia - wtai://wp/mc; -->
          <li class='leftEnabled'><a href='<%= @restaurant.string1 %>;'>Call</a></li>
        <% else %>
          <li class='leftDisabled'>Call</li>
        <% end %>
        <li class='centerEnabled'><a href='#new_review'>Reviews</a></li>
        <% if !(@restaurant.address || '').blank? && @restaurant.lat.to_i > 0 && @restaurant.lng.to_i > 0 %>
          <li class='rightEnabled'>
            <a href='services://C2A?C2Aid=2305&Version=1.0&2305=Landmark(lat=<%= @restaurant.lat %>&long=<%= @restaurant.lng %>&name=<%= u(@restaurant.name) %>)'>Map</a>
          </li>
        <% else %>
          <li class='rightDisabled'>Map
          <li>
        <% end %>
      </ul>
    </div>
    <div class='clear'></div>
    <div class='space_10'></div>
    <p>
      <%= strip_tags truncate(@restaurant.description, 100) %>
    </p>

    <% if !(@restaurant.address || '').blank? %>
      <div class='space_10'></div>
      <div class="site_simple_box restaurant_address">
        <h4>
          <%= t('fields.address') %>
        </h4>
        <address><%= @restaurant.address %></address>
        <div class='space_10'></div>
        <% if @restaurant.lat.to_i > 0 && @restaurant.lng.to_i > 0 %>
          <% map_url = "http://maps.google.com/maps/api/staticmap?center=" +
              "#{@restaurant.lat},#{@restaurant.lng}&zoom=14&" +
              "sensor=false&markers=color:green|label:R|" +
              "#{@restaurant.lat},#{@restaurant.lng}&key=#{@topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key}&size="
             details_link = "http://maps.google.com/maps?f=q&" +
                 "q=#{CGI.escape(@restaurant.address)}&hl=en&" +
                 "geocode=&sll=#{@restaurant.lat},#{@restaurant.lng}"
          %>

          <div class="space_5"></div>
          <%= link_to image_tag(map_url + "300x300"), full_map_url(:rid => @restaurant.id),
                      :class => 'openUpinLightBox',
                      :title => link_to(t('fields.map'), details_link) %>
        <% end %>

      </div>
    <% end %>

    <div class='clear space_10'></div>
    <div class="mobile_button_block">
      <button onclick="$('#rig_<%= @restaurant.id %>').toggle('slide');">Show images</button>
    </div>
    <div id="rig_<%= @restaurant.id %>" style="display:none">
      <%= render :partial => 'images/parts/image_gallery' %>
      <%= render :partial => 'contributed_images/parts/image_gallery' %>
    </div>

    <div class='space_10'></div>
    <div class='properties'>
      <% @form_fields.each do |field| %>
        <%
           field_label = field['label']
           field_name = field['field']
           field_type = field['type']
           display = field['display']
           field_value = field_name ? @restaurant.send(field_name) : nil
        %>
        <% if field_value && display %>
          <div class="mobile_button_block">
            <button onclick="$('#<%= field_name %>_<%= @restaurant.id %>').toggle('slide');">Show <%= tt("fields.#{field_label}", :group => :view) %></button>
          </div>
          <div class="grid_4" id="<%= field_name %>_<%= @restaurant.id %>" style="display: none">
            <% if field_type == 'checkbox' %>
              <%= field_value == true ? 'yes' : 'no' %>
            <% elsif field_type == 'options' %>
              <%= (field_value || []).collect { |t|
                link_to(t, tag_details_url(
                    :label => url_escape((@topic.module_conf(field_name) || {})['label'] || 'location'), :tag => url_escape(t)))
              }.join(', ')
              %>
            <% else %>
              <%= safe_textilize(field_value) %>
            <% end %>
          </div>
          <div class="clear"></div>
        <% end %>
      <% end %>
    </div>
    <div class='clear space_10'></div>

    <div class="mobile_button_block">
      <button onclick="$('#rr_<%= @restaurant.id %>').toggle('slide');">Show similar items</button>
    </div>
    <div id="rr_<%= @restaurant.id %>" style="display: none">
      <%= render_related_restaurants(5) %>
    </div>

    <div class="clear"></div>
    <div class="space_10"></div>

    <div class="mobile_button_block">
      <button onclick="$('#rd_<%= @restaurant.id %>').toggle('slide');">Show description</button>
    </div>

    <div class='contentDetails' style="display:none" id="rd_<%= @restaurant.id %>">
      <%= sanitize @restaurant.description %>
    </div>

    <div class="clear"></div>

    <% if current_user && @allow_contributed_image_upload %>
      <div class="mobile_button_block">
        <button onclick="$('#rcia_<%= @restaurant.id %>').toggle('slide');">Add image</button>
      </div>
      <div id="rcia_<%= @restaurant.id %>" style="display: none">
        <%= render :partial => 'contributed_images/parts/add' %>
      </div>
    <% end %>


  <div class="clear space_10"></div>
  <div class="mobile_button_block">
    <button onclick="$('#rrp_<%= @restaurant.id %>').toggle('slide');">Add review</button>
  </div>

  <div id="rrp_<%= @restaurant.id %>" style="display: none">
    <div class="break"></div>
    <div class='space_10'></div>
    <%= render :partial => 'reviews/parts/review_editor' %>
    <div class='break'></div>
    <div class='clear'></div>
    <div class='space_10'></div>
    <%= render :partial => 'reviews/parts/restaurant_review',
               :locals  => {:restaurant => @restaurant} %>
  </div>

  <div class="space_10"></div>
    <div class="bookmark_tools">
      <%= distance_of_time_in_words(@restaurant.created_at, Time.now) %>
      <%= t('label.ago') %> <%= t('label.added_by') %>
      <%= link_to @restaurant.user.login, user_long_url(@restaurant.user) %>.

      <a class="addthis_button"
         href="http://www.addthis.com/bookmark.php?v=250&amp;pub=we4tech">
        <img src="http://s7.addthis.com/static/btn/v2/lg-bookmark-en.gif"
             width="125" height="16" alt="Bookmark and Share"
             style="border:0"/>
      </a>
      <script type="text/javascript"
              src="http://s7.addthis.com/js/250/addthis_widget.js#pub=we4tech">
      </script>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="" id="site_center_boxes">

  <% if @topic.name == 'restaurant' %>
    <div class="site_simple_box restaurant_address" align="center">
      <a href='mailto:biz@welltreat.us?subject=[BIZ knock knock]'
         title="<%= t('title.own_this') %>">
        <%= image_tag('fresh/button_do_u_own_this.png') %>
      </a>
    </div>
    <div class="clear"></div>
    <div class="space_10"></div>
  <% end %>

  <div class="clear"></div>
  <%= render_who_wanna_go_there(@restaurant) %>
</div>
</div>

<div class="hreview-aggregate">
   <span class="item">
      <span class="<%= I18n.locale.to_s %>"><%= @restaurant.name %></span>
   </span>
   <span class="rating">
      <span class="average"><%= @restaurant.rating_out_of(Restaurant::RATING_LIMIT) %></span> out of
      <span class="best"><%= Restaurant::RATING_LIMIT %></span>
   </span>
  based on
  <span class="count"><%= @restaurant.reviews.loved.count %></span> ratings.
  <span class="votes"><%= @restaurant.reviews.count %></span> user reviews.
</div>

<div class="vcard">
  <span class="<%= I18n.locale.to_s %> org"><%= @restaurant.name %></span>
  Located at
  <div class="adr">
    <%= @restaurant.address %>
  </div>
   <span class="geo">
      <span class="latitude">
         <span class="value-title" title="<%= @restaurant.lat %>"></span>
      </span>
      <span class="longitude">
         <span class="value-title" title="<%= @restaurant.lng %>"></span>
      </span>
   </span>
</div>


