<div class='site_simple_box'>
  <h4><%= t('module.Search restaurants')%></h4>
  <div class='space_10'></div>
  <%= render_search({'label' => 'Content Search'}) %>
</div>
<div class='space_10'></div>

<% if ViewContext::CONTEXT_RESTAURANT_DETAILS != @view_context %>
  <div class='site_simple_box'>
    <h4><%= t('module.Recent Activity') %></h4>
    <div class="space_10"></div>
    <fb:like href="<%= request.url %>" width='310'></fb:like>
    <div class="space_10"></div>
    <fb:activity site="<%= request.host %>" width="300" height="300" header="false" recommendations="true"></fb:activity>
  </div>
  <div class='space_10'></div>
<% end %>

<% (@left_modules || []).each do |module_name| %>
  <% mod_pref = @modules_pref[module_name] %>
  <% if mod_pref && mod_pref['enabled'] %>
    <div id="module_<%= module_name.to_s %>">
      <%= send(module_name.to_s, @modules_pref[module_name]) %>
    </div>
    <div class="space_10"></div>
  <% end %>
<% end %>