<div id="site_top">
  <div class="grid_2 site_quote" style="display: none">
    <%= tt('layout.passionate_food_lovers_community') %>
  </div>

  <div id="site_top_navigation">
    <div class="navButton navSelectionField">
      <%= render_topics_selection_box %>
    </div>

    <div class="navButton">
      <%= link_to 'Home', root_url %>
    </div>

    <% if not logged_in? %>
      <div class="navButton">
        <%= link_to 'Photos', photos_url %>
      </div>

      <div class="navButton">
        <%= link_to 'Events', events_url %>
      </div>

      <div class="navButton">
        <%= render_pull_down_menu('Login/Sign up') do
          %{
                <li>
                  <fb:login-button scope="#{FB_CONNECT_PERM}">
                    Login with Facebook
                  </fb:login-button>
                </li>
                <li>
                  #{link_to 'Login with us', login_url, :class => 'login_button'}
                </li>
                <li>
                  #{link_to 'Sign up', signup_url, :class => 'register_button'}
                </li>
              }
        end
        %>
      </div>

    <% else %>
      <div class="navButton">

        <% if !@record_already_added %>
          <%= link_to tt('layout.links.add'), new_restaurant_url, :style => "font-weight: bold; color:yellow;" %>
        <% else %>
          <%= link_to tt('layout.links.update_record'), update_your_record_url %>
        <% end %>
      </div>

      <div class="navButton">
        <%= render_user_activities_pull_down_menu %>
      </div>

      <div class="navButton">
        <%= link_to 'Photos', photos_url %>
      </div>

      <div class="navButton">
        <%= link_to 'Events', events_url %>
      </div>

      <div class="navButton">
        <%= render_logged_in_user_links %>
      </div>
    <% end %>

    <div class="navButton">
      <%
         current_url = request.headers['referer'] || request.host
         # Replace ajax subdomain
         current_url.gsub!(/(ajax\d+)/, @topic.subdomain)

         if current_url.match(/l=(\w+)/)
           current_url = current_url.gsub(/l=(\w+)/, 'l=:V:')
         else
           if current_url.match(/\?/)
             current_url = current_url << '&l=:V:'
           else
             current_url = current_url << '?l=:V:'
           end
         end
      %>

      <select onchange="window.location='<%= current_url %>'.replace(/:V:/, this.value)">
        <option value='<%= @topic.default? ? 'en' : "#{@topic.name}_en" %>' <%= I18n.locale.to_s.match(/en$/i) ? 'selected="selected"' : '' %>>English</option>
        <option value='<%= @topic.default? ? 'bn' : "#{@topic.name}_bn" %>' <%= I18n.locale.to_s.match(/bn$/i) ? 'selected="selected"' : '' %>>বাংলা</option>
      </select>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<% if params[:no_script].nil? %>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript">
    FB.init({appId: '<%= @topic.fb_connect_key.blank? ? Facebooker.api_key : @topic.fb_connect_key %>', status: true, cookie: true, xfbml: true});

    <% if !logged_in? %>
      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          var locationParts = location.href.split('#');
          window.location = locationParts[0] + (locationParts[0].match(/\?/) ? '&' : '?') + "fskey=" +
              response.session.session_key + "&fuid=" +
              response.session.uid + '&fexpires=' +
              response.session.expires + '&fsecret=' +
              response.session.secret + '&fat=' +
              response.session.access_token
        }
      });
    <% end %>
  </script>
<% end %>

<% if logged_in? && params[:no_script].nil? %>
  <%= render :partial => 'users/parts/facebook_app_script' %>
<% end %>

<% if !logged_in? %>
  <%
     @user = @user || User.new
  %>

  <div id="login_form" style="display: none">
    <%= render :partial => 'sessions/new' %>
  </div>

  <div id="registration_form" style="display: none">
    <%= render :partial => 'users/new' %>
  </div>
<% end %>

<script type="text/javascript">
  App.Tasks.executeTasks();

  <% if !logged_in? %>
    $('.login_button').click(function() {
      $('#login_form').dialog({
        modal: true, title: "<%= t('title.login')%>", width: 550, height: 410});
      return false;
    });

    $('.register_button').click(function() {
      $.getScript("<%= ajaxified_url_wrap(:fragment_for_url, :name => 'authenticity_token') %>");
      $('#registration_form').dialog({
        modal: true, title: "<%= t('layout.links.register') %>",
        width: 550
      });
      return false;
    });
    $('#login_form, #registration_form').ajaxify({urlRef: false});
  <% end %>

  $('form input').each(function() {
    var $field = $(this);
    if ($field.attr('name') == 'authenticity_token') {
      $field.val("<%= form_authenticity_token %>");
    }
  });

  var cachedActivities = null;

  $('#activities_link').mouseenter(function() {
    if (cachedActivities) {
      $('#activities_submenu').html(cachedActivities);
    } else {
      $.get("<%= updates_path(:format => :ajax) %>", function(data) {
        cachedActivities = data;
        $('#activities_submenu').html(cachedActivities);
      });
    }
    return false;
  });
</script>

