<div id="site_top">
  <div class="grid_2 site_quote">
    passionate food lovers community!
  </div>

  <div id="site_top_navigation">
    <%= link_to 'home', root_url %> |
    <% if not logged_in? %>
      <%= link_to 'login', login_url %> |
      <%= link_to 'register', signup_url %>
    <% else %>
      <%= link_to 'add restaurant', new_restaurant_url %> |
      <%= link_to 'edit profile', edit_user_url(current_user) %> |
      <%= link_to 'logout', logout_url %>
    <% end %>
  </div>
</div>