<div id="site_top">
  <div class="grid_2 site_quote">
    <%= tt('layout.passionate_food_lovers_community') %>
  </div>

  <div id="site_top_navigation">
    <% if I18n.locale.to_s == 'en' %>
      <a href='/?l=bn'>বাংলা</a> .
    <% else %>
      <a href='/?l=en'>English</a> .
    <% end %>
    <span> <%= link_to t('layout.links.home'), root_url %> . </span>
    <% if not logged_in? %>
      <%= link_to tt('layout.links.login'), login_url %> OR
      <fb:login-button perms="email,publish_stream,create_event,rsvp_event">
        <%= t('layout.links.fb_login') %>
      </fb:login-button> .
      <%= link_to tt('layout.links.register'), signup_url %> .
      <%= link_to tt('layout.links.photos'), photos_url %>
    <% else %>
      <% if !@record_already_added %>
        <%= link_to tt('layout.links.add'), new_restaurant_url %> .
      <% else %>
        <%= link_to tt('layout.links.update_record'), update_your_record_url %> .
      <% end %>
      <%= render_activities_link %> .
      <%= link_to tt('layout.links.my_page'), user_long_url(current_user) %> .
      <%= link_to tt('layout.links.photos'), photos_url %> .
      <% if current_user.facebook_session_exists? %>
        <span class='facebook_connect_control'>
          <% form_tag facebook_account_status_update_url, :id => 'facebook_connect_control_form' do %>
          <% if current_user.facebook_connect_enabled? %>
            <input id='facebook_share_checkbox'
                   type='checkbox' value="1"
                   checked="checked"
                   name='status'
                   onclick="$('#facebook_connect_control_form').submit()" />
          <% else %>
            <input id='facebook_share_checkbox'
                   type='checkbox' value="1"
                   name='status'
                   onclick="$('#facebook_connect_control_form').submit()" />
          <% end %>
          <label for="facebook_share_checkbox">
            <%= t('layout.links.share_on_facebook')%>
          </label>
          <% end %>
        </span> 
      <% else %>
        <fb:login-button perms="email,publish_stream,create_event,rsvp_event"
                         onlogin='window.location.reload()'>
          <%= t('layout.links.auto_share_on_facebook') %>
        </fb:login-button> .
      <% end %>

      <% if current_user.admin? %>
        <%= link_to t('layout.links.admin'), admin_url %> .
      <% end %>
      
      <%= link_to t('layout.links.edit_user'), edit_user_url(current_user) %> .
      <% if current_user.facebook_session_exists? %>
        <%= link_to t('layout.links.logout'), fb_logout_url %>
      <% else %>
        <%= link_to t('layout.links.logout'), logout_url %>
      <% end %>
    <% end %>
  </div>
</div>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  $(function() {
    FB.init({appId: '<%= @topic.fb_connect_key.blank? ? Facebooker.api_key : @topic.fb_connect_key  %>', status: true, cookie: true, xfbml: true});
    <% if !logged_in? %>
      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          var path = location.href;
          window.location = path + (path.match(/\?/) ? '&' : '?') + "fskey=" +
                            response.session.session_key + "&fuid=" +
                            response.session.uid + '&fexpires=' +
                            response.session.expires + '&fsecret=' +
                            response.session.secret + '&fat=' +
                            response.session.access_token
        }
      });
    <% end %>
  });
</script>
<% if logged_in? %>
  <%= render :partial => 'users/parts/facebook_app_script' %>
<% end %>

