<div id="site_top">
  <div class="grid_2 site_quote">
    <%= tt('layout.passionate_food_lovers_community') %>
  </div>

  <div id="site_top_navigation">
    <span>
      <%= render_topics_selection_box %>
    </span>
    
    <span> <%= link_to t('layout.links.home'), root_url %> | </span>
    <% if not logged_in? %>
      <%= link_to tt('layout.links.login'), login_url, :class => 'login_button' %> OR
      <fb:login-button perms="email,publish_stream">
        <%= t('layout.links.fb_login') %>
      </fb:login-button>
      |
      <%= link_to tt('layout.links.register'), signup_url, :class => 'register_button' %> |
      <%= link_to tt('layout.links.photos'), photos_url %>
    <% else %>
      <% if !@record_already_added %>
        <%= link_to tt('layout.links.add'), new_restaurant_url, :style => "font-weight: bold; color:yellow;" %> |
      <% else %>
        <%= link_to tt('layout.links.update_record'), update_your_record_url %>
        |
      <% end %>
      <%= render_activities_link %>
      <div id="activities_submenu" class="topMenuSub" style="display: none; position: absolute;width: 300px; height:500px; overflow-y: scroll;">
        <ul>
          <li>Loading...</li>
        </ul>
      </div> |
      <%= link_to tt('layout.links.photos'), photos_url %> |
      <%= link_to tt('layout.links.events'), events_url %> |
      <a href='javascript:void(0)' class='submenu' rev='#submenu'><%= tt('layout.links.my_page') %></a>
      
      <div id='submenu' class='topMenuSub' style='display: none; position: absolute;'>
        <ul>
          <li>
            <div style="float:left;margin-right: 5px;">
              <%= image_tag(current_user.display_picture, :title => current_user.login, :alt => 'N/A') %>
            </div>
            <div style="float:left;">
              <%= link_to current_user.login, user_long_url(current_user) %>
            </div>
            <div class='clear'></div>
          </li>

          <% if current_user.facebook_session_exists? %>
            <li>
              <span class='facebook_connect_control'>
                <% form_tag facebook_account_status_update_url, :id => 'facebook_connect_control_form' do %>
                <% if current_user.facebook_connect_enabled? %>
                  <input id='facebook_share_checkbox'
                         type='checkbox' value="1"
                         checked="checked"
                         name='status'
                         onclick="$('#facebook_connect_control_form').submit()"/>
                <% else %>
                  <input id='facebook_share_checkbox'
                         type='checkbox' value="1"
                         name='status'
                         onclick="$('#facebook_connect_control_form').submit()"/>
                <% end %>
                  <label for="facebook_share_checkbox">
                    <%= t('layout.links.share_on_facebook') %>
                  </label>
                <% end %>
              </span>
            </li>
          <% else %>
            <li>
              <fb:login-button perms="email,publish_stream"
                               onlogin='window.location.reload()'>
                <%= t('layout.links.auto_share_on_facebook') %>
              </fb:login-button>
            </li>
          <% end %>

          <% if current_user.admin? %>
            <li>
              <%= link_to t('layout.links.admin'), admin_url %>
            </li>
          <% end %>

          <li>
            <%= link_to t('layout.links.edit_user'), edit_user_url(current_user) %>
          </li>

          <% if current_user.facebook_session_exists? %>
            <li>
              <%= link_to t('layout.links.logout'), fb_logout_url %>
            </li>
          <% else %>
            <li>
              <%= link_to t('layout.links.logout'), logout_url %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    |
    <span>
      <%
         current_url = request.headers['referer'] || request.host
         # Replace ajax subdomain
         current_url.gsub!(/(ajax\d+)/, @topic.subdomain)

         if current_url.match(/l=(\w+)/)
           current_url = current_url.gsub(/l=(\w+)/, 'l=:V:')
         else
           if current_url.match(/\?/)
             current_url = current_url << '&l=:V:'
           else
             current_url = current_url << '?l=:V:'
           end
         end
      %>

      <select onchange="window.location='<%= current_url %>'.replace(/:V:/, this.value)">
        <option value='<%= @topic.default? ? 'en' : "#{@topic.name}_en" %>' <%= I18n.locale.to_s.match(/en$/i) ? 'selected="selected"' : '' %>>English</option>
        <option value='<%= @topic.default? ? 'bn' : "#{@topic.name}_bn" %>' <%= I18n.locale.to_s.match(/bn$/i) ? 'selected="selected"' : '' %>>বাংলা</option>
      </select>
    </span>
  </div>
</div>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
  FB.init({appId: '<%= @topic.fb_connect_key.blank? ? Facebooker.api_key : @topic.fb_connect_key %>', status: true, cookie: true, xfbml: true});

  <% if !logged_in? %>
    FB.Event.subscribe('auth.sessionChange', function(response) {
      if (response.session) {
        var locationParts = location.href.split('#');
        window.location = locationParts[0] + (locationParts[0].match(/\?/) ? '&' : '?') + "fskey=" +
                          response.session.session_key + "&fuid=" +
                          response.session.uid + '&fexpires=' +
                          response.session.expires + '&fsecret=' +
                          response.session.secret + '&fat=' +
                          response.session.access_token
      }
    });
  <% end %>
</script>

<% if logged_in? %>
  <%= render :partial => 'users/parts/facebook_app_script' %>
<% end %>

<% if !logged_in? %>
  <%
     @user = @user || User.new
  %>

  <div id="login_form" style="display: none">
    <%= render :partial => 'sessions/new' %>
  </div>

  <div id="registration_form" style="display: none">
    <%= render :partial => 'users/new' %>
  </div>
<% end %>

<script type="text/javascript">
  App.Tasks.executeTasks();


  <% if !logged_in? %>
    $('.login_button').click(function() {
      $('#login_form').dialog({
        modal: true, title: "<%= t('title.login')%>", width: 400, height: 410});
      return false;
    });

    $('.register_button').click(function() {
      $.getScript("<%= ajaxified_url_wrap(:fragment_for_url, :name => 'authenticity_token') %>");
      $('#registration_form').dialog({
        modal: true, title: "<%= t('layout.links.register') %>",
        width: 400
      });
      return false;
    });
  <% end %>

  $('#login_form, #registration_form').ajaxify({urlRef: false});

  $('form input').each(function() {
    var $field = $(this);
    if ($field.attr('name') == 'authenticity_token') {
      $field.val("<%= form_authenticity_token %>");
    }
  });

  $('#activities_link').click(function() {
    $.get("<%= updates_url(:format => :ajax) %>", function(data) {
      $('#activities_submenu').html(data);
    });
    return false;
  });
</script>

