<div id="site_top">
  <div class="grid_2 site_quote">
    passionate food lovers community!
  </div>

  <div id="site_top_navigation">
    <span> <%= link_to 'home', root_url %>| </span>
    <% if not logged_in? %>
      <%= link_to 'login', login_url %> |
      <%= link_to 'register', signup_url %>
    <% else %>
      <%= link_to 'add restaurant', new_restaurant_url %> |
      <%= link_to 'my page', user_url(current_user.id) %> |
      <% if current_user.facebook_session_exists? %>
        <span class='facebook_connect_control'>
          <% form_tag facebook_account_status_update_url, :id => 'facebook_connect_control_form' do %>
          <% if current_user.facebook_connect_enabled? %>
            <input id='facebook_share_checkbox'
                   type='checkbox' value="1"
                   checked="checked"
                   name='status'
                   onclick="$('#facebook_connect_control_form').submit()" />
          <% else %>
            <input id='facebook_share_checkbox'
                   type='checkbox' value="1"
                   name='status'
                   onclick="$('#facebook_connect_control_form').submit()" />
          <% end %>
          <label for="facebook_share_checkbox">share on facebook</label>
          <% end %>
        </span> |
      <% end %>

      <% if current_user.admin? %>
        <%= link_to 'admin', admin_url %> |
      <% end %>
      
      <%= link_to 'edit profile', edit_user_url(current_user) %> |
      <%= link_to 'logout', logout_url %>
    <% end %>
  </div>
</div>