<div id="site_top">
  <div class="grid_2 site_quote">
    <%= tt('passionate food lovers community!') %>
  </div>

  <div id="site_top_navigation">
    <span> <%= link_to 'home', root_url %>| </span>
    <% if not logged_in? %>
      <%= link_to tt('login'), login_url %> OR 
      <fb:login-button perms="email,publish_stream,create_event,rsvp_event">Login with facebook</fb:login-button> |
      <%= link_to tt('register'), signup_url %> |
      <%= link_to tt('photos'), photos_url %>
    <% else %>
      <% if !@record_already_added %>
        <%= link_to tt('add restaurant'), new_restaurant_url %> |
      <% else %>
        <%= link_to tt('update your record'), update_your_record_url %> |
      <% end %>
      <%= render_activities_link %> |
      <%= link_to tt('my page'), user_long_url(:login => current_user.login, :id => current_user.id) %> |
      <%= link_to tt('photos'), photos_url %> | 
      <% if current_user.facebook_session_exists? %>
        <span class='facebook_connect_control'>
          <% form_tag facebook_account_status_update_url, :id => 'facebook_connect_control_form' do %>
          <% if current_user.facebook_connect_enabled? %>
            <input id='facebook_share_checkbox'
                   type='checkbox' value="1"
                   checked="checked"
                   name='status'
                   onclick="$('#facebook_connect_control_form').submit()" />
          <% else %>
            <input id='facebook_share_checkbox'
                   type='checkbox' value="1"
                   name='status'
                   onclick="$('#facebook_connect_control_form').submit()" />
          <% end %>
          <label for="facebook_share_checkbox">share on facebook</label>
          <% end %>
        </span> |
      <% else %>
        <fb:login-button perms="email,publish_stream,create_event,rsvp_event"
                         onlogin='window.location.reload()'>
          Auto share on Facebook
        </fb:login-button> |
      <% end %>

      <% if current_user.admin? %>
        <%= link_to 'admin', admin_url %> |
      <% end %>
      
      <%= link_to 'edit account', edit_user_url(current_user) %> |
      <% if current_user.facebook_session_exists? %>
        <%= link_to 'logout', fb_logout_url %>
      <% else %>
        <%= link_to 'logout', logout_url %>
      <% end %>
    <% end %>
  </div>
</div>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  $(function() {
    FB.init({appId: '<%= Facebooker.api_key %>', status: true, cookie: true, xfbml: true});
    <% if !logged_in? %>
      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          location.reload();
        }
      });
    <% end %>
  });
</script>
<% if logged_in? %>
  <%= render :partial => 'users/parts/facebook_app_script' %>
<% end %>

