<%
   suffix = "#{rand(10000) * Time.now.to_i}".to_s
   element_id = "edit_module_#{object.id}"
%>

<a href='javascript:void(0)'
   onclick="$('#<%= element_id%>').dialog({width: 'auto', modal: true})"
   class='edit_module_link'>Edit <%= object.element_key %> menu</a>

<div class='edit_module' id='<%= element_id %>' style='display: none' title="Edit <%= object.element_key %> menu">

  <div id="menu<%= suffix %>">
    <% form_for object do |f| %>
      <input type='hidden' name="emptyCheckThrough" value='label'/>
      <input type='hidden' name="orderBy" value='index'/>

      <ul class='editMenu'>
        <% object.data.each_with_index do |menu_ref, index| %>
          <li id='<%= li_id = "li_#{index}" %>'>
            <table cellspacing="5">
              <tr>
                <th>Index</th>
                <th>Label</th>
                <th>
                  &nbsp;
                </th>
              </tr>
              <tr>
                <td>
                  <input type='text' name='premium_template_element[data][][index]'
                         value='<%= menu_ref['index'] || 0 %>' size="2" align="right"/>
                </td>
                <td>
                  <input type='text' name='premium_template_element[data][][label]'
                         value='<%= menu_ref['label'] %>'/>
                </td>
                <td>
                  <a href='javascript:void(0)'
                     onclick="$('#<%= li_id %>_ext').toggle();">Add External
                    Link</a>

                  <input type='text' name='premium_template_element[data][][ext_href]'
                         id='<%= li_id %>_ext'
                         style='display: <%= (menu_ref['ext_href'] || '').blank? ? 'none' : 'inline' %>'
                         value='<%= menu_ref['ext_href'] %>'/>
                  Or
                  <select name='premium_template_element[data][][int_href]'>
                    <option value=''>Select</option>
                    <% ModuleMenuHelper::INTERNAL_LINKS.each do |link| %>
                      <option value="<%= link %>" <%= menu_ref['int_href'] == link ? 'selected="selected"' : '' %>><%= link.humanize %></option>
                    <% end %>
                  </select>
                </td>
                <td>
                  <a href='javascript:void(0)'
                     onclick="confirm('Do you really want to remove it?') ? $('#<%= li_id %>').remove() : ''">Remove</a>
                </td>
              </tr>
            </table>

          </li>
        <% end %>
        <li class='new'>
          <table cellspacing="5">
            <tr>
              <th>Index</th>
              <th>Label</th>
              <th>
                External link
              </th>
              <th>Or Internal link</th>
            </tr>
            <tr>
              <td>
                <input type='text' name='premium_template_element[data][][index]'
                       value='0' size='2' align="right"/>
              </td>
              <td>
                <input type='text' name='premium_template_element[data][][label]' value=''/>
              </td>
              <td>
                <input type='text' name='premium_template_element[data][][ext_href]' value=''/>
              </td>
              <td>
                <select name='premium_template_element[data][][int_href]'>
                  <option>Select</option>
                  <% ModuleMenuHelper::INTERNAL_LINKS.each do |link| %>
                    <option value="<%= link %>"><%= link.humanize %></option>
                  <% end %>
                </select>
              </td>
            </tr>
          </table>

        </li>

        <li class='buttons'>
          <%= f.submit 'Save' %>
        </li>
      </ul>


    <% end %>

  </div>

  <div class='clear'></div>
</div>
<div class='clear'></div>

<script type="text/javascript">
  $(".editMenuEditor<%= suffix %>").click(function() {
    $(".editMenuEditor<%= suffix %>").toggle();
    $("#menu<%= suffix %>").toggle();
  });

  $('#<%= element_id %>').ajaxify();

  //$('#<%= element_id%>').dialog({width: 'auto', modal: true});
  /*
   $(".editMenuEditor<%= suffix %>").click(function() {
   $('#menu<%= suffix %>').dialog();
   });

   $('#<%= element_id %>').ajaxify();

   */
</script>

<style type="text/css">
  .editMenu {
    clear: both !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
    float: none !important;
    height: auto !important;
    width: auto !important;
    position: inherit !important;
  }

  .editMenu li {
    background: #ffff99 !important;
    margin: 0 !important;
    margin-bottom: 5px !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
  }

  .editMenu li table {
    border: 0 !important;
  }

  .editMenu li table tr {
    font-size: 10px !important;
    color: #888 !important;
  }

  .editMenu li table tr th {
    font-weight: normal;
  }
</style>