<div class='sections'>
  <% index = 0 %>
  <div class="sectionTopRow">
    <% (sections[0..2] || []).each do |section| %>
      <div class="section clickable" targetLink='<%= section_url(section) %>'
           style="<%= render_section_editor_selected_item_image(section, true) %>">
        <div class="title">
          <%= link_to section.name, section_url(section) %>
        </div>
      </div>
      <% index += 1 %>
    <% end %>

    <% (sections[3..3] || []).each do |section| %>
      <div class="section lastInRow clickable"
           targetLink='<%= section_url(section) %>'
           style="<%= render_section_editor_selected_item_image(section, true) %>">
        <div class="title">
          <%= link_to section.name, section_url(section) %>
        </div>
      </div>
      <% index += 1 %>
    <% end %>
    <div class="clear"></div>
  </div>

  <div class="sectionBottomRow">
    <% (sections[4..6] || []).each do |section| %>
      <div class="section clickable" targetLink='<%= section_url(section) %>'
           style="<%= render_section_editor_selected_item_image(section, true) %>">
        <div class="title">
          <%= link_to section.name, section_url(section) %>
        </div>
      </div>
      <% index += 1 %>
    <% end %>

    <div class="section lastInRow advertisement" id='adv_with_us'
         style="background: url('/images/ads/advertise-section-head.png'); cursor: pointer;">

    </div>
    <div class="clear"></div>
  </div>
</div>

<div id='advertise_window' style='display:none'>
  <table>
    <tr>
      <th colspan="2">For advertisement please contact</th>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><a href='mailto:biz@welltreat.us?subject=Advertisement'>biz@welltreat.us</a></td>
    </tr>
    <tr>
      <th>Mobile</th>
      <td>+8801713090511</td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  $('.sections .section').each(function() {
    $(this).click(function(e) {
      if ($(this).attr('targetLink')) {
        window.location = $(this).attr('targetLink');
      }
    });
  });

  $('#adv_with_us').click(function() {
    $('#advertise_window').dialog({
        modal: true, title: 'Advertise with us', width: 350, height: 210});

  });
</script>