<div class="newsFeedBox">
  <% if not config[:label].blank? %>
    <h4 class='headerWithIcon newsFeedHeader'>
      <%= config[:label] %>
    </h4>

    <div class="break space_5"></div>
  <% end %>

  <div class="newsFeedItems">
    <% if !stuff_events.empty? %>
      <% group_by_date(stuff_events).each do |date_label, events| %>
        <% if date_label == :today %>
          <h5 class='subHeaderWithIcon'>Today</h5>

          <div class='space_5 break'></div>
        <% elsif date_label == :yesterday %>
          <h5 class='subHeaderWithIcon'>Yesterday</h5>

          <div class='space_5 break'></div>
        <% else %>
          <h5 class='subHeaderWithIcon'><%= date_label %></h5>

          <div class='space_5 break'></div>
        <% end %>

        <% events.each do |stuff_event| %>
          <%= render :partial => 'stuff_events/parts/stuff_event',
                     :locals => {:stuff_event => stuff_event, :config => config} %>
        <% end %>
      <% end %>
      <div class='clear'></div>
      <div class="navigation">
        <div class="date"><%= page_entries_info stuff_events %></div>

        <% if [:html, :mobile].include?(params[:format]) %>
          <%= will_paginate stuff_events %>
        <% else %>
          <%= link_to 'More activities...', more_link %>
        <% end %>
      </div>
    <% else %>
      <%= t('label.no_review', :name => @topic.name.humanize) %>
    <% end %>
    <div class='clear'></div>
  </div>
  <div class='clear'></div>

</div>