<% map_url = "http://maps.google.com/maps/api/staticmap?center=" +
  "#{@model_instance.lat},#{@model_instance.lng}&zoom=14&" +
  "sensor=false&markers=color:green|label:R|" +
  "#{@model_instance.lat},#{@model_instance.lng}&key=#{@topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key}&size=1000x1000"
   details_link = "http://maps.google.com/maps?f=q&" +
     "q=#{CGI.escape(@model_instance.address)}&hl=en&" +
     "geocode=&sll=#{@model_instance.lat},#{@model_instance.lng}"
%>

<div class="mapDetails">
  <div class="grid_8">
    <%= render_breadcrumbs %>
    <div class="clear space_10"></div>
    <div id="google_map_canvas"
         title="<%= @model_instance.lat.to_i > 0 ? "#{@model_instance.lat},#{@model_instance.lng}" : "23.7272119,90.4094982" %>"
         markerMessage="<h4><%= @model_instance.name %></h4><p><%= @model_instance.address %></p>"
         infoWindowMessagePrefix="Your <%= @topic.name.humanize %> @"
         mapWidth="100%"
         mapHeight="600px"
         mapReadOnly='true'
         style="width: 100%; height: 300px">Loading map...
    </div>
  </div>


  <div class="grid_4">
    <h4 class="subHeaderWithIcon topBothCornerHeader realYellowish">
      <%= link_to 'Cancel', event_or_restaurant_url(@model_instance) %>
    </h4>
    <h4 class="subHeaderWithIcon">
      <%= link_to 'View image version', map_url %>
    </h4>
    <h4 class="subHeaderWithIcon bottomBothCornerHeader">
      <%= link_to 'View on google map', details_link %>
    </h4>

    <div class="clear space_10"></div>

    <h4 class="subHeaderWithIcon">Filter nearby restaurants</h4>

    <div class="site_simple_box">
      <div class="space_5"></div>
      <% selected_meter = params[:meter].to_i %>
      Load nearby <%= @topic.name.pluralize %> with in <select name='meter' id="distance_select">
      <% (1..5).each do |meter| %>
        <option value="<%= meter * 1000 %>" <%= selected_meter == (meter * 1000) ? 'selected="selected"' : '' %>>
          <%= meter %> km
        </option>
      <% end %>
    </select>
    </div>
    <div class="clear space_10"></div>
  </div>


</div>

<div id="map_marker_content"></div>

<!--script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= @topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key %>&hl=en"></script-->
<% content_for :after_map_init do %>
  <script type="text/javascript">
    $.executeLater(function() {
      App.MapWidget.createMap($('#google_map_canvas'));

      // Load markers
      $('#google_map_canvas').loadNearbyRestaurants(
        "<%= search_url(:lat => @model_instance.lat, :lng => @model_instance.lng, :meter => 1000, :format => 'json') %>",
        $('#map_marker_content'));

      $('#distance_select').change(function() {
        $('#google_map_canvas').loadNearbyRestaurants(
          "<%= search_url(:lat => @model_instance.lat, :lng => @model_instance.lng, :format => 'json') %>&amp;meter=" + this.value,
          $('#map_marker_content'), true);
      });
    });
  </script>
<% end %>