<% content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'fuzzy-string',
                             'application', 'jquery.lazyload.mini', 'jquery.tagsearcher',
                             :cache => 'cache_all.js' %>

  <%= javascript_include_tag 'jquery.prettyPhoto.js', 'jquery.bt.min.js',
                             'jquery.easing.js', 'jquery.timers.js', 'jquery.scrollTo-1.4.2-min',
                             'jquery.ajaxify.js',
                             :cache => 'cache_supporting.js' %>

<% end %>

<% map_url = "http://maps.google.com/maps/api/staticmap?center=" +
    "#{@model_instance.lat},#{@model_instance.lng}&zoom=14&" +
    "sensor=false&markers=color:green|label:R|" +
    "#{@model_instance.lat},#{@model_instance.lng}&key=#{@topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key}&size=1000x1000"
   details_link = "http://maps.google.com/maps?f=q&" +
       "q=#{CGI.escape(@model_instance.address)}&hl=en&" +
       "geocode=&sll=#{@model_instance.lat},#{@model_instance.lng}"
%>
<div id="site_center">
  <div class="grid_12 restaurant_details">
    <div class="restaurant_details">
      <div class="breadcrumbs">
        <%= link_to @model_instance.class.name.titleize.pluralize, root_or_specific_root_url(@model_instance) %> &raquo;
      </div>
      <h1>
        <%= link_to @model_instance.name, event_or_restaurant_url(@model_instance) %> &raquo; Details map
        <%= link_to '[Download]', map_url %>, <%= link_to '[On google map]', details_link %>
        <% selected_meter = params[:meter].to_i %>
        [Within <select name='meter' id="distance_select">
        <% (1..5).each do |meter| %>
          <option value="<%= meter * 1000 %>" <%= selected_meter == (meter * 1000) ? 'selected="selected"' : '' %>>
            <%= meter %> km
          </option>
        <% end %>
      </select>]
      </h1>
      <div class='space_10'></div>
      <div id="google_map_canvas"
           title="<%= @model_instance.lat.to_i > 0 ? "#{@model_instance.lat},#{@model_instance.lng}" : "23.7272119,90.4094982" %>"
           markerMessage="<h4><%= @model_instance.name %></h4><p><%= @model_instance.address %></p>"
           infoWindowMessagePrefix="Your <%= @topic.name.humanize %> @"
           mapWidth="100%"
           mapHeight="600px"
           mapReadOnly='true'
           style="width: 600px; height: 300px">Loading map...
      </div>

    </div>
  </div>
</div>

<div id="map_marker_content"></div>

<!--script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= @topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key %>&hl=en"></script-->
<script type="text/javascript">
  function detectBrowser() {
    var useragent = navigator.userAgent;
    var mapdiv = document.getElementById("google_map_canvas");

    if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1) {
      mapdiv.style.width = '100%';
      mapdiv.style.height = '100%';
    } else {
      //mapdiv.style.width = '600px';
      //mapdiv.style.height = '800px';
    }
  }

  $.executeLater(function() {
    App.MapWidget.createMap($('#google_map_canvas'));

    // Load markers
    $('#google_map_canvas').loadNearbyRestaurants(
        "<%= search_url(:lat => @model_instance.lat, :lng => @model_instance.lng, :meter => 1000, :format => 'json') %>",
        $('#map_marker_content'));

    $('#distance_select').change(function() {
      $('#google_map_canvas').loadNearbyRestaurants(
          "<%= search_url(:lat => @model_instance.lat, :lng => @model_instance.lng, :format => 'json') %>&amp;meter=" + this.value,
          $('#map_marker_content'), true);
    });

    detectBrowser();
  });

</script>