<% map_url = "http://maps.google.com/maps/api/staticmap?center=" +
    "#{@restaurant.lat},#{@restaurant.lng}&zoom=14&" +
    "sensor=false&markers=color:green|label:R|" +
    "#{@restaurant.lat},#{@restaurant.lng}&key=#{@topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key}&size=1000x1000"
   details_link = "http://maps.google.com/maps?f=q&" +
       "q=#{CGI.escape(@restaurant.address)}&hl=en&" +
       "geocode=&sll=#{@restaurant.lat},#{@restaurant.lng}"
%>
<div id="site_center">
  <div class="grid_12 restaurant_details">
    <div class="restaurant_details">
      <div class="breadcrumbs">
        <%= link_to t("topic.#{@topic.name.humanize.pluralize}"), root_url %> &raquo;
      </div>
      <h1>
        <%= link_to @restaurant.name, restaurant_long_url(@restaurant) %> &raquo; Details map
        <%= link_to '[Download]', map_url %>, <%= link_to '[On google map]', details_link %>
        <% selected_meter = params[:meter].to_i %>
        [Within <select name='meter' id="distance_select">
          <% (1..5).each do |meter| %>
            <option value="<%= meter * 1000 %>" <%= selected_meter == (meter * 1000) ? 'selected="selected"' : '' %>>
              <%= meter %> km
            </option>
          <% end %>
        </select>]
      </h1>
      <div class='space_10'></div>
      <div id="google_map_canvas"
           title="<%= @restaurant.lat.to_i > 0 ? "#{@restaurant.lat},#{@restaurant.lng}" : "23.7272119,90.4094982" %>"
           markerMessage="<h4><%= @restaurant.name %></h4><p><%= @restaurant.address %></p>"
           infoWindowMessagePrefix="Your <%= @topic.name.humanize %> @"
           mapWidth="100%"
           mapHeight="600px"
           mapReadOnly='true'
           style="width: 600px; height: 300px">Loading map...</div>

    </div>
  </div>
</div>

<div id="map_marker_content"></div>

<!--script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= @topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key %>&hl=en"></script-->
<script type="text/javascript">
  $.executeLater(function() {
    App.MapWidget.createMap($('#google_map_canvas'));

    // Load markers
    $('#google_map_canvas').loadNearbyRestaurants(
        "<%= search_url(:lat => @restaurant.lat, :lng => @restaurant.lng, :meter => 1000, :format => 'json') %>",
        $('#map_marker_content'));

    $('#distance_select').change(function() {
      $('#google_map_canvas').loadNearbyRestaurants(
        "<%= search_url(:lat => @restaurant.lat, :lng => @restaurant.lng, :format => 'json') %>&amp;meter=" + this.value,
        $('#map_marker_content'), true);
    });
  });
</script>