<div class="grid_8" id="site_center_list">
  <h1>Edit image</h1>
  <div class='break'></div>
  <div class='space_10'></div>
  
  <% form_for @image, :html => {:multipart => true} do |f| %>

    <div class='grid_1'>
      <%= image_tag @image.public_filename(:small) %>
    </div>
    <div class='grid_6'>
      You are editing details for this image which was last
      <div>updated <%= distance_of_time_in_words_to_now(@image.updated_at) %> ago.</div>
    </div>
    <div class='clear'></div>
    <div class='space_10'></div>
    <div class='break'></div>
    <div class='space_10'></div>

    <table cellspacing="10px" style="width: 600px">
      <tr>
        <th align="left"><%= f.label :caption %></th>
      </tr>

      <tr>
        <td><%= f.text_field :caption, :placeholder => 'Write image caption', :style => 'width:100%; height:20px;padding: 5px;' %></td>
      </tr>
      <tr>
        <th align="left"><%= f.label :link, 'Related site link' %></th>
      </tr>
      <tr>
        <td><%= f.text_field :link, :placeholder => 'Write description', :style => 'width:100%;height:20px;padding: 5px;'  %></td>
      </tr>
      <tr>
        <th align="left" colspan="2"><%= f.label :description %></th>
      </tr>
      <tr>
        <td colspan="2"><%= f.text_area :description, :style => 'width:100%; padding: 5px;'  %></td>
      </tr>
      <tr>
        <td colspan="2" align="right">
          <input type='button' value='Cancel' onclick="window.history.back(-1)"/>
          <%= f.submit t('button.update'), :style => 'padding: 5px' %>
        </td>
      </tr>
    </table>

    <% if request.headers['REFERER'] %>
      <input type='hidden' name='ref' value="<%= request.headers['REFERER'] %>"/>
    <% end %>

    <div class='space_10'></div>
  <% end %>
</div>

<div class="grid_4" id="site_center_boxes">
  <%= render :partial => 'layouts/fresh_parts/modules' %>
  <div class="clear"></div>
</div>
<div class="clear"></div>