<%= f.label :name %>
<div class='space_10'></div>
<%= f.text_field :name %>
<%= f.error_message_on :name %>
<div class='space_10'></div>

<%= f.label :price %>
<div class='space_10'></div>
<%= f.text_field :price %>
<%= f.error_message_on :price %>
<div class='space_10'></div>

<%= f.label :description %>
<div class='space_10'></div>
<%= f.text_area :description %>
<%= f.error_message_on :description %>
<div class='space_10'></div>



