<div class='productsSlide'>
  <ul class='topPagination'>
    <li class='previous'><a href='javascript:void(0)'>&lt;</a></li>
    <li class='metaInfo' id='metaInfo'>1 / 20</li>
    <li class='next'><a href='javascript:void(0)'>&gt;</a></li>
  </ul>

  <ul class='products' id='products'>
    <li class='previous'><a href='javascript:void(0)'></a></li>
    <% @products[0..2].each do |product| %>
      <% if !product.images.empty? %>
        <li class='product'>
          <div class='image'>
            <%= image_tag product.images.first.public_filename %>
            <%= link_to('', slide_product_url(product, :layout => 'image'), :class => 'zoomLink') %>
          </div>
          <div class='tools'>
            <h4><%= site_product_link(product) %></h4>
            <p><%= truncate(product.description, :length => 30) %></p>
            <div class='price'>Price: $<%= product.price %></div>
            <div class='clear'></div>
            <div class='space_10'></div>
            <ul>
              <li><%= link_to(pt_image_tag('comments_icon.png'), '#') %></li>
              <li><%= link_to(pt_image_tag('favorite_icon.png'), '#') %></li>
              <li><%= link_to(pt_image_tag('purchased_icon.png'), '#') %></li>
              <li><%= link_to(pt_image_tag('add_to_cart.png'), '#') %></li>
            </ul>
          </div>
        </li>
      <% end %>
    <% end %>
    <li class='next'><a href='javascript:void(0)'></a></li>
  </ul>

  <div class='bottomPagination'>

  </div>
</div>

<div id='productItemTemplate' style='display: none'>
  <div class='image'>
    #IMAGE#
    <a href='#IMAGE_PREVIEW#' class='zoomLink'></a>
  </div>
  <div class='tools'>
    <h4>#LINK#</h4>
    <p>#DESCRIPTION#</p>
    <div class='price'>Price: #PRICE#</div>
    <div class='clear'></div>
    <div class='space_10'></div>
    <ul>
      <li><%= link_to(pt_image_tag('comments_icon.png'), '#') %></li>
      <li><%= link_to(pt_image_tag('favorite_icon.png'), '#') %></li>
      <li><%= link_to(pt_image_tag('purchased_icon.png'), '#') %></li>
      <li><%= link_to(pt_image_tag('add_to_cart.png'), '#') %></li>
    </ul>
  </div>
</div>

<iframe id='dialogFrame' style='display:none' src=""></iframe>

<script type="text/javascript">
  var LAAL_CACHE_KEY = '<%= @restaurant.name %>';
  var LAAL_PRODUCTS_COUNT = <%= @products_count %>;
  var LAAL_PAGE_INDEX = 1;
  var cacheSyncUrl = "<%= next_products_url %>&restaurant_id=<%= @restaurant.id %>&page=";
  var LAAL_NO_MORE_CACHE = false;
  var LAAL_ZOOM_URL = '/zoom';

  SliderCacheUtil.addCache(LAAL_CACHE_KEY, [<%= @products.collect{|p|
    {
    :image => image_tag(p.images.first.public_filename),
    :id => p.id,
    :link => site_product_link(p),
    :price => p.price,
    :description => truncate(p.description, :length => 30),
    :image_preview => slide_product_url(p, :layout => 'image')
    }.to_json}.compact.join(', ') %>]);

  var LAALSlider = {
    index: 2,
    noMoreItemExists: false,
    inProgress: false,

    next: function() {
      if (!LAALSlider.inProgress) {
        var cachedItem = SliderCacheUtil.getCachedItemsAt(LAALSlider.index + 1, LAAL_CACHE_KEY);
        if (cachedItem != null) {
          LAALSlider.inProgress = true;
          LAALSlider.index += 1;
          LAALSlider.updateHtml(cachedItem, true);
        }

        if (!LAALSlider.noMoreItemExists) {
          SliderCacheUtil.syncCache(LAAL_CACHE_KEY, LAALSlider.index, cacheSyncUrl + (LAAL_PAGE_INDEX + 1));
        }
      }
    },

    updateHtml: function(cachedItem, before) {
      var uniqueId = Math.random().toString().replace(/\./, '');
      var html = "<li class='product' id='" + uniqueId + "' style='display: none'>";
      var templateHtml = $('#productItemTemplate').html();
      templateHtml = templateHtml.replace(/#LINK#/, cachedItem.link);
      templateHtml = templateHtml.replace(/#IMAGE#/, cachedItem.image);
      templateHtml = templateHtml.replace(/#IMAGE_PREVIEW#/, cachedItem.image_preview);
      templateHtml = templateHtml.replace(/#ID#/, cachedItem.id);
      templateHtml = templateHtml.replace(/#DESCRIPTION#/, cachedItem.description);
      templateHtml = templateHtml.replace(/#PRICE#/, cachedItem.price);
      html += templateHtml;
      html += "</li>";

      var $productsNav = $('#products li:first, #products li:last');

      // Append new html node
      if (before) {
        $('#products .next').before(html);
        var $oldItem = $('#products .product:first');
        var $newItem = $('#' + uniqueId);
        var $products = $('#products');

        $products.css('position', 'relative').css('width', '1000px');
        $newItem.appear();
        $productsNav.hide();

        $oldItem.fadeOut();
        $products.animate({
          left: '-170px',
        }, function() {
          $products.css('left', '0');
          $oldItem.remove();
          $productsNav.appear();
        });

      } else {
        $('#products .previous').after(html);
        var $oldItem = $('#products .product:last');
        var $newItem = $('#' + uniqueId);
        var $products = $('#products');

        $products.css('position', 'relative').css('left', '-170px').css('width', '1000px');
        $newItem.appear();
        $productsNav.hide();

        $oldItem.fadeOut();
        $products.animate({
          left: '0px',
        }, function() {
          $products.css('left', '0');
          $oldItem.remove();
          $productsNav.appear();
        });
      }

      // Update status
      LAALSlider.updateStatus();
      LAALSlider.activateZoomLink();
      LAALSlider.inProgress = false;
    },

    updateStatus: function() {
      $('#metaInfo').html((LAALSlider.index + 1) + " / " + LAAL_PRODUCTS_COUNT);
    },

    previous: function() {
      if (!LAALSlider.inProgress) {
        var previousIndex = LAALSlider.index - 3;
        if (previousIndex >= 0) {
          var cachedItem = SliderCacheUtil.getCachedItemsAt(previousIndex, LAAL_CACHE_KEY);
          if (cachedItem != null) {
            LAALSlider.inProgress = true;
            LAALSlider.index -= 1;
          }
          LAALSlider.updateHtml(cachedItem, false);
        }
      }
    },

    hidePreview: function() {
      $('#dialogFrame').fadeOut();
    },

    activateZoomLink: function() {
      $('.zoomLink').unbind('click');
      $('.zoomLink').bind('click', function() {
         var $dialog = $('#dialogFrame');
         $dialog.attr('src', $(this).attr('href'));
         $dialog.appear();
         return false;
       });
    }
  };

  $('.next').click(function() {
    LAALSlider.next();
  });

 $('.previous').click(function() {
    LAALSlider.previous();
  });

 $('.product .image').each(function() {
   var $this = $(this);
 });

 $('.productsSlide').scroll(function() {
   
 });

 LAALSlider.updateStatus();
 LAALSlider.activateZoomLink();

</script>