<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title> <%= @topic.site_title %> <%= @site_title ? "&raquo; #{@site_title}" : '' %> </title>
  <%= stylesheet_link_tag 'mobile/site.css', 'jquery-ui-fresh/jquery.css' %>

  <%= javascript_include_tag 'jquery-1.6.4.min', 'jquery.easing', 'fuzzy-string',
                             'application', 'app.mapwidget', 'jquery.timers.js', 'jquery.scrollTo-1.4.2-min',
                             'jquery.tagsearcher', 'modernizr.js', :cache => 'cache_mobile' %>
  <meta NAME="Abstract" content="Bangladeshi restaurant, cafe & eat out place review site"/>
  <meta NAME="Robots" content="index,follow"/>
  <% if @meta_description %>
    <meta content="<%= @meta_description %>" name="description">
  <% else %>
    <meta name="description" content="Bangladeshi restaurant, cafe & eat out place review mobile site"/>
  <% end %>

  <% if @meta_keywords %>
    <meta name="keywords" content="<%= @meta_keywords %>"/>
  <% else %>
    <meta name="keywords" content="Mobile Reviews cuisines food chicken meat Bangladesh restaurant cafe eat out dating car parking lot dinner lunch fast food coffee "/>
  <% end %>
  <link rel="apple-touch-icon" href="/images/fresh/icon.png" />
  <link rel="apple-touch-startup-image" href="/images/fresh/icon.png" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <link rel="shortcut icon" href="/images/fresh/favicon.gif" type="image/gif"/>
  <%= yield :head %>
</head>
<body class="locale_<%= I18n.locale.to_s %>">
<% if !embedded_view? %>
  <div id='header'>
    <div id='topNav'>
      <%= render :partial => 'layouts/fresh_parts/top_navigation' %>
      <div class='clear'></div>
    </div>
    <div class='clear'></div>
    <div id='searchNav'>
      <%= render :partial => 'restaurants/parts/recommend' %>
    </div>
  </div>
<% end %>
<div id='body'>
  <% flash_message = flash[:notice] || flash[:error] || flash[:success] || '' %>
  <% if !flash_message.blank? %>
    <div class="siteMessage">
      <%= flash_message %>
    </div>
  <% else %>
    <div class="siteMessage" style="display:none"></div>
  <% end %>
  <div class='clear'></div>
  <%= yield %>
</div>
<div class='clear'></div>
<div id='footer'>
  <div class='siteInfo'>
    <%= @topic.description %>
    <br/>
    <%= link_to 'view in desktop version', request.url.to_s.gsub(/format=mobile/, 'format=html') %>
  </div>
  <div class='copyrights'>
    <%= t('footer.copyrights') %>
  </div>
</div>
<% if params[:no_script].nil? %>

  <%= javascript_include_tag 'mobile/common.js', 'mobile/geo_service.js' %>
  <%= yield :before_fb_init %>
  <%= render :partial => 'layouts/fresh_parts/fb_session_integration.html.haml' %>
  <%= yield :after_fb_init %>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=true"></script>
  <%= yield :after_map_init %>

  <script type="text/javascript">
    App.Tasks.executeTasks();
  </script>

  <%= render :partial => 'layouts/fresh_parts/google_analytics.html.haml' %>
  <%= render :partial => 'layouts/fresh_parts/get_satisfaction.html.haml'%>
<% end %>

<%= yield :bottom %>
</body>
</html>