<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Restaurant review</title>

  <%= stylesheet_link_tag 'fresh/reset.css', 'fresh/960.css', 'fresh/text.css', 'fresh/site.css' %>
  <%= stylesheet_link_tag 'ext/prettyPhoto.css' %>

  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application' %>
  <%= javascript_include_tag 'jquery.prettyPhoto.js' %>

</head>
<body>
  <div class="container_12">
    <%= render :partial => 'layouts/fresh_parts/top_navigation' %>
    <div class="clear"></div>

    <div id="site_center">
      <%= yield %>
    </div>

    <div class="clear space_10"></div>
    <div class="clear space_10"></div>
    <div id="site_bottom" class="">
      <div class="space_5 grid_10"></div>
      <div class="space_5 grid_10"></div>

      <%= render_top_contributors(10) %>
      <%= render_top_reviewers(10) %>

      <div class="grid_4 align_right">
        <ul id="site_bottom_navigation">
          <li><a href="http://hasan.we4tech.com">Contact</a></li>
          <li><a href="http://github.com/we4tech/restaurant-review/">Fork on github!</a></li>
        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</body>
</html>