<% 
  object_instance = @restaurant || @related_object 
  case object_instance
	when FoodItem
		object_instance = object_instance.restaurant
  end
%>

<div id="site_center">
  <div class="grid_8 restaurant_details">
    <div class="restaurant_details">
	  <% if object_instance && object_instance.is_a?(Restaurant) %>
      	<%= render :partial => 'pages/parts/links', :object => object_instance %>
      	<div class='space_10'></div>
	  <% end %>

      <%= render :partial => @content_template %>

    </div>
    <div class="clear"></div>

    <div class="space_10"></div>
  </div>

  <div class="grid_4" id="site_center_boxes">

    <% if object_instance && @topic.name == 'restaurant' && object_instance.is_a?(Restaurant) %>
      <div class="site_simple_box restaurant_address" align="center">
        <a href='mailto:biz@welltreat.us?subject=[BIZ knock knock]'
           title="<%= t('title.own_this') %>">
          <%= image_tag('fresh/button_do_u_own_this.png') %>
        </a>
      </div>
      <div class="clear"></div>
      <div class="space_10"></div>
    <% end %>

    <% if object_instance && !(object_instance.address || '').blank? %>
      <div class="site_simple_box restaurant_address">
        <h4>
          <%= t('fields.address') %>
        </h4>
        <% if object_instance.lat.to_i > 0 && object_instance.lng.to_i > 0 %>
          <% map_url = "http://maps.google.com/maps/api/staticmap?center=" +
              "#{object_instance.lat},#{object_instance.lng}&zoom=14&" +
              "sensor=false&markers=color:green|label:R|" +
              "#{object_instance.lat},#{object_instance.lng}&key=#{@topic.gmap_key.blank? ? MAP_API_KEY : @topic.gmap_key}&size="
             details_link = "http://maps.google.com/maps?f=q&" +
                 "q=#{CGI.escape(object_instance.address)}&hl=en&" +
                 "geocode=&sll=#{object_instance.lat},#{object_instance.lng}"
          %>

          <div class="space_5"></div>
          <%= link_to image_tag(map_url + "300x300"), "#{map_url}800x800",
                      :class => 'openUpinLightBox',
                      :title => link_to(t('fields.map'), details_link) %>
        <% end %>
        <address><%= object_instance.address %></address>
      </div>
    <% end %>
    <div class="clear"></div>

	<% if object_instance %>
    	<%= render_who_wanna_go_there(object_instance) %>
    	<%= render :partial => 'layouts/fresh_parts/modules' %>
	<% end %>
  </div>
</div>

<% if object_instance %>
<div class="hreview-aggregate">
   <span class="item">
      <span class="<%= I18n.locale.to_s %>"><%= object_instance.name %></span>
   </span>
   <span class="rating">
      <span class="average"><%= object_instance.rating_out_of(Restaurant::RATING_LIMIT) %></span> out of
      <span class="best"><%= Restaurant::RATING_LIMIT %></span>
   </span>
   based on
   <span class="count"><%= object_instance.reviews.loved.count %></span> ratings.
   <span class="votes"><%= object_instance.reviews.count %></span> user reviews.
</div>

<div class="vcard">
  <span class="<%= I18n.locale.to_s %> org"><%= object_instance.name %></span>
  Located at
  <div class="adr">
    <%= object_instance.address %>
  </div>
   <span class="geo">
      <span class="latitude">
         <span class="value-title" title="<%= object_instance.lat %>"></span>
      </span>
      <span class="longitude">
         <span class="value-title" title="<%= object_instance.lng %>"></span>
      </span>
   </span>
</div>
<% end %>



<script type="text/javascript">
  $(document).ready(function() {
    $(".openUpinLightBox").prettyPhoto();
  });
</script>

