<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>
    Mobile: <%= @topic.site_title %> <%= @site_title ? "&raquo; #{@site_title}" : '' %>
  </title>

  <%= stylesheet_link_tag 'fresh/site.mobile.css' %>
  
  <%= javascript_include_tag 'jquery.min', 'application', :cache => 'cache_mobile' %>

  <meta NAME="Abstract" content="Bangladeshi restaurant, cafe & eat out place review site"/>

  <meta NAME="Robots" content="index,follow"/>
  <% if @meta_description %>
    <meta content="<%= @meta_description %>" name="description">
  <% else %>
    <meta name="description" content="Bangladeshi restaurant, cafe & eat out place review mobile site"/>
  <% end %>

  <% if @meta_keywords %>
    <meta name="keywords" content="<%= @meta_keywords %>"/>
  <% else %>
    <meta name="keywords" content="Mobile Reviews cuisines food chicken meat Bangladesh restaurant cafe eat out dating car parking lot dinner lunch fast food coffee "/>
  <% end %>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="/images/fresh/favicon.gif" type="image/gif"/>

  <%= yield :head %>
</head>

<body>
<div class='mobileContainer'>
  <% if !embedded_view? %>
    <div class='top'>
      <table>
        <tbody>
          <tr>
            <td>
              <div class='logo'>
                <% if @topic.banner_image_path %>
                  <%= link_to image_tag(@topic.banner_image_path), root_url %>
                <% else %>
                  No banner SET!
                <% end %>
              </div>
            </td>
            <td>
              <div class='navigation'>
                <%= render :partial => 'layouts/fresh_parts/top_navigation' %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <div class='clear'></div>

  <div class='contentArea'>
    <%
       flash_message = flash[:notice] || flash[:error] || flash[:success] || ''
    %>
    <% if !flash_message.blank? %>
      <div class="siteMessage">
        <%= flash_message %>
      </div>
    <% end %>

    <div class='content'>
      <%= yield %>
    </div>
  </div>
  <div class='clear'></div>

  <div class='bottom'>
    <div class='siteInfo'>
      <%= @topic.description %><br/>
      <%= link_to 'view in desktop version', root_url(:format => :html) %>
    </div>
    <div class='copyrights'>
      <%= t('footer.copyrights') %>
    </div>
  </div>
</div>

<% if params[:no_script].nil? %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-12009085-1");
      pageTracker._setDomainName(".welltreat.us");
      pageTracker._trackPageview();
    } catch(err) {
    }</script>

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
<% end %>

<%= yield :bottom %>

</body>
</html>