<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>
    <% if @topic %>
      <%= @topic.site_title %> <%= @site_title ? "&raquo; #{@site_title}" : '' %>
    <% end %>
  </title>

  <%= stylesheet_link_tag 'fresh/reset.css', 'fresh/960.css',
                          'fresh/text.css', 'fresh/site.css',
                          :cache => 'cache_all.css' %>
  <%= stylesheet_link_tag 'ext/prettyPhoto.css', 'ext/jquery.bt.css',
                          'jquery-ui-fresh/jquery.css',
                          :cache => 'cache_supporting.js' %>

  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application',
                             :cache => 'cache_all.js' %>

  <%= javascript_include_tag 'jquery.prettyPhoto.js', 'jquery.bt.min.js',
                             'jquery.easing.js', 'jquery.timers.js', 'jquery.scrollTo-1.4.2-min',
                             'jquery.ajaxify.js',
                             :cache => 'cache_supporting.js' %>


  <meta name="robots" content="index,follow"/>


  <% if @topic.meta_tags_html.present? %>
    <%= @topic.meta_tags_html %>
  <% else %>
    <meta name="abstract" content="Bangladeshi and Dhaka restaurant, cafe & eat out place review site"/>
    <% if @meta_description -%>
      <meta content="<%= @meta_description %>" name="description">
    <%- else -%>
      <meta name="description" content="Bangladeshi and Dhaka Restaurant, cafe & eat out place review site"/>
    <%- end -%>

    <%- if @meta_keywords -%>
      <meta name="keywords" content="<%= @meta_keywords %>"/>
    <%- else -%>
      <meta name="keywords" content="Dhaka Restaurant Reviews Restaurant in Bangladesh Restaurant in Dhaka Restaurant Bangladeshi Food bd food food company Cuisines food chicken meat Bangladesh restaurant cafe eat out dating car parking lot dinner lunch fast food coffee "/>
    <%- end -%>

    <link rel="shortcut icon" href="/images/fresh/favicon.gif" type="image/gif"/>
    <link rel="search"
          type="application/opensearchdescription+xml"
          href="/open-search.xml"
          title="Bangladeshi Restaurant Search"/>
  <% end %>

  <!--[if IE]>
    <%= stylesheet_link_tag 'fresh/ie.css' %>
  <![endif]-->

  <style type="text/css">
    <%= @topic.css if @topic %>
  </style>
  <script type="text/javascript">
    var mFormContentChanged = false;
  </script>
</head>


<body<%= @edit_mode ? ' onbeforeunload="return (mFormContentChanged) ? \'- Your unsaved changes will be lost.\' : null"' : '' %>>
<a href="#" style="display:none" id="siteTopLink">Top</a>
<div class="navigation" id='topNavigationBar' style="display: <%= @cached ? 'none' : 'block' %>">
  <% if !@cached %>
    <%= render :partial => 'layouts/fresh_parts/top_navigation_v2' %>
  <% end %>
</div>
<div class="clear"></div>

<div class="container_12 site_body">

  <div id="site_top">
    <div class="grid_11" id="site_logo">
      <div class="site_icon grid_1">
        <% if @topic && @topic.banner_image_path %>
          <%= link_to image_tag(@topic.banner_image_path), root_url %>
        <% else %>
          No banner SET!
        <% end %>
      </div>
      <div class="site_icon_info grid_8 push_2">
        <%= @topic.description if @topic %>
      </div>
    </div>

    <%
       flash_message = !@cached ? (flash[:notice] || flash[:error] || flash[:success]) : nil
    %>
    <div class="site_message" id='siteNoticeBar' style="display: <%= !@cached && flash_message ? 'block' : 'none' %>" onclick="this.style.display = 'none'">
      <%= flash_message %>
    </div>
  </div>
  <div class="clear"></div>

  <div class="site_center_head">
  </div>
  <div id="site_center" style='background: #fff;'>
    <%= yield %>
    <div class="clear"></div>
  </div>
  <div class="site_center_tail">
  </div>
</div>

<div class="clear"></div>
<div id="site_bottom">
  <div class="container_12">
    <div class="space_5 grid_10"></div>
    <div class="space_5 grid_10"></div>

    <%= render_top_contributors(10) %>
    <%= render_top_reviewers(10) %>

    <div class="grid_4 align_right">
      <ul id="site_bottom_navigation">
        <li><%= link_to t('footer.links.biz_contact'), 'mailto:biz@welltreat.us?subject=[Biz talk]' %></li>
        <li>
          <a href="http://hasan.we4tech.com"><%= t('footer.links.dev_blogs') %></a>
        </li>
        <li>
          <a href="http://github.com/we4tech/restaurant-review/"><%= t('footer.links.opensource') %></a>
        </li>
        <li>
          <a href="<%= root_url(:format => 'mobile') %>"><%= t('footer.links.mobile') %></a>
        </li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>
</div>

<% if params[:_test] || session[:_test] %>
  <% session[:_test] = true %>
  <%= javascript_include_tag 'test.js' %>
<% end %>

<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= MAP_API_KEY %>&hl=en" defer="defer"></script>

<% if @cached %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'notice', :d => Time.now.to_i) %>
  <%= javascript_include_tag ajaxified_url_wrap(:fragment_for_url, :name => 'top_menu', :d => Time.now.to_i) %>
<% end %>

<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
  FB.init({appId: '<%= Facebooker.api_key %>', status: true, cookie: true, xfbml: true});
  App.Tasks.executeTasks();
</script>

<% if params[:no_script].nil? %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-12009085-1");
      pageTracker._setDomainName(".welltreat.us");
      pageTracker._trackPageview();
    } catch(err) {
    }</script>

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
<% end %>

<%= render :partial => 'home/parts/new_features_notification' %>
<% if params[:no_script].nil? %>
  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};
    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "welltreatus";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>
<% end %>

</body>
</html>