<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>
    <%= @topic.site_title %> <%= @site_title ? "&raquo; #{@site_title}" : '' %>
  </title>

  <%= stylesheet_link_tag 'fresh/reset.css', 'fresh/960.css', 'fresh/text.css', 'fresh/site.css', :cache => 'cache_all.css' %>
  <%= stylesheet_link_tag 'ext/prettyPhoto.css', 'ext/jquery.bt.css', :cache => 'cache_supporting.js' %>

  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application', :cache => 'cache_all.js' %>
  <%= javascript_include_tag 'jquery.prettyPhoto.js', 'jquery.bt.min.js', :cache => 'cache_supporting.js' %>

  <meta NAME="Keywords" content="Bangladeshi restaurant, cafe & eat out place review site"/>
  <meta NAME="Abstract" content="Bangladeshi restaurant, cafe & eat out place review site"/>

  <meta NAME="Robots" content="index,follow"/>
  <meta NAME="Description" content="Bangladeshi restaurant, cafe & eat out place review site"/>

  <link rel="shortcut icon" href="/images/fresh/favicon.gif" type="image/gif" />

  <style type="text/css">
    <%= @topic.css %>
  </style>
</head>
<body<%= @edit_mode ? ' onbeforeunload="return false"' : '' %>>
<div class="navigation">
  <%= render :partial => 'layouts/fresh_parts/top_navigation' %>
</div>
<div class="clear"></div>

<div class="container_12 site_body">
  <div id="site_top">
    <div class="grid_11" id="site_logo">
      <div class="site_icon grid_1">
        <% if @topic.banner_image_path %>
          <%= link_to image_tag(@topic.banner_image_path), root_url %>
        <% else %>
          No banner SET!
        <% end %>
      </div>
      <div class="site_icon_info grid_8 push_2">
        <%= @topic.description %>
      </div>
    </div>

    <%
       flash_message = flash[:notice] || flash[:error] || flash[:success]
    %>
    <div class="site_message" style="display: <%= flash_message ? 'block' : 'none' %>" onclick="this.style.display = 'none'">
      <%= flash_message %>
    </div>
  </div>
  <div class="clear"></div>

  <div class="site_center_head">
  </div>
  <div id="site_center">
    <%= yield %>
    <div class="clear"></div>
  </div>
  <div class="site_center_tail">
  </div>
</div>

<div class="clear"></div>
<div id="site_bottom">
  <div class="container_12">
    <div class="space_5 grid_10"></div>
    <div class="space_5 grid_10"></div>

    <%= render_top_contributors(10) %>
    <%= render_top_reviewers(10) %>

    <div class="grid_4 align_right">
      <ul id="site_bottom_navigation">
        <li><a href="http://hasan.we4tech.com">Contact</a></li>
        <li><a href="http://github.com/we4tech/restaurant-review/">Fork on github!</a></li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>
</div>

<% if params[:no_script].nil? %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-12009085-1");
  pageTracker._setDomainName(".welltreat.us");
  pageTracker._trackPageview();
  } catch(err) {}</script>

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
<% end %>

<%= render :partial => 'home/parts/new_features_notification' %>
<% if params[:no_script].nil? %>
  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};
    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "welltreatus";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>
<% end %>
</body>
</html>