<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>
    Restaurant review <%= @site_title ? "&raquo; #{@site_title}" : '' %>
  </title>

  <%= stylesheet_link_tag 'fresh/reset.css', 'fresh/960.css', 'fresh/text.css', 'fresh/site.css' %>
  <%= stylesheet_link_tag 'ext/prettyPhoto.css' %>

  <meta NAME="Keywords" content="Bangladeshi restaurant, cafe & eat out place review site"/>
  <meta NAME="Abstract" content="Bangladeshi restaurant, cafe & eat out place review site"/>

  <meta NAME="Robots" content="index,follow"/>
  <meta NAME="Description" content="Bangladeshi restaurant, cafe & eat out place review site"/>

  <link rel="shortcut icon" href="/images/fresh/favicon.gif" type="image/gif" />

</head>
<body>
<div class="navigation">
  <%= render :partial => 'layouts/fresh_parts/top_navigation' %>
</div>
<div class="clear"></div>

<div class="container_12 site_body">
  <div id="site_top">
    <div class="grid_11" id="site_logo">
      <div class="site_icon grid_1">
        <%= link_to image_tag('fresh/icon.png'), root_url %>
      </div>
      <div class="site_icon_info grid_8 push_2">
        why don't you review your favorite restaurant <b>NOW!</b>
        let your friends know which place you have been to recently.
        also let them know whether you <span class="icon_loved">loved it</span>
        or <span class="icon_hated">hated</span> so much!.
      </div>
    </div>

    <div class="site_message" style="display: <%= flash[:notice] ? 'block' : 'none' %>" onclick="this.style.display = 'none'">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="clear"></div>

  <div class="site_center_head">
  </div>
  <div id="site_center">
    <%= yield %>
    <div class="clear"></div>
  </div>
  <div class="site_center_tail">
  </div>
</div>

<div class="clear"></div>
<div id="site_bottom">
  <div class="container_12">
    <div class="space_5 grid_10"></div>
    <div class="space_5 grid_10"></div>

    <%= render_top_contributors(10) %>
    <%= render_top_reviewers(10) %>

    <div class="grid_4 align_right">
      <ul id="site_bottom_navigation">
        <li><a href="http://hasan.we4tech.com">Contact</a></li>
        <li><a href="http://github.com/we4tech/restaurant-review/">Fork on github!</a></li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>
</div>


<%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application', :cache => 'all' %>
<%= javascript_include_tag 'jquery.prettyPhoto.js' %>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12009085-1");
pageTracker._setDomainName(".welltreat.us");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>