<div class='edit_module'>
  <h5 class='bigImageHeader'
      onclick='$(".bigImageHeader").toggle();$("#bigImageSettings").toggle()'>Expand:
    Edit feature images</h5>
  <h5 class='bigImageHeader' style='display:none'
      onclick='$(".bigImageHeader").toggle();$("#bigImageSettings").toggle()'>Collapse:
    Edit feature images</h5>

  <div id='bigImageSettings' style='display: <%= params[:big_image_gallery_show] ? 'block' : 'none' %>'>
    <ul class='images'>
      <% images.each do |image| %>
        <li>
          <%= link_to(image_tag(image.public_filename(:small)), image.public_filename) %>
          <br/>
          <%= link_to t('nav.delete'), image_url(image),
                      :method => :delete, :confirm => t('confirm.delete_image') %>
          | <%= link_to t('nav.edit'), edit_image_url(image) %>
          | <%= link_to image.display? ? 'Hide' : 'Show', show_or_hide_image_url(image) %>
        </li>
      <% end %>
    </ul>
    <div class='clear'></div>
    <div class='break'></div>
    <div class='space_10'></div>
    <h5>Image slider configuration</h5>
    <% form_for config do |f| %>
      <label>Slider type</label>
      <% existing_value = config.data.first ? config.data.first['slider_type'] : '' %>

      <select name='premium_template_element[data][][slider_type]'>
        <% %w{double_fade easy_slide}.each do |type| %>
          <option value='<%= type %>'<%= type == existing_value ? ' selected="selected"' : '' %>><%= type.humanize %></option>
        <% end %>
      </select>

      <%= f.submit t('button.update') %>
    <% end %>

    <div class='space_10'></div>
    <div class='break'></div>

    <h5>Add new image</h5>
    <% form_for MultiImage.new, :url => images_url, :html => {:multipart => true, :method => :post} do |f| %>
      <input type="hidden" name="restaurant_id"
             value="<%= @restaurant.id %>"/>

      <input type='hidden' name='fb_share_off' value='true'/>
      <input type='hidden' name='relate_through' value='related_image'/>
      <%= f.hidden_field :groups, :index => '', :value => key %>
      <input type='hidden' name='return_to'
             value="<%= design_premium_template_url(@premium_template.id, :big_image_gallery_show => true) %>"/>

      <table align="left" class='addGroup'>
        <tr>
          <th>Select file</th>
          <th>Write image caption</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td>
            <%= f.file_field :uploaded_datum, :index => '' %>
          </td>
          <td>
            <%= f.text_field :captions, :index => '' %>
          </td>
        </tr>
        <tr>
          <th colspan="3">Description</th>
        </tr>
        <tr>
          <td colspan="3">
            <%= f.text_area :descriptions, :index => '', :style => 'width: 100%; height: 100px;' %>
          </td>
        </tr>
        <tr>
          <th colspan='3'>Link</th>
        </tr>
        <tr>
          <td colspan='3'>
            <%= f.text_field :links, :index => '', :style => 'width: 100%' %>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <%= f.submit t('button.upload') %>
          </td>
        </tr>
      </table>
      <div class="clear"></div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .images {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .images li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 10px;
    height: 80px;
  }


</style>